{% load static %}

<div class="container">
    <div class="row align-items-stretch mt-5 mb-4">
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_sasv.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="{% url 'sasv' %}" class="d-block">Система аттестации сварочного производства</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_spks.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="#" target="_blank" class="d-block">Совет по профессиональным квалификациям</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_sro.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="{% url 'sro' %}" target="_blank" class="d-block">Саморегулируемая организация НАКС</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_sds.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="#" target="_blank" class="d-block">Система добровольной сертификации</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3  mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_edo.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="https://ac.naks.ru/" target="_blank" class="d-block">Электронный документооборот</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_tk364.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="#" id="text_tk364" target="_blank" class="d-block">Технический комитет Росстандарта "Сварка и родственные процессы"</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_journal.png' %}" id="ico_journal" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="http://svarka.naks.ru/" target="_blank" class="d-block">Журнал "Сварка и диагностика"</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="button-activities">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="{% static 'images/ico_bewelder.gif' %}" alt="" class="img-fluid mx-auto"></td>
                            <td class="px-0"><div class="line-right"></div></td>
                            <td><a href="http://www.bewelder.ru/" target="_blank" class="d-block">База вакансий сварочного производства</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <hr>
</div>