{% load static %}
<div class="cookie-warning bg-secondary py-4">
	<div class="container">
		<a href="javascript:void(0);" class="close text-white ok"><span aria-hidden="true">×</span></a>
		<div class="text-white"><small>Наш веб-сайт использует cookie-файлы для сохранения информации на вашем компьютере. Это позволяет обеспечивать удобный просмотр нашего веб-сайта, а также даёт возможность улучшать его.</small><a href="#" class="btn btn-outline-light btn-xs ml-2">Подробнее<i class="fa fa-angle-right ml-1"></i></a></div>
	</div>
</div>