{% load static %}
<div class="cookie-warning bg-secondary shadow-lg py-4">
	<div class="container">
		<a href="javascript:void(0);" class="close text-light ok"><span aria-hidden="true">×</span></a>
		<div a=" text-white">Наш веб-сайт использует cookie-файлы для сохранения информации на вашем компьютере. Это позволяет обеспечивать удобный просмотр нашего веб-сайта, а также даёт возможность улучшать его.<a href="#" class="btn btn-outline-light btn-sm ml-2">Подробнее<i class="fa fa-angle-right ml-1"></i></a></div>
		
	</div>
</div>