{% load static %}

<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №33 от 09.09.2015г.). Приложение 1</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация персонала сварочного производства"><i class="fa fa-users" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>
		
		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Письмо НАКС №33-2 от 11.04.03г. "Об оформлении аттестационных удостоверений при продлении срока их действия"</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация персонала сварочного производства"><i class="fa fa-users" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Письма об организации аттестации на объектах строительства газопровода "Южный поток"</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация персонала сварочного производства"><i class="fa fa-users" aria-hidden="true"></i></button>

						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">О порядке переоформления свидетельст</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных материалов"><i class="fa fa-wrench" aria-hidden="true"></i></button>

						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочного оборудования"><i class="fa fa-cogs" aria-hidden="true"></i></button>

						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №33 от 09.09.2015г.). Приложение 2</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочного оборудования"><i class="fa fa-cogs" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №34 от 20.01.2016г.). Приложение 1</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочного оборудования"><i class="fa fa-cogs" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr class="d-block d-sm-none">
	</div>

	<div class="col-xs-12 col-sm-6">
		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №36 от 13.06.2017г.)</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №34 от 20.01.2016г.). Приложение 2</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Решение НТС НАКС (протокол №33 от 09.09.2015г.). Приложение 3</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Протокол заседания комитета НТС по сварочным технологиям от 28.10.2009</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Протокол заседания комитета НТС по аттестации сварочных технологий №7 от 03.06.10</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
		<hr>

		<div id="doc_00">
			<div class="row">
				<div class="col">
					<p class="text-secondary mb-3">Протокол заседания комитета НТС по сварочным технологиям от 15.10.2010</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

					<div class="btn-group btn-group-sm d-inline-block" role="group">
						<button type="button" class="btn btn-outline-secondary border-0"  data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Аттестация сварочных технологий"><i class="fa fa-tachometer" aria-hidden="true"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

