{% load static %}

<div class="footer bg-dark text-white w-100 mt-5 py-4">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-2 col-lg-3">
				<div class="text-center text-md-left mb-3">
					<img src="{% static 'images/logo-footer.png' %}" class="img-fluid" alt="Логотип НАКС">
				</div>
				
			</div>
			<div class="col-md-7 col-lg-6">
				<p class="d-none d-md-block text-center"><small>Саморегулируемая организация Ассоциация</small><br><strong>Национальное Агентство Контроля Сварки</strong></p>
				<div class="text-center mb-3" style="font-size: 0.8rem;">
					<a href="#" class="text-white d-block mb-1" target="_blank">Политика обработки ПДн СРО&nbsp;Ассоциация&nbsp;"НАКС"</a>
					<a href="#" class="text-white d-block" target="_blank">Политика обработки ПДн ООО "НЭДК"</a>
				</div>
				<p class="text-center mb-0">© Все права защищены, 2002-2019</p>
			</div>
			<div class="d-none d-md-block col-md-3">
				<p class="contacts-bottom float-right mb-0">
					<a href="tel:+74997847700" class="d-block mb-1"><i class="fa fa-phone-square mr-1"></i>+7 (499) 784-77-00</a>
					<a href="tel:+74997847711" class="d-block mb-1"><i class="fa fa-fax mr-1"></i>+7 (499) 784-77-11</a>
					<a href="mailto:info@naks.ru" class="d-block mb-1"><i class="fa fa-envelope mr-1"></i>info@naks.ru</a>
				</p>
			</div>
		</div>
	</div>
</div>