{% load static %}
<div class="header-menu">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mr-xl-2" href="{% url 'index' %}"><img src="{% static 'images/logo-main.png' %}" class="img-fluid" alt="Логотип НАКС"></a>
            <div class="other-brand">
                <img src="{% static 'images/otherLogo-1.png' %}" class="img-fluid" alt="Логотип Премия Правительства" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Лауреат Премии Правительства РФ в области качества 2012 года">
                <img src="{% static 'images/otherLogo-3.png' %}" class="img-fluid" alt="Логотип Члена МИС" data-toggle="tooltip" data-placement="bottom" title="Член Международного Института Сварки">
                <img src="{% static 'images/otherLogo-2.png' %}" class="img-fluid" alt="Логотип Премия СНГ" data-toggle="tooltip" data-placement="bottom" title="Лауреат Премии СНГ 2013 года за достижения в области качества">
                <img src="{% static 'images/otherLogo-4.png' %}" class="img-fluid" alt="Логотип Премия СНГ" data-toggle="tooltip" data-placement="bottom" title="Система менеджмента качества сертифицирована по ISO 9001:2015">
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""><i class="fa fa-bars" aria-hidden="true"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news' %}">Новости</a>
                    </li>
                    <li class="nav-item mr-xl-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Деятельность <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="dropdown-menu dropdown-menu-right shadow rounded-0" aria-labelledby="navbarDropdown">
                            <div class="row mb-4">
                                <div class="col-sm">
                                    <a href="{% url 'spks' %}" class="dropdown-item" style='font-weight: bold;'>СПКС - Совет по профессиональным квалификациям в области сварки</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'spks_reestr_qual' %}" class="dropdown-item">Оценка квалификаций</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'spks_standarts_ok' %}" class="dropdown-item">Профессиональные стандарты и квалификации</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'monitoring' %}" class="dropdown-item">Мониторинг рынка труда</a>
                                    <div class="dropdown-divider d-xs-block d-sm-none"></div>
                                </div>
                                <div class="col-sm">
                                    <a href="{% url 'sasv' %}" class="dropdown-item" style='font-weight: bold;'>САСв - Система аттестации сварочного производства</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'sasv_ac' %}" class="dropdown-item">Аттестация специалистов сварочного производства</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'sasv_acsm' %}" class="dropdown-item">Аттестация сварочных материалов</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'sasv_acso' %}" class="dropdown-item">Аттестация сварочного оборудования</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'sasv_acst' %}" class="dropdown-item">Аттестация сварочных технологий</a>
                                    <div class="dropdown-divider d-xs-block d-sm-none"></div>
                                </div>
                                <div class="col-sm">
                                    <a href="{% url 'snk' %}" class="dropdown-item" style='font-weight: bold;'>СНК - Система неразрушающего контроля</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Аттестация специалистов неразрушающего контроля</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Аттестация лабораторий неразрушающего контроля</a>
                                    <div class="dropdown-divider d-xs-block d-sm-none"></div>
                                </div>
                                <div class="col-sm">
                                    <a href="{% url 'sds' %}" class="dropdown-item" style='font-weight: bold;'>СДС - Система добровольной сертификации</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'tk364_news' %}" class="dropdown-item" style='font-weight: bold;'>ТК364 - Технический комитет Росстандарта "Сварка и родственные процессы"</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="{% url 'sro' %}" class="dropdown-item" style='font-weight: bold;'>СРО - Саморегулируемая организация Ассоциация НАКС</a>
                                    <div class="dropdown-divider"></div>
                                    <a href='#' class="dropdown-item" target="_blank" style='font-weight: bold;'>НАКС Медиа</a>
                                    <div class="dropdown-divider"></div>
                                    <a href='http://svarka.naks.ru/' class="dropdown-item" target="_blank" style='font-weight: bold;'>Журнал "Сварка и диагностика"</a>
                                    <div class="dropdown-divider"></div>
                                    <a href='http://bewelder.ru/' class="dropdown-item" target="_blank" style='font-weight: bold;'>Bewelder.ru</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-xl-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Реестры <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="dropdown-menu dropdown-menu-right shadow rounded-0" aria-labelledby="navbarDropdown">
                            <div class="row">
                                <div class="col-sm-4">
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'personal' %}">Центры по аттестации сварщиков и специалистов сварочного производства (АЦСП)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'specpod' %}">Центры специальной подготовки (ЦСП)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'attsm' %}">Центры по аттестации сварочных материалов (АЦСМ)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'attso' %}">Центры по аттестации сварочного оборудования (АЦСО)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'attst' %}">Центры по аттестации сварочных технологий (АЦСТ)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'qualification' %}">Центры оценки квалификаций (ЦОКи)</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'reestr:centers' 'certification' %}">Органы по сертификации (ОС)</a>
                                    <div class="dropdown-divider d-xs-block d-sm-none"></div>
                                </div>
                                <div class="col-sm-4">
                                    <a class="dropdown-item" href="{% url 'registry:personal' %}">Реестр аттестованного персонала</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sasv_reestr_sm' %}">Реестр аттестованных сварочных материалов</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sasv_reestr_so' %}">Реестр аттестованного сварочного оборудования</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sasv_reestr_st' %}">Реестр аттестованных сварочных технологий</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'spks_reestr_svid' %}">Реестр свидетельств о квалификации</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Реестр аттестованных специалистов неразрушающего контроля</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Реестр аттестованных лабораторий неразрушающего контроля</a>
                                    <div class="dropdown-divider d-xs-block d-sm-none"></div>
                                </div>
                                <div class="col-sm-4">
                                    <a class="dropdown-item" href="{% url 'sds_reestr_staff' %}">Реестр сертифицированного персонала</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sds_reestr_sm' %}">Реестр сертифицированных сварочных материалов</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sds_reestr_so' %}">Реестр сертифицированного сварочного оборудования</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{% url 'sds_reestr_st' %}">Реестр сертифицированных сварочных технологических процессов</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mr-xl-1">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Документы <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <div class="dropdown-menu dropdown-menu-center shadow rounded-0" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'sasv_docs' %}">Документы САСв</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'spks_docs' %}">Документы СПКС</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Документы СНК</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'sds_docs' %}">Документы СДС</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'tk364_ntd' %}">Документы ТК 364</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'sro_docs' %}">Стандарты и правила НАКС</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'agreement' %}">Партнёры и соглашения</a>
                        </div>
                    </li>
                    <li class="nav-item mr-md-1">
                        <a class="nav-link" href="{% url 'contacts' %}">Контакты</a>
                    </li>
                </ul>
                {% comment %}
                <!--TODO: fix this->
                {% endcomment %}
                <div id="auth_app">
                    {% include 'mainapp/includes/modal/modal-login-account.html' %}
                    <div v-cloak>
                        {% if user.is_authenticated %}
                        <div v-if="logged_in == true" id="btnGroupEntered" class="btn-group">
                            <button id="dropdownMenuButton" class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ user }}<i class="fa fa-angle-down ml-2"></i></button>
                            <div class="dropdown-menu dropdown-menu-center shadow rounded-0" aria-labelledby="dropdownMenuButton">
                                <a @click.prevent="edo_login_by_token" class="dropdown-item" href="#">Вход в ЭДО</a>

                                {% if user.is_staff %}
                                    <a class="dropdown-item" href="/admin" target="_blank">Админка</a>
                                {% endif %}

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" @click.prevent="logout_current_user()">Выйти<i class="fa fa-sign-out ml-1" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a v-else href="#" class="btn btn-primary btn-sign-in" data-toggle="modal" data-target="#modal-authorization"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Войти</a>
                        {% else %}
                        <div v-if="logged_in == true" id="btnGroupEntered" class="btn-group">
                            <button id="dropdownMenuButton" class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">[[ user ]]<i class="fa fa-angle-down ml-2"></i></button>
                            <div class="dropdown-menu dropdown-menu-center shadow rounded-0" aria-labelledby="dropdownMenuButton">
                                <a @click.prevent="edo_login_by_token" class="dropdown-item" href="#">Вход в ЭДО</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" @click.prevent="logout_current_user()">Выйти<i class="fa fa-sign-out ml-1" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <a v-else href="#" class="btn btn-primary btn-sign-in" data-toggle="modal" data-target="#modal-authorization"><i class="fa fa-sign-in mr-2" aria-hidden="true"></i>Войти</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>