{% load static %}

<div class="header-xs d-block d-md-none">
    <img class="img-slider" src="{% static 'images/bg-slide1.png' %}" alt="">
    <div class="container text-white pt-3">
        <h3>Национальное Агентство Контроля Сварки</h3>
        <hr class="header-xs-hr">
        <a href="#" class="text-white">
            <p class="mb-0 mb-sm-2">НАКС создан в 1992 году по инициативе МГТУ им. Н.Э. Баумана совместным решением Президиума Российской академии наук, Министерства науки, высшей школы и технической политики России, Госгортехнадзора России, Госатомнадзора России и Госстандарта России.</p>
        </a>
        <hr class="header-xs-hr">
        <div class="row">
            <div class="col-auto">
                <p class="contacts-top text-white my-2">
                    <a href="tel:+74997847700" class="d-block mb-1"><i class="fa fa-phone-square mr-2"></i>+7 (499) 784-77-00</a>
                    <a href="tel:+74997847711" class="d-block mb-1"><i class="fa fa-fax mr-2"></i>+7 (499) 784-77-11</a>
                    <a href="mailto:info@naks.ru" class="d-block mb-1"><i class="fa fa-envelope mr-2"></i>info@naks.ru</a>
                </p>
            </div>
            <div class="carouselHeader-lang">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item active" aria-current="page">RU</li>
                        <li class="breadcrumb-item"><a href="#" class="text-white">ENG</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-danger btn-sm btn-block" data-toggle="modal" data-target="#frequentlyAskedQuestions"><i class="fa fa-question-circle-o mr-2" aria-hidden="true"></i>Часто задаваемые вопросы</button>
                <a href="agreement.html" class="btn btn-primary btn-sm btn-block"><i class="fa fa-file-text-o mr-2"></i>Партнеры и соглашения</a>
            </div>
        </div>

    </div>
</div>