{% load static %}

<div class="container">
    <div class="nav-docs">
        <div class="row mt-5 mb-4">
            <div class="col-sm-6 col-lg-3 mb-4">
                <button type="button" class="btn btn-outline-danger btn-block active">Все подразделения</button>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <button type="button" class="btn btn-outline-danger btn-block">Аттестационные центры</button>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <button type="button" class="btn btn-outline-danger btn-block">Центры оценки квалификаций</button>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4">
                <button type="button" class="btn btn-outline-danger btn-block">Органы по сертификации</button>
            </div>
        </div>
    </div>
</div>

<!-- Yandex Maps -->
<div id="map" class="map-block w-100">
    <div class="container">
        <button class="btn btn-light btn-sm shadow" data-toggle="modal" data-target="#modalFilterIndexMap"><i class="fa fa-search mr-1"></i>Поиск по области деятельности</button>
    </div>
</div>