{% load static %}

<div id="app_map_points" v-cloak>
    <div class="container">
        <div class="nav-docs">
            <div class="row mt-5 mb-4">
                <div class="col-sm-6 col-lg-3 mb-4">
                    <button @click="buttonPress('sroMembers')" type="button" :class="[show_map=='sroMembers' ? 'btn btn-outline-danger btn-block active' : 'btn btn-outline-danger btn-block']">Члены СРО Ассоциация
                        НАКС</button>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <button @click="buttonPress('allCenters')" type="button" :class="[show_map=='allCenters' ? 'btn btn-outline-danger btn-block active' : 'btn btn-outline-danger btn-block']">Аттестационные центры</button>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <button @click="buttonPress('allCoks')" type="button" :class="[show_map=='allCoks' ? 'btn btn-outline-danger btn-block active' : 'btn btn-outline-danger btn-block']">Центры оценки квалификаций</button>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <button @click="buttonPress('allCertCenters')" type="button" :class="[show_map=='allCertCenters' ? 'btn btn-outline-danger btn-block active' : 'btn btn-outline-danger btn-block']">Органы по сертификации</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Yandex Maps -->
    <div v-if="reestrCenters.length == 0" class="text-center"  style="height: 375px;">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw text-primary"></i>
    </div>
    <div v-else id="map" class="map-block w-100">
        <div class="container">
            <button id="btnFilterIndex" class="btn btn-light btn-sm shadow" data-toggle="modal"
                data-target="#modalFilterIndexMap"><i class="fa fa-search mr-1"></i>Поиск по области
                деятельности</button>

            <div id="btnFilterResultIndex" style="display: none;">
                <button class="btn btn-light btn-sm shadow" type="button" title="сбросить"><i
                        class="fa fa-times text-secondary"></i></button>
                <button class="btn btn-light btn-sm shadow" data-toggle="modal" data-target="#modalFilterIndexMap"
                    title="изменить"><i class="fa fa-edit text-primary"></i><span class="ml-2 text-secondary">Выбрано
                        параметров:&nbsp;<strong class="text-dark">3</strong></span></button>
            </div>
        </div>
    </div>
{% include 'mainapp/includes/modal/modal-filter-index-map.html' %}
</div>