{% load static %}

<!-- Шифр СМ -->
<div id="modalСipherSm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">Шифр СМ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <table class="table table-striped table-sm table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Гг</span>
                                    </label>
                                </td>
                                <td>Газы горючие</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Гз</span>
                                    </label>
                                </td>
                                <td>Газы защитные</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Пм</span>
                                    </label>
                                </td>
                                <td>Порошковые материалы</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Пп</span>
                                    </label>
                                </td>
                                <td>Проволока порошковая и ленты порошковые</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Пр</span>
                                    </label>
                                </td>
                                <td>Припои</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Пс</span>
                                    </label>
                                </td>
                                <td>Проволока сварочная сплошного сечения</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Тм</span>
                                    </label>
                                </td>
                                <td>Термитные материалы</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Ф</span>
                                    </label>
                                </td>
                                <td>Флюсы сварочные</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Эн</span>
                                    </label>
                                </td>
                                <td>Электроды неплавящиеся для дуговой сварки</td>
                            </tr>
                            <tr>
                                <td>
                                    <label class="custom-control custom-checkbox mb-0">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Эп</span>
                                    </label>
                                </td>
                                <td>Электроды плавящиеся для дуговой сварки</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>