{% load static %}

<div class="card-columns">
    <div class="card rounded-0 text-secondary">
        <a href="http://www.gosnadzor.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/rostehnadzor.gif' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">РОСТЕХНАДЗОР</h5>
            <p class="card-text">Федеральная служба по экологическому, технологическому и атомному надзору</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://rosmintrud.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/mintrud.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">Минтруд России</h5>
            <p class="card-text">Министерство труда и социальной защиты Российской Федерации</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://xn--80abucjiibhv9a.xn--p1ai/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/minobr.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">Минобрнауки России</h5>
            <p class="card-text">Министерство образования и науки Российской Федерации</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://www.gost.ru/portal/gost/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/rosstandart.gif' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">РОССТАНДАРТ</h5>
            <p class="card-text">Федеральное агентство по техническому регулированию и метрологии</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://fsa.gov.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/rosakredit.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">Росаккредитация</h5>
            <p class="card-text">Федеральная служба по аккредитации</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://eduso.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/fondobr.gif' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">Фонд Образование Обществу</h5>
            <p class="card-text">Фонд поддержки социальных проектов «Образование обществу»</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://www.gazprom.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/gazprom.svg' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">ПАО «Газпром»</h5>
            <p class="card-text">Публичное акционерное общество «Газпром»</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://www.transneft.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/transneft.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">ПАО «Транснефть»</h5>
            <p class="card-text">Публичное акционерное общество «Транснефть»</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://www.rspp.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/rspp.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">РСПП</h5>
            <p class="card-text">Российский союз промышленников и предпринимателей</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://nark.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/nark.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">НАРК</h5>
            <p class="card-text">Национальное агентство развития квалификаций</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://nark.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/vishka.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">Высшая школа экономики</h5>
            <p class="card-text">Национальный исследовательский университет</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="http://www.tsniis.com/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/cniis.jpg' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">АО ЦНИИС</h5>
            <p class="card-text">Научно-исследовательский институт транспортного строительства</p>
        </div>
    </div>
    <div class="card rounded-0 text-secondary">
        <a href="https://www.xn--m1acci.xn--p1ai/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/npso.png' %}" alt="Logo"></a>
        <div class="card-body border-top-0">
            <h5 class="card-title text-dark">НПСО</h5>
            <p class="card-text">Национальное Промышленное Сварочное Сообщество</p>
        </div>
    </div>

    <div id="blockPartners_02" style="display: none;">
        <div class="card rounded-0 text-secondary">
            <a href="https://nark.ru/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/vishka.png' %}" alt="Logo"></a>
            <div class="card-body border-top-0">
                <h5 class="card-title text-dark">Высшая школа экономики</h5>
                <p class="card-text">Национальный исследовательский университет</p>
            </div>
        </div>
        <div class="card rounded-0 text-secondary">
            <a href="http://www.tsniis.com/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/cniis.jpg' %}" alt="Logo"></a>
            <div class="card-body border-top-0">
                <h5 class="card-title text-dark">АО ЦНИИС</h5>
                <p class="card-text">Научно-исследовательский институт транспортного строительства</p>
            </div>
        </div>
        <div class="card rounded-0 text-secondary">
            <a href="https://www.xn--m1acci.xn--p1ai/" target="_blank"><img class="card-img-top p-3" src="{% static 'images/npso.png' %}" alt="Logo"></a>
            <div class="card-body border-top-0">
                <h5 class="card-title text-dark">НПСО</h5>
                <p class="card-text">Национальное Промышленное Сварочное Сообщество</p>
            </div>
        </div>
    </div>
</div>
