{% load static %}

<table class="table table-hover table-striped table-nts mb-0" id="table-composition">
    <tr>
        <td>1.</td>
        <th>Комитет по научно-методической работе</th>
        <td>руководитель Жабин Александр Николаевич</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:info@naks.ru">info@naks.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(499) 784-72-79</a></div>
        </td>
    </tr>
    <tr>
        <td>2.</td>
        <th>Комитет по аттестации персонала</th>
        <td>руководитель Орлов Александр Семёнович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:vfl1@bk.ru">alex@mk.vrn.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74732783015">(473) 278-30-15</a></div>
        </td>
    </tr>
    <tr>
        <td>3.</td>
        <th>Комитет по аттестации сварочных материалов</th>
        <td>руководитель Штоколов Сергей Александрович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:niimontag@mail.ru">niimontag@mail.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(8632) 73-85-91</a></div>
        </td>
    </tr>
    <tr>
        <td>4.</td>
        <th>Комитет по аттестации сварочного оборудования</th>
        <td>руководитель Бродягин Владимир Николаевич</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:ac-mosgaz@yandex.ru">ac-mosgaz@yandex.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(861) 246-58-53</a></div>
        </td>
    </tr>
    <tr>
        <td>5.</td>
        <th>Комитет по аттестации сварочных технологий</th>
        <td>руководитель Малолетков Алексей Владимирович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:avmaloletkov@gac-mr-naks.ru">avmaloletkov@gac-mr-naks.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(499) 369-64-70</a></div>
        </td>
    </tr>
    <tr>
        <td>6.</td>
        <th>Комитет по неразрушающему контролю</th>
        <td>руководитель Дымкин Григорий Яковлевич</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:gdymkin@gmail.com">gdymkin@gmail.com</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(499) 261-36-11</a></div>
        </td>
    </tr>
    <tr>
        <td>7.</td>
        <th>Комитет по международной деятельности</th>
        <td>руководитель Смородинский Яков Гаврилович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:sm@imp.uran.ru">sm@imp.uran.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(812) 310-33-26</a></div>
        </td>
    </tr>
    <tr>
        <td>8.</td>
        <th>Комитет по апелляциям</th>
        <td>руководитель Муравская Наталья Павловна</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:muravskaya-d4@vniiofi.ru"> muravskaya-d4@vniiofi.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(495) 437-33-56</a></div>
        </td>
    </tr>
    <tr>
        <td>9.</td>
        <th>Комитет по информационным технологиям</th>
        <td>руководитель Попов Анатолий Викторович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:soft@naks.ru">soft@naks.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(499) 784-72-87</a></div>
        </td>
    </tr>
    <tr>
        <td>10.</td>
        <th>Комитет по полимерным технологиям</th>
        <td>руководитель Кочетов Михаил Вениаминович</td>
        <td>
            <div class="mb-2"><i class="fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:kochetov-kot@mail.ru">kochetov-kot@mail.ru</a></div>
            <div><i class="fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847279">(916) 010-57-38</a></div>
        </td>
    </tr>
</table>
