{% load static %}

<table class="table table-hover table-striped table-nts mb-0" id="table-composition">
    <tr>
        <td>1.</td>
        <th width="30%">Алёшин Николай Павлович</th>
        <td>Президент НАКС, академик РАН - председатель НТС НАКС</td>
    </tr>
    <tr>
        <td>2.</td>
        <th>Беспалов Владимир Иванович</th>
        <td>генеральный директор АНО «АЦ «НАКС ПРОМ» (по согласованию)</td>
    </tr>
    <tr>
        <td>3.</td>
        <th>Бродягин Владимир Николаевич</th>
        <td>заместитель генерального директора ООО «Аттестационный Центр Городского Хозяйства» (по согласованию)</td>
    </tr>
    <tr>
        <td>4.</td>
        <th>Вышемирский Евгений Мстиславович</th>
        <td>начальник Отдела главного сварщика Департамента капитального ремонта ПАО «Газпром» (по согласованию)</td>
    </tr>
    <tr>
        <td>5.</td>
        <th>Гортышов Юрий Федорович</th>
        <td>Президент ФГБОУ ВПО «Казанский национальный исследовательский технический университет» им. А.Н. ТУПОЛЕВА-КАИ (по согласованию)</td>
    </tr>
    <tr>
        <td>6.</td>
        <th>Гребенчук Виктор Георгиевич</th>
        <td>заместитель директора филиала ОАО НИИ транспортного строительства, филиал «НИЦ «Мосты» (по согласованию)</td>
    </tr>
    <tr>
        <td>7.</td>
        <th>Дымкин Григорий Яковлевич</th>
        <td>директор филиала «НК-Центр» НИИ мостов и дефектоскопии Федерального агентства железнодорожного транспорта (по согласованию)</td>
    </tr>
    <tr>
        <td>8.</td>
        <th>Ездаков Юрий Борисович</th>
        <td>генеральный директор ЗАО «Уралтермосвар» (по согласованию)</td>
    </tr>
    <tr>
        <td>9.</td>
        <th>Жабин Александр Николаевич</th>
        <td>заместитель генерального директора СРО НП «НАКС»</td>
    </tr>
    <tr>
        <td>10.</td>
        <th>Казаченок Сергей Сергеевич</th>
        <td>начальник экспертного отдела ООО «НЭДК» (по согласованию)</td>
    </tr>
    <tr>
        <td>11.</td>
        <th>Котельников Владимир Семёнович</th>
        <td>генеральный директор ОАО «НТЦ Промышленная безопасность» (по согласованию)</td>
    </tr>
    <tr>
        <td>12.</td>
        <th>Кочетов Михаил Вениаминович</th>
        <td>заместитель генерального директора ООО «ЦентрТехФорм» (по согласованию)</td>
    </tr>
    <tr>
        <td>13.</td>
        <th>Лысак Владимир Ильич</th>
        <td>ректор ФГБОУ ВПО «Волгоградский государственный технический университет», академик РАН (по согласованию)</td>
    </tr>
    <tr>
        <td>14.</td>
        <th>Малолетков Алексей Владимирович</th>
        <td>генеральный директор ООО «Головной аттестационный центр Межрегиональный Национального Агентства Контроля и Сварки» (по согласованию)</td>
    </tr>
    <tr>
        <td>15.</td>
        <th>Манзон Валерий Иосифович</th>
        <td>начальник отдела ЗАО НПФ «Инженерный и технологический сервис» (по согласованию)</td>
    </tr>
    <tr>
        <td>16.</td>
        <th>Марков Николай Николаевич</th>
        <td>заместитель генерального директора ООО «НЭДК» (по согласованию)</td>
    </tr>
    <tr>
        <td>17.</td>
        <th>Муравская Наталья Павловна</th>
        <td>заместитель директора по качеству ФГУП ВНИИ оптико-физических измерений Федерального агентства по техническому регулированию и метрологии РФ (по согласованию)</td>
    </tr>
    <tr>
        <td>18.</td>
        <th>Орлов Александр Семёнович</th>
        <td>заведующий кафедрой металлических конструкций и сварки в строительстве ФГБОУ ВПО «Воронежский государственный архитектурно-строительный университет», директор Центра переподготовки специалистов сварочного производства (по согласованию)</td>
    </tr>
    <tr>
        <td>19.</td>
        <th>Попов Анатолий Викторович</th>
        <td>начальник аналитического отдела ООО «НЭДК» (по согласованию)</td>
    </tr>
    <tr>
        <td>20.</td>
        <th>Потапов Николай Николаевич</th>
        <td>заведующий лабораторией ОАО «ЦНИИТМАШ» (по согласованию)</td>
    </tr>
</table>
