{% load static %}

<!-- Технические устройства -->
<div id="modalTechnicalDevices" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Группы технических устройств</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="scrollspy-modal">
                        <!-- gtu -->
                        {% include 'reestr/includes/reestr_filter_table_gtu.html' %}
                        <!-- gtu -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn btn-link btn-sm" data-dismiss="modal">Закрыть</button>
                </div>
            </form>
        </div>
    </div>
</div>