{% load static %}
<!-- Регистрация -->
<div id="registration-page" style="display: none;">
    <div class="modal-header">
        <h5 class="modal-title">Регистрация</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div id="reg-fields">
        <form>
            <div class="modal-body">
                <div v-if="showSpinner">
                    <i class="fa fa-spinner fa-spin fa-3x fa-fw text-primary"></i>
                </div>
                <div v-else-if="token && registered" id="reg-info">
                    <div class="alert alert-info rounded-0 text-sm" role="alert">
                        <p class="mb-0">Пользователь зарегистрирован и авторизован.
                            Вам отправлено письмо со ссылкой-подтверждением.
                            Для окончания регистрации пройдите по ссылке в письме.<br>
                            <strong>Окно можно закрыть.</strong>
                        </p>
                    </div>
                </div>
                <div v-else class="alert alert-warning alert-dismissible fade show rounded-0 text-sm" role="alert">
                    <p>Личный кабинет <strong>юридического лица</strong> позволяет заполнять заявки на аттестацию персонала сварочного производства, сварочных материалов (СМ), сварочного оборудования (СО) и сварочных технологий (СТ)</p>
                    <p class="mb-0">Регистрация в качестве <strong>физического лица</strong> даёт возможность заполнять заявки ТОЛЬКО на аттестацию персонала сварочного производства</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-9 mx-auto pr-0">
                        <p class="text-secondary">
                            Выберите юридический статус пользователя
                        </p>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input v-model="urStatus" type="radio" id="radio-ul" name="ul-fl" value="UL" class="custom-control-input">
                            <label class="custom-control-label" for="radio-ul">Юридическое лицо</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input v-model="urStatus" type="radio" id="radio-fl" name="ul-fl" value="FL" class="custom-control-input">
                            <label class="custom-control-label" for="radio-fl">Физическое лицо</label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-9 mx-auto">
                        <div class="form-group">
                            <label for="">E-mail (логин)</label>
                            <input v-model="username" type="email" class="form-control" :class="{'is-invalid': form_errors.email.message.length > 0}" aria-describedby="emailHelp">
                            <div v-if="form_errors.email.message.length > 0" class="invalid-feedback">
                                <div v-html="form_errors.email.message"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Пароль</label>
                            <input v-model="password" type="password" class="form-control" :class="{'is-invalid': form_errors.password.message.length > 0}">
                            <div v-if="form_errors.password.message.length > 0" class="invalid-feedback">
                                <div v-html="form_errors.password.message"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-9 mx-sm-auto">
                        <p class="mb-2">Регистрируясь, Вы принимаете <a href="#" target="_blank">пользовательское соглашение</a></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container-fluid p-0">
                    <div class="row">
                        <div class="col-sm-9 mx-auto">
                            <div class="row">
                                <div class="col pr-0">
                                    <button @click.prevent="register_user()" type="button" class="btn btn-primary btn-block" id="save-reg">Зарегистрироваться</button>
                                </div>
                                <div class="col">
                                    <button @click.prevent="toggle_login_panel()" type="button" class="btn btn-outline-secondary btn-block">Вход</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input v-model="stupidpot" type="hidden" name="this field must be blank!">
        </form>
    </div>
</div>