django-ckeditor
djangorestframework
django-rest-auth
libsass 
django-compressor 
django-sass-processor
django-simple-captcha
django-prettyjson
django-admin-rangefilter
psycopg2
django-stdimage
requests
mixer
Pillow==6.2.0
pytest==5.1.0
pytest-django==3.5.1
django-stdimage-serializer==0.1.2
mock==3.0.5
fabric