.table-main {
    background-color: #fff;

    td {
        text-align: center;
    }

    a {
        white-space: nowrap;
    }

    // .fa {font-size: 1rem;}

    .checkbox label {
        margin-bottom: 0;
        margin-top: 5px;
    }

    .numb-records {
        font-style: italic;
        color: #6c757d;

        p {
            margin-bottom: 0;
            color: #333;
        }

        span {
            font-style: normal;
            font-weight: bold;
        }

        button {
            font-size: 0.8rem;
            font-style: normal;

            .badge {
                font-size: 0.8rem;
            }
        }
    }

    td.record-profile {
        text-align: left;
        border-top: 2px solid #28a745 !important;
        background-color: #fff;

        .table-sm {
            th {
                color: #6c757d;
                text-transform: uppercase;
                font-size: 0.6rem;
            }

            td {
                text-align: center;
                background-color: #fff;
            }
        }
    }
}

.table-documents {
    background-color: #fff;
    font-size: $text-sm;

    td {
        text-align: center;

        &:last-child

        /*&:nth-child(4),
        &:nth-child(5),
        &:nth-child(8),
        &:nth-child(9),
        &:nth-child(10)*/
            {
            text-align: left;
        }

        a {
            white-space: nowrap;
        }

        .badge-info {
            width: 70px;
        }

        .fa-bars {
            font-size: 1rem;
        }

        .dropdown-toggle::after {
            display: none;
        }

        .dropdown-menu {
            .dropdown-item {
                font-size: $text-sm;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }

    td.experts {
        white-space: nowrap;
        font-size: 0.75rem;

        p {
            margin-bottom: 0.25rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        p.chairman {
            font-weight: bold;
        }
    }
}