{% load static %}
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-4ЦСП</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-5ЦСП</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-6ЦСП</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-7ЦСП</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-8ЦСП</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-9ЦСП</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП0</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП1</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП2</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП3</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП4</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП5</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП6</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП7</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП8</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-1ЦСП9</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП0</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП1</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП2</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП3</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП4</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП5</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП6</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП7</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП8</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-2ЦСП9</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП0</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП1</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП2</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП3</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП4</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП5</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП6</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="{% url 'reestradmin:csp_profile' %}">АЦ-3ЦСП7</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
        </ul>
    </div>
</div>