{% load static %}
<div class="container">
    <div class="static-text static-text-sm">
        <div id="infoEdit">
            <h5>БР-3ЦСП</h5>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Наименование организации:</div>
                    </div>
                    <div class="col-md-9">
                        <a href="{% url 'reestradmin:organization_edit' %}">ООО "Головной аттестационно - сертификационный центр Республики Башкортостан"</a>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">ИНН:</div>
                    </div>
                    <div class="col-md-9">
                        7701848850
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Страхование деятельности до:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-danger dot-danger" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Страхование деятельности заканчивается" data-original-title="" title="">11.06.2020</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                    </div>
                    <div class="col-md-9">
                        <div>c 11.04.2018 по 11.04.2021</div>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Город:</div>
                    </div>
                    <div class="col-md-9">
                        Уфа
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Юридический адрес:</div>
                    </div>
                    <div class="col-md-9">
                        450001, Республика Башкортостан, город Уфа, улица Пархоменко, дом 155, корпус 1
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Фактический адрес:</div>
                    </div>
                    <div class="col-md-9">
                        450001, Республика Башкортостан, город Уфа, улица Пархоменко, дом 155, корпус 1
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Почтовый адрес:</div>
                    </div>
                    <div class="col-md-9">
                        450000, Республика Башкортостан, город Уфа, а/я 033
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Телефон / Факс:</div>
                    </div>
                    <div class="col-md-9">
                        <span>телефон: (347) 246-87-26, 216-42-33</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">E-mail:</div>
                    </div>
                    <div class="col-md-9">
                        <a href="mailto:info@gacmrnaks.ru">gac_rb@ufamail.ru</a>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Руководитель центра:</div>
                    </div>
                    <div class="col-md-9">
                        Сафархузина Полина Валерьевна
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Руководитель организации:</div>
                    </div>
                    <div class="col-md-9">
                        Атрощенко Валерий Владимирович
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Доступ в систему:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-success text-bold"><i class="fa fa-check mr-1"></i>открыт</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Логин / E-mail для восстановления:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-bold">br3csp</span><a href="mailto:info@gacmrnaks.ru" class="ml-2">gac_rb@ufamail.ru</a>
                    </div>
                </div>
            </div>
            <!-- <div class="row-main">
                <button type="submit" class="btn btn-primary btn-sm">Выгрузить на сайт<i class="fa fa-angle-right ml-1"></i></button>
                <button id="btnEditInfo" class="btn btn-outline-primary btn-sm" type="button">Изменить</button>
            </div> -->
        </div>
    </div>
</div>