{% load static %}
<div class="breadcrumb-block my-1">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-10 col-xl-11">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Текущая страница</li>
                    </ol>
                </nav>
            </div>
            <!-- <div class="d-none d-sm-block col-sm-2 col-xl-1"><a href="#" class="btn btn-outline-primary btn-block btn-xs" id="ago"><i class="fa fa-angle-left mr-1"></i>Назад</a></div> -->
        </div>
    </div>
</div>