{% load static %}
<footer>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="d-none d-md-block col-md-2 col-xl-1">
                <a href="http://naks.ru/"><img src="{% static 'images/logo-bottom.png' %}" class="img-fluid" alt="Логотип НАКС"></a>
            </div>
            <div class="col-sm-7 col-md-5 col-xl-5 order-2 order-sm-1">
                <h5>Национальное Агентство Контроля Сварки<br><small>©&nbsp;Все права защищены, 2009-2019</small></h5>
            </div>
            <div class="col-sm-5 col-md-5 col-xl-6 order-1 order-sm-2">
                <div class="footer-link text-lg-right">
                    <a href="http://ac.naks.ru/">САСв</a>
                    <a href="http://spks.naks.ru/">СПКС</a>
                    <a href="http://sro.naks.ru/">СРО НАКС</a>
                    <a href="http://cert.naks.ru/">СДС&nbsp;НАКС</a>
                    <a href="http://tk364.naks.ru/">ТК-364</a>
                </div>
            </div>
        </div>
    </div>
</footer>