{% load static %}
<header>
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-3 col-md-2 col-xl-2 text-center text-sm-left">
                <a href="http://naks.ru/"><img src="{% static 'images/logo_naks.png' %}" class="img-fluid" alt="Логотип НАКС"></a>
            </div>
            <div class="col-sm-9 col-md-7 col-xl-8 text-center">
                <h4>Электронный документооборот</h4>
            </div>
            <div class="d-none d-md-block col-md-3 col-xl-2">
                <div class="header-contacts pull-right">
                    <a href="tel:+74997847700"><i class="fa fa-phone-square mr-2"></i>+7 (499) 784-77-00</a>
                    <a href="mailto:spks@naks.ru"><i class="fa fa-envelope mr-2"></i>office@naks.ru</a>
                </div>
            </div>
        </div>
    </div>
</header>