{% load static %}
<div class="name-page">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-7">
                <h6>Личный кабинет</h6>
            </div>
            <div class="col-sm-5">
                <div class="name-page-right text-sm-right">
                    <span>Center</span>
                    <a href="authorization.html"><i class="fa fa-sign-out mr-1"></i>Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>