{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">{{ direction.registry_name }}</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ direction.centers_plural }}</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/sasv/mobil-right-menu-sasv.html' %}
            </div>
            <!-- End mobil right main -->

            <h5 class="text-primary mt-2 mb-4">{{ direction.centers_plural }} на карте</h5>

            <!-- Yandex Maps -->
            <div id="map" class="w-100"></div>
            <!-- End map -->

            <hr class="mt-4">

            <div id="ac-staff">
                <h5 class="text-primary my-4">{{ direction.registry_name }}</h5>
                <!-- Поиск АЦ -->
                <form class="mt-4 mb-3">
                    <div class="row align-items-center mb-2">
                        <div class="col-auto">
                            <h6 class="font-weight-bold mb-0">Быстрый поиск</h6>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-secondary btn-sm float-right">Подробный поиск<i class="fa fa-angle-up ml-1"></i></button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-5">
                            <label for="" class="pb-0 col-form-label-sm">Название <span class="text text-secondary">(например, "ГАЦ РБ")<span></label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-5">
                            <label for="" class="pb-0 col-form-label-sm">Город</label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox col-form-label-sm">
                            <input type="checkbox" class="custom-control-input" id="including-tn">
                            <label class="custom-control-label" for="including-tn">- АЦ, осуществляющие аттестацию на объектах ПАО "АК "Транснефть"</label>
                        </div>
                        <div class="custom-control custom-checkbox col-form-label-sm">
                            <input type="checkbox" class="custom-control-input" id="including-gp">
                            <label class="custom-control-label" for="including-gp">- АЦ, осуществляющие аттестацию на объектах ПАО "Газпром"</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-search"></i> Найти</button>
                            <button type="button" class="btn btn-link btn-sm">Сбросить</button>
                        </div>
                    </div>
                </form> <!-- конец поиска АЦ -->

                <hr class="mt-4">

                <div class="row">
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-all-ac mb-0">
                                {% for center in active_centers.left %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                            </div>
                        </div>

                        <div class="col-xs-12 col-xl-6">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-all-ac mb-0">
                                {% for center in active_centers.right %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4">

                    <h5 class="text-primary my-4">Аттестационные центры, прекратившие деятельность</h5>
                    <div class="row">
                        <div class="col-xs-12 col-xl-6">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-all-ac table-excluded-ac mb-0">
                                {% for center in inactive_centers.left %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                                </table>
                            </div>

                        </div>
                        <div class="col-xs-12 col-xl-6">
                            <div class="table-responsive">
                                <table class="table  table-hover table-striped table-all-ac table-excluded-ac mb-0">
                                {% for center in inactive_centers.right %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4">

                    <h5 class="text-primary my-4">Деятельность центров временно приостановлена</h5>
                    <div class="row">
                        <div class="col-xs-12 col-xl-6">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-all-ac table-paused-ac mb-0">
                                {% for center in suspended_centers.left %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                                </table>
                            </div>

                        </div>
                        <div class="col-xs-12 col-xl-6">
                            <div class="table-responsive">
                                <table class="table  table-hover table-striped table-all-ac table-paused-ac mb-0">
                                {% for center in suspended_centers.right %}
                                    {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-4">
                </div>
            </div>

            <div class="d-none d-md-block col-md-4 col-xl-3">
                <!-- Content Right menu -->
                {% include 'mainapp/includes/sasv/right-menu-sasv.html' %}
                <!-- End Content Right menu -->
            </div>
        </div>

    </div>

    {% endblock %}
