{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->


{% if direction.title == 'qualification' %}

<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'spks' %}">СПКС</a></li>
            <li class="breadcrumb-item active" aria-current="page">Центры оценки квалификаций</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div>
            <!-- End mobil right main -->
            <h5 class="text-primary mt-2 mb-4">Центры оценки квалификаций на карте</h5>
            <!-- Yandex Maps -->
            <div id="app_map_points">
                <div ref="direction" data-direction="allCoks"></div>
                <div id="map" class="w-100"></div>
            </div>
            <!-- End map -->
            <hr class="mt-4">
            <div id="app_reestr_cok" v-cloak>
                <div ref="direction" data-direction="{{ direction.title }}"></div>

                <!-- v-cloak -->
                <h5 class="text-primary my-4">Реестр центров оценки квалификаций</h5>
                <!-- Поиск ЦОК -->
                <form class="mt-4 mb-3">
                    <h6 class="font-weight-bold">Быстрый поиск центра</h6>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label for="" class="pb-0 col-form-label-sm">Название<i class="fa fa-info-circle text-secondary ml-2" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Можно указать номер центра, наименование организации, в т.ч. частично"></i></label>
                            <input v-model="search_parameters.title" type="text" class="form-control form-control-sm">
                        </div>
                        <div class="form-group col-6 col-lg-4">
                            <label for="" class="pb-0 col-form-label-sm">Город</label>
                            <input v-model="search_parameters.city" type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="alert alert-active shadow-sm text-sm rounded-0 mb-3 py-2">
                        <div v-if="search_parameters.qualifications.length > 0" id="selectedOptions">
                            <span class="text-secondary mr-3">Выбрано параметров: <strong class="text-dark">[[search_parameters.qualifications.length]]</strong></span>
                            <a href="#" class="text-sm" data-toggle="modal" data-target="#modalFilterReestrAc"><i class="fa fa-edit">&nbsp;</i>Изменить</a>
                        </div>
                        <a v-else href="#" id="btnFilterAc" data-toggle="modal" data-target="#modalFilterReestrAc">Поиск по области деятельности<i class="fa fa-angle-right ml-1"></i></a>
                    </div>
                    <div v-if="filteredCenters.length < reestrCenters.length" class="text-sm">
                        <button type="button" @click="resetSearch()" class="btn btn-outline-primary btn-sm">Сбросить</button>
                        <span class="text-secondary ml-2">Найдено: <strong class="text-dark">[[ filteredCenters.length ]]</strong></span>
                    </div>
                </form> <!-- конец поиска ЦОК -->
                <hr class="mt-4">
                <div v-if="reestrCenters.length == 0">
                    <i class="fa fa-spinner fa-spin fa-3x fa-[fw text-primary"></i>
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="data-list">
                    <div v-for="(cok, index) in filteredCenters" class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">[[ cok.short_code ]] ([[ cok.cok_nark_code ]])</div>
                                <small>[[ cok.active_since ]]&nbsp;-&nbsp;[[ cok.active_until ]]</small>
                            </div>
                            <div class="col-lg"><a href="#">[[ cok.company ]]</a></div>
                            <div class="col-lg-2">[[ cok.city ]]</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-002 (35.001)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">АНО "ВРАЦ"</a></div>
                            <div class="col-lg-2">Вологда</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-005 (74.003)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО "ЦПС "Сварка и Контроль"</a></div>
                            <div class="col-lg-2">Вологда</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-006 (86.002)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО АЦ "НАКС - Западная Сибирь"</a></div>
                            <div class="col-lg-2">Сургут</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-015 (35.001)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО "ГАЦ ВВР"</a></div>
                            <div class="col-lg-2">Нижний Новгород</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-001 (77.014)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО "ГАЦ МР НАКС"</a></div>
                            <div class="col-lg-2">Москва</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-002 (35.001)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">АНО "ВРАЦ"</a></div>
                            <div class="col-lg-2">Вологда</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-005 (74.003)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО "ЦПС "Сварка и Контроль"</a></div>
                            <div class="col-lg-2">Вологда</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-006 (86.002)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО АЦ "НАКС - Западная Сибирь"</a></div>
                            <div class="col-lg-2">Сургут</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div>
                    <div class="data-list-item">
                        <div class="row align-items-center">
                            <div class="col-lg-3">
                                <div class="d-inline-block d-lg-block text-bold mr-2">ЦОК-015 (35.001)</div>
                                <small>16.02.2018&nbsp;-&nbsp;16.02.2021</small>
                            </div>
                            <div class="col-lg"><a href="#">ООО "ГАЦ ВВР"</a></div>
                            <div class="col-lg-2">Нижний Новгород</div>
                            <div class="col-lg-3 text-lg-center">
                                <a href="#" data-toggle="modal" data-target="#modal-authorization" class="btn btn-outline-primary btn-xs mt-1 mt-lg-0">Подать заявку</a>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    {% include 'mainapp/includes/modal/modal-filter-reestr-ac.html' %}

                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>

{% else %}

<div class="container">
    <h4 class="text-dark mt-5">{{ direction.registry_name }}</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ direction.centers_plural }}</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/sasv/mobil-right-menu-sasv.html' %}
            </div>
            <!-- End mobil right main -->
            <h5 class="text-primary mt-2 mb-4">{{ direction.centers_plural }} на карте</h5>
            <!-- Yandex Maps -->
            <div id="app_map_points">
                <div ref="direction" data-direction="{{ direction.title }}"></div>
                <div id="map" class="w-100"></div>
            </div>
            <!-- End map -->
            <hr class="mt-4">
            <div id="app_reestr_centers" v-cloak>
                <div ref="direction" data-direction="{{ direction.title }}"></div>
                <h5 class="text-primary my-4">{{ direction.registry_name }}</h5>
                <!-- Поиск АЦ -->
                <form method="post" class="mt-4 mb-3">
                    <h6 class="font-weight-bold">Быстрый поиск</h6>
                    <div class="form-row">
                        <div class="form-group col-xs-12 col-sm-6 col-md-5">
                            <label for="" class="pb-0 col-form-label-sm">Название<i class="fa fa-info-circle text-secondary ml-2" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Можно указать шифр центра, наименование организации, в т.ч. частично"></i></label>
                            <input v-model="title_input" @input="onTitleInput()" type="text" class="form-control form-control-sm">
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 col-md-5">
                            <label for="" class="pb-0 col-form-label-sm">Город</label>
                            <input v-model="city_input" @input="onCityInput()" type="text" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="custom-control custom-checkbox col-form-label-sm">
                            <input v-model="special_tn" @change="onSpecialsTnChekbox" value="special_tn" type="checkbox" class="custom-control-input" id="including-tn">
                            <label class="custom-control-label" for="including-tn">- АЦ, осуществляющие аттестацию на объектах ПАО "АК "Транснефть"</label>
                        </div>
                        <div class="custom-control custom-checkbox col-form-label-sm">
                            <input v-model="special_gp" @change="onSpecialsGpChekbox" value="special_gp" type="checkbox" class="custom-control-input" id="including-gp">
                            <label class="custom-control-label" for="including-gp">- АЦ, осуществляющие аттестацию на объектах ПАО "Газпром"</label>
                        </div>
                        {% comment %} <div class="alert alert-info">TN [[ special_tn ]], GP [[ special_gp ]]</div> {% endcomment %}
                    </div>
                    <div class="alert alert-active shadow-sm text-sm rounded-0 mb-3 py-2">
                        <div v-if="selected_lengths_sum() > 0" id="selectedOptions">
                            <span class="text-secondary mr-3">Выбрано параметров: <strong class="text-dark">[[ selected_lengths_sum() ]]</strong></span>
                            <a href="#" class="text-sm" data-toggle="modal" data-target="#modalFilterReestrAc"><i class="fa fa-edit">&nbsp;</i>Изменить</a>
                        </div>
                        <a v-else href="#" id="btnFilterAc" data-toggle="modal" data-target="#modalFilterReestrAc">Поиск по области деятельности<i class="fa fa-angle-right ml-1"></i></a>
                    </div>
                    <!-- <button v-on:click.prevent="server_search" class="btn btn-outline-primary btn-sm"><i class="fa fa-search mr-1"></i>Найти</button> -->
                    <div class="text-sm" v-if="on_screen.length > 0">
                        <button v-on:click.prevent="reset_filters" type="button" class="btn btn-outline-primary btn-sm">Сбросить</button>
                        <span class="text-secondary ml-2">Найдено: <strong class="text-dark">[[ on_screen.length ]]</strong></span>
                    </div>
                </form> <!-- конец поиска АЦ -->
                <hr class="mt-4">
                <div class="row">
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-all-ac mb-0" id="tableActingAc_01">
                                {% for center in active_centers.left %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-all-ac mb-0" id="tableActingAc_02">
                                {% for center in active_centers.right %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="mt-4">
                <h5 class="text-primary my-4">Деятельность центров временно приостановлена</h5>
                <div class="row">
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-all-ac table-paused-ac mb-0" id="tablePausedAc_01">
                                {% for center in suspended_centers.left %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table  table-hover table-striped table-all-ac table-paused-ac mb-0" id="tablePausedAc_02">
                                {% for center in suspended_centers.right %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="mt-4">
                <h5 class="text-primary my-4">Аттестационные центры, прекратившие деятельность</h5>
                <div class="row">
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table table-hover table-striped table-all-ac table-excluded-ac mb-0" id="tableExcludedAc_01">
                                {% for center in inactive_centers.left %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="col-xs-12 col-xl-6">
                        <div class="table-responsive">
                            <table class="table  table-hover table-striped table-all-ac table-excluded-ac mb-0" id="tableExcludedAc_02">
                                {% for center in inactive_centers.right %}
                                {% include 'reestr/includes/reestr_ac_table_row.html' %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <hr class="mt-4">
                {% include 'mainapp/includes/modal/modal-filter-reestr-ac.html' %}
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/sasv/right-menu-sasv.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>

{% endif %}




{% endblock %}