@charset "UTF-8";
/* ================ Styles OLD ================== */
body {
  background-image: url(../images/bg-content.png);
  background-position: center bottom;
  background-repeat: no-repeat; }

/* Change Bootstrap */
:root {
  --blue: #0463B1;
  /* My color */
  --red: #ed2629;
  /* My color */
  --primary: #0463B1;
  /* My color */
  --danger: #ed2629;
  /* My color */ }

.navbar {
  padding: 0.5rem 0; }

.popover {
  border-radius: 0; }

.tooltip.show {
  opacity: 1; }

.btn-primary {
  background-color: #0463B1;
  border-color: #0463B1; }

button:hover {
  cursor: pointer; }

.btn {
  white-space: nowrap; }

.btn-outline-primary {
  color: #0463B1;
  border-color: #0463B1; }

.btn-outline-primary:hover {
  background-color: #0463B1;
  border-color: #0463B1; }

.btn-danger {
  background-color: #ed2629;
  border-color: #ed2629; }

.btn-outline-danger {
  color: #ed2629;
  border-color: #ed2629; }

.btn-outline-danger:hover {
  background-color: #ed2629;
  border-color: #ed2629; }

.btn-outline-danger:not([disabled]):not(.disabled):active,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.show > .btn-outline-danger.dropdown-toggle {
  color: #fff;
  background-color: #ed2629;
  border-color: #ed2629; }

.page-item.active .page-link {
  background-color: #0463B1;
  border-color: #0463B1; }

.carousel-control-prev, .carousel-control-next {
  opacity: 1; }

.carousel-indicators {
  bottom: 0; }
  .carousel-indicators li {
    border-top: none;
    border-bottom: none; }

.carousel-indicators .active {
  outline: 3px solid #fff; }

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 25%;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: left; }

.dropdown-toggle::after {
  display: none; }

.dropdown-menu {
  padding: 1rem; }

a.dropdown-item {
  display: block;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 300;
  border-left: 3px solid transparent;
  padding-left: 10px;
  white-space: normal; }

a.dropdown-item:focus, a.dropdown-item:hover {
  text-decoration: none;
  color: #292929;
  border-left: 3px solid #1880e7; }

.dropdown-item.active, .dropdown-item:active {
  color: #292929;
  border-left: 3px solid #1880e7;
  background-color: #f8f9fa; }

.breadcrumb {
  background-color: transparent;
  font-size: 0.875rem; }

.custom-control-input:checked ~ .custom-control-indicator {
  background-color: #868e96; }

.btn, .btn-group-lg > .btn, .btn-group-sm > .btn, .form-control, a.page-link {
  border-radius: 0 !important; }

.table-sm td {
  vertical-align: middle !important; }

.table-sm td:last-child {
  font-size: 0.875rem; }

.modal-content {
  border-radius: 0; }

/* End Change */
/* Наверх */
.top-arrow.top-arrow-active {
  bottom: 20px; }

.top-arrow {
  position: fixed;
  right: 20px;
  width: 40px;
  height: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
  border: 1px solid #fff;
  background-color: #343A40;
  z-index: 100;
  outline: 0 !important;
  cursor: pointer; }

.top-arrow:hover {
  opacity: 1; }

.top-arrow::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

/* End Наверх */
/* HEADER-MENU */
.header-menu {
  background-color: #fff; }
  .header-menu .navbar-light .navbar-brand img {
    width: 160px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .header-menu .navbar-light .navbar-brand img {
        max-width: 130px; } }
  @media (max-width: 568px) {
    .header-menu .navbar-light .navbar-brand {
      max-width: 90px;
      margin-right: 0; } }
  .header-menu .navbar-light .other-brand {
    display: inline-block; }
    .header-menu .navbar-light .other-brand img {
      margin-right: 0.8rem; }
      .header-menu .navbar-light .other-brand img:last-child {
        margin-right: 0; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .header-menu .navbar-light .other-brand img {
          margin-right: 0.1rem;
          max-width: 40px; } }
      @media (max-width: 568px) {
        .header-menu .navbar-light .other-brand img {
          margin-right: 0;
          max-width: 30px; } }
  .header-menu .navbar-light .navbar-nav {
    margin-left: auto;
    margin-right: auto; }
    .header-menu .navbar-light .navbar-nav .nav-link {
      color: #006fb7;
      border-bottom: 3px solid transparent; }
      .header-menu .navbar-light .navbar-nav .nav-link:focus, .header-menu .navbar-light .navbar-nav .nav-link:hover {
        color: #007bff;
        border-bottom: 3px solid #1880e7; }
    .header-menu .navbar-light .navbar-nav .nav-link.active {
      color: #007bff;
      border-bottom: 3px solid #1880e7; }
  .header-menu .navbar-light .navbar-toggler {
    color: #0065CB;
    border-color: #0065CB; }

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background: linear-gradient(227deg, #0066cc 28%, #0356a8 72%);
  border-radius: 0.25rem; }

.tooltip.bs-tooltip-bottom .arrow::before,
.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #0065CB; }

/* ================================ MEDIA ================================ */
@media (max-width: 1024px) {
  .other-brand img {
    margin-right: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .dropdown-menu-center {
    left: auto; } }

@media (max-width: 768px) {
  .btn-sign-in {
    margin-top: 15px; }
  .navbar-collapse {
    border-top: 1px solid #0463B1;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px; } }

@media (max-width: 568px) {
  .header-xs-hr {
    border-top-color: #fff; }
  .other-brand-collapse {
    display: block !important;
    margin-top: 15px;
    margin-bottom: 10px; }
  .other-brand-collapse img {
    width: 40px; }
  .btn-sign-in {
    margin-top: 15px;
    width: 100%; }
  .navbar-light .navbar-nav .nav-link {
    border-bottom: 2px solid transparent; }
  .navbar-light .navbar-nav .nav-link.active {
    border-bottom: 2px solid #1880e7; }
  .popover.bs-popover-bottom, .popover.bs-popover-auto[x-placement^="bottom"] {
    margin-top: 0.8rem; } }

/* HEADER-MENU */
/* HEADER-SLIDER */
.header-slider {
  width: 100%;
  max-height: 470px; }
  .header-slider .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0065CB; }
    .header-slider .carousel-item img {
      opacity: 0.5;
      height: 470px; }
  .header-slider .row:first-child {
    margin-bottom: 1rem; }
    @media (max-width: 1024px) {
      .header-slider .row:first-child {
        margin-bottom: 0; } }
    @media (max-width: 768px) {
      .header-slider .row:first-child {
        margin-bottom: 1rem; } }
  .header-slider .title-slider h2 {
    font-size: 35px;
    color: #fff; }
  .header-slider .title-slider h3 {
    color: #fff; }
  .header-slider .text-slider {
    font-size: 18px; }
  .header-slider .breadcrumb-item.active {
    color: #868e96; }
  .header-slider .contacts-quest {
    position: absolute;
    top: 30%;
    right: 20%;
    padding-right: 20px;
    z-index: 11; }
    @media (max-width: 1600px) and (min-width: 1281px) {
      .header-slider .contacts-quest {
        right: 10%;
        padding-right: 25px; } }
    @media (max-width: 1280px) {
      .header-slider .contacts-quest {
        right: 5%; } }
    @media (max-width: 1024px) {
      .header-slider .contacts-quest {
        top: 20%;
        padding-right: 0; } }
    @media (max-width: 991px) and (min-width: 768px) {
      .header-slider .contacts-quest {
        top: 12%; } }
    .header-slider .contacts-quest .contacts-top a {
      color: #fff;
      font-size: 16px;
      text-decoration: none; }
  .header-slider .carouselHeader-control {
    position: absolute;
    left: 20%;
    bottom: 10%;
    z-index: 11; }
    @media (max-width: 1600px) and (min-width: 1281px) {
      .header-slider .carouselHeader-control {
        left: 10%;
        padding-left: 10px; } }
    @media (max-width: 1280px) and (min-width: 1025px) {
      .header-slider .carouselHeader-control {
        left: 4%;
        padding-left: 15px; } }
    @media (max-width: 1024px) {
      .header-slider .carouselHeader-control {
        left: 3%; } }
  .header-slider .carouselHeader-lang {
    position: absolute;
    right: 20%;
    bottom: 8%;
    z-index: 11; }
    @media (max-width: 1600px) and (min-width: 1281px) {
      .header-slider .carouselHeader-lang {
        right: 10%;
        bottom: 8%; } }
    @media (max-width: 1280px) and (min-width: 1025px) {
      .header-slider .carouselHeader-lang {
        right: 5%;
        bottom: 7%; } }
    @media (max-width: 1024px) {
      .header-slider .carouselHeader-lang {
        right: 3%;
        bottom: 8%; } }
    @media (max-width: 568px) {
      .header-slider .carouselHeader-lang {
        right: 0;
        bottom: auto; } }

/* ================================ MEDIA ================================ */
@media (max-width: 1024px) {
  .contacts-quest .text-slider {
    margin-top: 2.5rem !important; }
  .title-slider h2 {
    height: 170px;
    display: table-cell;
    vertical-align: middle; } }

@media (min-width: 769px) and (max-width: 991px) {
  .contacts-quest .text-slider {
    margin-top: 0.5rem !important; }
  .text-slider p.text-slider-txt {
    margin-top: 20px; } }

@media (max-width: 768px) {
  .text-slider p.text-slider-txt {
    margin-top: 10px; }
  .contacts-quest .text-slider {
    margin-top: 0.5rem !important; } }

/* HEADER-SLIDER */
/* HEADER-XS */
.header-xs {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  background-color: #0065CB; }
  .header-xs img {
    opacity: 0.5; }
  .header-xs .container {
    position: absolute;
    top: 0;
    z-index: 10;
    text-align: left; }
  .header-xs .contacts-top a {
    color: #fff;
    font-size: 16px; }
  .header-xs p {
    font-size: 14px; }

@media (max-width: 359px) and (min-width: 321px) {
  .header-xs-hr {
    display: none; }
  .header-xs .container {
    padding-top: 10px !important; }
  .header-xs .contacts-top {
    margin-top: 10px !important; }
  .header-xs .contacts-top a {
    font-size: 14px; } }

@media (max-width: 320px) {
  .header-xs-hr {
    display: none; }
  .header-xs .contacts-top a {
    font-size: 14px; }
  .header-xs .contacts-top {
    margin-top: 10px !important; } }

/* HEADER-XS */
.main-activity {
  background-color: #fff;
  /* Button-activities */
  /* End Button-activities */ }
  .main-activity .button-activities {
    width: 100%;
    background: linear-gradient(227deg, #0066cc 28%, #0356a8 72%);
    color: #fff;
    height: 100%; }
    .main-activity .button-activities:hover, .main-activity .button-activities:focus {
      border-color: #005cbf;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      background: linear-gradient(227deg, #0066cc 35%, #0356a8 65%);
      -webkit-transition: 0.3s;
      transition: 0.3s; }
    .main-activity .button-activities .button-activities.active {
      border-color: #005cbf;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); }
    .main-activity .button-activities a {
      font-size: 0.7rem;
      text-transform: uppercase;
      color: #fff;
      line-height: 1.5; }
      .main-activity .button-activities a:hover {
        text-decoration: none;
        color: #ddd; }
    .main-activity .button-activities .table {
      margin-bottom: 0;
      height: 100px; }
      .main-activity .button-activities .table td {
        border-top: none;
        vertical-align: middle; }
        .main-activity .button-activities .table td:first-child {
          font-size: 1.625rem;
          width: 35% !important;
          text-align: center; }
        .main-activity .button-activities .table td:last-child {
          padding-right: 5px; }
    .main-activity .button-activities .line-right {
      border-right: 2px solid #fff;
      height: 30px; }
    .main-activity .button-activities #ico_journal {
      width: 40px; }

.show-units .btn-outline-danger, .nav-docs .btn-outline-danger {
  color: #7e7e7e;
  background-color: transparent;
  border-color: #ebebeb; }

.show-units .btn-outline-danger:hover, .nav-docs .btn-outline-danger:hover {
  color: #dc3545;
  border-color: #dc3545; }

#map {
  height: 375px; }

.line-title {
  width: 60px;
  border-top: 2px solid #2f2f2f; }

.block-right-announce .card hr {
  border-color: #fff; }

.block-right-announce .card-body {
  background-image: url(../images/plug-right.png); }

.bg-red {
  background-color: #ed2629; }

.bg-naks {
  background-color: #0463B1; }

.card-header.bg-naks {
  border-bottom: 1px solid #065DA3; }

.control-next,
.control-prev {
  padding: 15px 20px;
  color: #fff;
  text-align: center;
  opacity: 0.7; }

.control-next:hover,
.control-prev:hover {
  color: #fff;
  text-decoration: none;
  opacity: 1; }

.control-next i,
.control-prev i {
  vertical-align: middle; }

.carousel-control-prev i,
.carousel-control-next i {
  padding: 5px 15px;
  border: 1px solid #fff; }

.carousel-control-prev i:hover,
.carousel-control-next i:hover {
  background: rgba(255, 255, 255, 0.5); }

.carousel-indicators li::before,
.carousel-indicators li::after {
  content: none; }

.header-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;
  background-color: #0065CB; }

.header-image img {
  opacity: 0.5; }

.header-image .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.all-docs p, .all-docs label {
  font-size: 0.875rem; }

.popover {
  font-size: 0.8rem !important; }

#table-technicalDevices td:first-child {
  width: 15%; }

.glyphicon-calendar:before {
  content: "\e109"; }

.contacts-bottom a {
  color: #fff;
  font-size: 14px;
  text-decoration: none; }

.contacts-modal a {
  color: #212529;
  text-decoration: none; }

.scrollspy-modal {
  position: relative;
  max-height: 600px;
  margin-top: 10px;
  overflow: auto; }

.scrollspy-modal .table-bordered {
  font-size: 0.75rem; }

.scrollspy-modal th, .scrollspy-modal td {
  vertical-align: middle; }

.scrollspy-modal .table-secondary:hover > th {
  background-color: #dddfe2; }

.scrollspy-modal .table-striped td:first-child {
  text-align: left;
  font-weight: bold; }

.scrollspy-modal .table-secondary .custom-control-indicator {
  background-color: #C1C1C1; }

.carousel-content .carousel-inner {
  /* display:flex;
    justify-content: center; */
  /*центрируем элемент по горизонтали */
  /* align-items: center; */
  /* и вертикали */
  /* width: 100%; */
  /* задали размеры блоку-родителю */
  height: 450px;
  overflow: hidden;
  /* если элемент больше блока-родителя – обрезаем лишнее */
  background-color: #343a40; }

.carousel-content .carousel-indicators li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /*центрируем элемент по горизонтали */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* и вертикали */
  /* width: 100%; */
  /* задали размеры блоку-родителю */
  /* height: 450px; */
  overflow: hidden;
  /* если элемент больше блока-родителя – обрезаем лишнее */
  width: 20%;
  max-height: 60px;
  height: auto;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  margin-right: 10px;
  background-color: transparent; }

.carousel-content .carousel-indicators li.active {
  outline: 2px solid #fff !important; }

.element_vertical {
  /* для вертикальных */
  max-width: 100%;
  width: auto !important;
  margin-left: auto;
  margin-right: auto; }

/* Правое меню */
.right-main .card-header a, .right-main-xs .card-header a {
  font-size: 0.875rem;
  display: inline-block;
  color: #fff; }

.right-main .card-header:first-child, .right-main-xs .card-header:first-child {
  border-radius: 0; }

.right-main .card-header a:hover, .right-main-xs .card-header a:hover {
  text-decoration: none;
  color: #ddd; }

.right-main {
  width: 255px;
  z-index: 2; }

/* .right-main-xs */
.table-all-ac td,
.table-ac td,
.table-ac th,
.table-nts td,
.table-nts th,
.table-agreement td,
.table-agreement th,
.table-contacts td,
.table-contacts th {
  font-size: 0.875rem;
  vertical-align: middle;
  color: #7e7e7e; }

.table-all-ac td:first-child,
.table-ac td:first-child,
.table-ac th:first-child,
.table-nts td:first-child,
.table-nts th:first-child,
.table-agreement td:first-child,
.table-agreement th:first-child,
.table-contacts td:first-child,
.table-contacts th:first-child {
  border-left: 1px solid #1880e7; }

.table-all-ac td:first-child {
  text-align: center; }

.table-ac td:first-child, .table-ac th:first-child {
  width: 30%; }

#table-composition td:first-child, #table-protocols {
  text-align: center; }

.main-content .card:hover {
  border: 1px solid #007bff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.main-content .card-body {
  border-top: 1px solid rgba(0, 0, 0, 0.125); }

.text-sm {
  font-size: 0.875rem; }

.table-all-ac td:first-child {
  width: 50px; }

.table-all-ac td:last-child {
  text-align: right; }

/* Maps Style */
.ymaps-2-1-56-copyright {
  display: none !important; }

.img-news {
  height: 450px;
  overflow: hidden;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/*Если width < height*/
.img-news .img-news-vertical {
  height: 100%;
  width: auto !important;
  margin-left: auto;
  margin-right: auto; }

.card-img-top {
  border-radius: 0; }

.img-link .card:hover {
  opacity: 0.8;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.img-news-all {
  height: 250px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.125); }

.img-news-all:hover {
  border: 1px solid #007bff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.all-docs p.text-news-all {
  font-size: 1rem; }

.news-all .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.news-all .row > div[class*='col-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.card-top {
  height: 200px; }

.card-top img {
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.card-news .card-footer {
  padding: 0.75rem 1rem; }

.card-news:hover {
  border: 1px solid #007bff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.card-news .card-body {
  position: relative; }

.card-news .card-link-detailed {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  background-color: rgba(238, 238, 238, 0.7); }

.card-news:hover .card-link-detailed {
  background-color: rgba(4, 99, 177, 0.7);
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s; }

.card-top .card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  background-color: rgba(238, 238, 238, 0.7); }

.table-modal {
  font-size: 0.75rem; }

.table-modal td, .table-modal th {
  vertical-align: middle; }

.modal-two-table .scrollspy-modal {
  max-height: 400px;
  overflow: auto; }

.title-slider .table td {
  border-top: 0;
  vertical-align: middle; }

.title-slider .table td:first-child {
  padding: 0; }

.line-right-slider {
  border-right: 2px solid #fff;
  height: 80px; }

.img-slider {
  -o-object-fit: cover;
  object-fit: cover; }

.fixed {
  position: fixed;
  top: 0; }

.card-top .card-img-overlay-right {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  bottom: auto;
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
  background-color: rgba(238, 238, 238, 0.7);
  font-weight: bold;
  color: #868e96; }

/* ================ END Styles OLD ================== */
.card-body {
  padding: 0.8rem 1.25rem; }

.shadow-none {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.shadow-sm {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important; }

.shadow {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; }

.shadow-lg {
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; }

.table-docs th, .table-docs td {
  font-size: 0.875rem;
  vertical-align: middle !important;
  color: #7e7e7e; }
  .table-docs th:first-child, .table-docs td:first-child {
    border-left: 1px solid #1880e7; }

.right-main .bg-naks-active, .right-main-xs .bg-naks-active {
  color: #292929;
  border-top: none;
  border-bottom: none;
  border-left: 3px solid #1880e7;
  background-color: #f8f9fa; }
  .right-main .bg-naks-active a, .right-main-xs .bg-naks-active a {
    color: #292929; }
    .right-main .bg-naks-active a:hover, .right-main-xs .bg-naks-active a:hover {
      color: inherit; }

.list-circle-sm {
  font-size: 0.8rem;
  list-style-type: circle; }

.main-content .card.accordion-card:hover {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 1px solid #1880e7 !important; }

.accordion-card {
  border-left: 1px solid #1880e7 !important; }
  .accordion-card .card-header {
    border-bottom: none; }
    .accordion-card .card-header:hover {
      border-bottom: none; }
  .accordion-card .btn-link {
    white-space: normal; }
  .accordion-card .table-docs th {
    color: #777;
    text-align: center;
    line-height: 1.2; }
    .accordion-card .table-docs th:first-child {
      border-left: inherit; }
  .accordion-card .table-docs td {
    line-height: 1.2; }
    .accordion-card .table-docs td:first-child {
      text-align: center;
      border-left: inherit; }

@media (min-width: 768px) {
  #heightContent {
    height: 1000px; } }

.table-reestr p {
  font-size: 0.875rem; }

.table-reestr .table, .table-reestr .table a {
  font-size: 0.75rem; }

.table-reestr .table th, .table-reestr .table td {
  vertical-align: middle;
  border-bottom: 1px solid #1880e7;
  padding: 0.5rem; }

.table-reestr .table-secondary th {
  background-color: #dddfe2; }

.table-reestr .table-secondary:hover > th {
  background-color: #dddfe2; }

.btn-xs {
  padding: .1rem .3rem;
  font-size: .75rem; }
