{% extends 'control/base.html' %}
{% load static %}
{% block content %}
{% include 'control/includes/name-page.html' %}
{% include 'control/includes/top-menu.html' %}
{% include 'control/includes/breadcrumb.html' %}
<div class="content">
    <div class="accordion accordion-main" id="accordionProfileAcsm">
        <div class="card">
            <a href="#" class="card-header active" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-angle-down mr-2"></i>Сведения о центре</a>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionProfileAcsm">
                <div class="card-body">
                    <!-- Include profile-info -->
                    {% include 'control/includes/acpnk_info.html' %}
                    <!-- End Include profile-info -->
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#" class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="fa fa-angle-down mr-2"></i>Область деятельности</a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionProfileAcsm">
                <div class="card-body">
                    <!-- Include profile-activity -->
                    {% include 'control/includes/acpnk_activity.html' %}
                    <!-- End Include profile-activity -->
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#" class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseTrhee" aria-expanded="true" aria-controls="collapseTrhee"><i class="fa fa-angle-down mr-2"></i>Состав комиссии</a>
            <div id="collapseTrhee" class="collapse" aria-labelledby="headingThree" data-parent="#accordionProfileAcsm">
                <div class="card-body">
                    <!-- Include profile-experts -->
                    {% include 'control/includes/acpnk_experts.html' %}
                    <!-- End Include profile-experts -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}