{% extends 'reestradmin/base.html' %}
{% load static %}
{% block content %}
{% include 'reestradmin/includes/name-page.html' %}
{% include 'reestradmin/includes/centers/top-menu_centers.html' %}
{% include 'reestradmin/includes/breadcrumb.html' %}
<div class="content">
    <div class="accordion accordion-main" id="accordionCenterOrgProfile">
        <div class="card">
            <a href="#" class="card-header active" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-angle-down mr-2"></i>Сведения об организации</a>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCenterOrgProfile">
                <div class="card-body">
                    <!-- Include profile-info -->
                    {% include 'reestradmin/includes/org_profile_info.html' %}
                    <!-- End Include profile-info -->
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#" class="card-header" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"><i class="fa fa-angle-down mr-2"></i>Направления деятельности</a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCenterOrgProfile">
                <div class="card-body">
                    <!-- Include profile-activity -->
                    {% include 'reestradmin/includes/org_profile_activity.html' %}
                    <!-- End Include profile-activity -->
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#" class="card-header" id="headingThree" data-toggle="collapse" data-target="#collapseTrhee" aria-expanded="true" aria-controls="collapseTrhee"><i class="fa fa-angle-down mr-2"></i>Состав комиссии, эксперты</a>
            <div id="collapseTrhee" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCenterOrgProfile">
                <div class="card-body">
                    <!-- Include profile-experts -->
                    {% include 'reestradmin/includes/org_profile_experts.html' %}
                    <!-- End Include profile-experts -->
                </div>
            </div>
        </div>
        <div class="card">
            <a href="#" class="card-header" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><i class="fa fa-angle-down mr-2"></i>Подразделения организации</a>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionCenterOrgProfile">
                <div class="card-body">
                    <!-- Include profile-units -->
                    {% include 'reestradmin/includes/org_profile_units.html' %}
                    <!-- End Include profile-units -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}