{% extends 'reestradmin/base.html' %}
{% load static %}
{% block content %}
{% include 'reestradmin/includes/name-page.html' %}
{% include 'reestradmin/includes/top-menu.html' %}
{% include 'reestradmin/includes/breadcrumb.html' %}
<div class="content">
    <!-- Include FILTER-BLOCK -->
    {% include 'reestradmin/includes/filter-certificates.html' %}
    <!-- End Include FILTER-BLOCK -->
    <div class="container-fluid">
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-main">
                <thead>
                    <tr class="active">
                        <th colspan="2">№ удостоверения</th>
                        <th>Начало активности</th>
                        <th>Окончание активности</th>
                        <th>Тип удостоверения</th>
                        <th>Область деятельности</th>
                        <th>Эксперт НАКС</th>
                        <th>В центрах</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30">
                            <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                            </div>
                        </td>
                        <td>0218-10-ОК</td>
                        <td>19.02.2018</td>
                        <td>19.02.2021</td>
                        <td>эксперт</td>
                        <td class="text-left"><a href="#" class="btn btn-outline-secondary btn-xs">Открыть</a></td>
                        <td>Иванов Александр Васильевич</td>
                        <td><a href="#" class="d-block">ЦОК-005</a></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                            </div>
                        </td>
                        <td>МР-1ГАЦ-IV-00385</td>
                        <td>15.11.2019</td>
                        <td>15.11.2024</td>
                        <td>ГТУ ПиА РиК</td>
                        <td class="text-left">ГО, СК</td>
                        <td>Зуев Михаил Александрович</td>
                        <td>
                            <a href="#" class="d-block">АЦСО-100</a>
                            <a href="#" class="d-block">ЗСР-4АЦ</a>
                            <a href="#" class="d-block">АЦСТ-115</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                            </div>
                        </td>
                        <td>СВР-10АЦ-IV-00051</td>
                        <td>19.07.2019</td>
                        <td>19.07.2024</td>
                        <td>ГТУ ПиА РиК</td>
                        <td class="text-left">НГДО</td>
                        <td>Казаков Роман Валерьевич</td>
                        <td>
                            <a href="#" class="d-block">МР-22АЦ</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                            </div>
                        </td>
                        <td>СУР-2ГАЦ-III-28078</td>
                        <td>28.11.2018</td>
                        <td>28.11.2021</td>
                        <td>ГТУ ПиА</td>
                        <td class="text-left">ГО, НГДО, СК</td>
                        <td>Ефтонов Антон Николаевич</td>
                        <td>
                            <a href="#" class="d-block">БР-1ГАЦ</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                            </div>
                        </td>
                        <td>ЗСР-2АЦ-III-07728</td>
                        <td>15.11.2019</td>
                        <td>15.11.2024</td>
                        <td>ГТУ ПиА РиК</td>
                        <td class="text-left">ГДО, ГО, КО, МО, НГДО, ОХНВП, ПТО, СК</td>
                        <td>Аверин Дмитрий Васильевич</td>
                        <td>
                            <a href="#" class="d-block">ЗСР-4АЦ</a>
                            <a href="#" class="d-block">АЦСТ-115</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
    </div>
</div>
{% endblock %}