{% extends 'reestradmin/base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <!-- Include FILTER-BLOCK -->
    {% include 'reestradmin/includes/filter-organization.html' %}
    <!-- End Include FILTER-BLOCK -->
    <div class="container-fluid">
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-main">
                <thead>
                    <tr class="active">
                        <th colspan="2">Наименование организации, ИНН<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></a></th>
                        <th>Город</th>
                        <th>Фото</th>
                        <th class="text-bold">АЦ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></a></th>
                        <th class="text-bold">ЦСП<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСМ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСО<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСТ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">ОСП<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">ЦОК<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_profile' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АНО ЦЭС "Техкранэнерго", <span class="text-secondary">7715269541</span></td>
                        <td>Владимир</td>
                        <td><a href="#" class="badge badge-light">11</a></td>
                        <td><a href="#" class="mr-2">ВВР-2ГАЦ</a><span>15.06.2021</span></td>
                        <td><a href="#" class="mr-2">ВВР-3ЦСП</a><span>27.12.2020</span></td>
                        <td></td>
                        <td><a href="#" class="mr-2">АЦСО-46</a><span>14.04.2020</span></td>
                        <td><a href="#" class="mr-2">АЦСТ-43</a><span>17.07.2022</span></td>
                        <td></td>
                        <td><a href="#" class="mr-2">ЦОК-055</a><span>16.05.2022</span></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_profile' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">Автономная некоммерческая организация "АТТЕСТАЦИОННЫЙ ЦЕНТР АТТЕСТАЦИИ СВАРЩИКОВ И СПЕЦИАЛИСТОВ СВАРОЧНОГО ПРОИЗВОДСТВА", <span class="text-secondary">7715269541</span></td>
                        <td>Нижневартовск</td>
                        <td></td>
                        <td><a href="#" class="mr-2">СУР-5АЦ</a><span class="text-danger">24.12.2010</span></td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="mr-2">АЦСО-40</a><span class="text-danger">24.12.2010</span></td>
                        <td><a href="#" class="mr-2">АЦСТ-51</a><span class="text-danger">24.12.2010</span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_profile' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АНО "Тамбовский аттестационный центр центрального региона национального аттестационного комитета по сварочному производству", <span class="text-secondary">7715269541</span></td>
                        <td>Тамбов</td>
                        <td><a href="#" class="badge badge-light">45</a></td>
                        <td><a href="#" class="mr-2">ЦР-1АЦ</a><span>15.06.2021</span></td>
                        <td><a href="#" class="mr-2">ЦР-7ЦСП</a><span>27.12.2020</span></td>
                        <td></td>
                        <td><a href="#" class="mr-2">АЦСО-125</a><span>14.04.2020</span></td>
                        <td><a href="#" class="mr-2">АЦСТ-67</a><span>17.07.2022</span></td>
                        <td></td>
                        <td><a href="#" class="mr-2">ЦОК-Тамбов</a><span class="text-danger">не&nbsp;определен</span></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_profile' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">ООО "ГАЦ ВВР", <span class="text-secondary">7715269541</span></td>
                        <td>Нижний Новгород</td>
                        <td></td>
                        <td><a href="#" class="mr-2">ВВР-ГАЦ</a><span>15.06.2021</span></td>
                        <td><a href="#" class="mr-2">ВВР-6ЦСП</a><span>27.12.2020</span></td>
                        <td><a href="#" class="mr-2">АЦСМ-10</a><span class="text-danger">23.05.2010</span></td>
                        <td><a href="#" class="mr-2">АЦСО-14</a><span>14.04.2020</span></td>
                        <td><a href="#" class="mr-2">АЦСТ-17</a><span>17.07.2022</span></td>
                        <td><a href="#" class="mr-2">ОСП-29</a><span>17.07.2022</span></td>
                        <td><a href="#" class="mr-2">ЦОК-015</a><span>16.05.2022</span></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_profile' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АО "Газпром центрэнергогаз", <span class="text-secondary">7715269541</span></td>
                        <td>Щелково</td>
                        <td></td>
                        <td></td>
                        <td><a href="#" class="mr-2">МР-18ЦСП</a><span>27.12.2020</span></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
    </div>
</div>
{% endblock %}