{% extends 'reestradmin/base.html' %}
{% load static %}
{% block content %}
{% include 'reestradmin/includes/name-page.html' %}
{% include 'reestradmin/includes/top-menu.html' %}
{% include 'reestradmin/includes/breadcrumb.html' %}
<div class="content">
    <!-- Include FILTER-BLOCK -->
    {% include 'reestradmin/includes/filter-organization.html' %}
    <!-- End Include FILTER-BLOCK -->
    <div class="container-fluid">
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-main">
                <thead>
                    <tr class="active">
                        <th colspan="2" style="width: 50%;">Наименование организации, ИНН<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></a></th>
                        <th>Город</th>
                        <th>Фото</th>
                        <th class="text-bold">АЦ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></a></th>
                        <th class="text-bold">ЦСП<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСМ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСО<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">АЦСТ<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">ОСП<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                        <th class="text-bold">ЦОК<a href="#" class="ml-2" title="Экспорт в Excel"><i class="fa fa-file-excel-o"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_edit' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АНО ЦЭС "Техкранэнерго", <span class="text-secondary">7715269541</span></td>
                        <td>Владимир</td>
                        <td><a href="#" class="badge badge-info">11</a></td>
                        <td>
                            <a href="#">ВВР-2ГАЦ</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>15.06.2021</div>
                        </td>
                        <td>
                            <a href="#">ВВР-3ЦСП</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>27.12.2020</div>
                        </td>
                        <td></td>
                        <td>
                            <a href="#">АЦСО-46</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>14.04.2020</div>
                        </td>
                        <td>
                            <a href="#">АЦСТ-43</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>17.07.2022</div>
                        </td>
                        <td></td>
                        <td>
                            <a href="#">ЦОК-055</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>16.05.2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_edit' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">Автономная некоммерческая организация "АТТЕСТАЦИОННЫЙ ЦЕНТР АТТЕСТАЦИИ СВАРЩИКОВ И СПЕЦИАЛИСТОВ СВАРОЧНОГО ПРОИЗВОДСТВА", <span class="text-secondary">7715269541</span></td>
                        <td>Нижневартовск</td>
                        <td></td>
                        <td>
                            <a href="#">СУР-5АЦ</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div class="text-danger">24.12.2010</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#">АЦСО-40</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div class="text-danger">24.12.2010</div>
                        </td>
                        <td>
                            <a href="#">АЦСТ-51</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div class="text-danger">24.12.2010</div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_edit' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АНО "Тамбовский аттестационный центр центрального региона национального аттестационного комитета по сварочному производству", <span class="text-secondary">7715269541</span></td>
                        <td>Тамбов</td>
                        <td><a href="#" class="badge badge-info">45</a></td>
                        <td>
                            <a href="#">ЦР-1АЦ</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>15.06.2021</div>
                        </td>
                        <td>
                            <a href="#">ЦР-7ЦСП</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>27.12.2020</div>
                        </td>
                        <td></td>
                        <td>
                            <a href="#">АЦСО-125</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>14.04.2020</div>
                        </td>
                        <td>
                            <a href="#">АЦСТ-67</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>17.07.2022</div>
                        </td>
                        <td></td>
                        <td>
                            <a href="#">ЦОК-Тамбов</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div class="text-danger">не&nbsp;определен</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_edit' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">ООО "ГАЦ ВВР", <span class="text-secondary">7715269541</span></td>
                        <td>Нижний Новгород</td>
                        <td></td>
                        <td>
                            <a href="#">ВВР-ГАЦ</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>15.06.2021</div>
                        </td>
                        <td>
                            <a href="#">ВВР-6ЦСП</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>27.12.2020</div>
                        </td>
                        <td>
                            <a href="#">АЦСМ-10</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div class="text-danger">23.05.2010</div>
                        </td>
                        <td>
                            <a href="#">АЦСО-14</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>14.04.2020</div>
                        </td>
                        <td>
                            <a href="#">АЦСТ-17</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>17.07.2022</div>
                        </td>
                        <td>
                            <a href="#">ОСП-29</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>17.07.2022</div>
                        </td>
                        <td>
                            <a href="#">ЦОК-015</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>16.05.2022</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="30">
                            <div class="dropright">
                                <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'reestradmin:organization_edit' %}"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                                </div>
                            </div>
                        </td>
                        <td class="text-left">АО "Газпром центрэнергогаз", <span class="text-secondary">7715269541</span></td>
                        <td>Щелково</td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="#">МР-18ЦСП</a>
                            <a href="{% url 'reestradmin:instruction_detail' %}" class="btn btn-outline-secondary btn-xs btn-add-instruction ml-1" title="создать указание"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
                            <div>27.12.2020</div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- pagination -->
        {% include 'reestradmin/includes/pagination.html' %}
        <!-- end pagination -->
    </div>
</div>
{% endblock %}