.header-slider {
	width: 100%;
	max-height: 470px;
	

	// .carousel-item {
	// 	height: 470px;
	// 	background-blend-mode: soft-light;
	// 	background-repeat: no-repeat !important;
	// 	background-position: center !important;
	// 	background-size: cover !important;
		
	// }
	.carousel-item {
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #0065CB;

		img {
			opacity: 0.5;
			height: 470px;
		}
	}

	.row:first-child {
		margin-bottom: 1rem;

		@media (max-width: 1024px) {
			margin-bottom: 0;
		}
		@media (max-width: 768px) {
			margin-bottom: 1rem;
		}
	}
	
	.title-slider h2 {
		font-size: 35px;
		color: #fff;
	}
	.title-slider h3 {color: #fff;}
	.text-slider {font-size: 18px;}

	.breadcrumb-item.active {
	    color: #868e96;
	}
	.contacts-quest {
		position: absolute;
		top: 30%;
		right: 20%;
		padding-right: 20px;
		z-index: 11;

		@media (max-width: 1600px) and (min-width: 1281px) {
			right: 10%;
			padding-right: 25px;
		}
		@media (max-width: 1280px) {
			right: 5%;
		}
		@media (max-width: 1024px) {
			top: 20%;
			padding-right: 0;
		}
		@media (max-width: 991px) and (min-width: 768px) {
			top: 12%;
		}
		.contacts-top a {
			color: #fff;
			font-size: 16px;
			text-decoration: none;
		}
	}

	.carouselHeader-control {
		position: absolute;
		left: 20%;
		bottom: 10%;
		z-index: 11;

		@media (max-width: 1600px) and (min-width: 1281px) {
			left: 10%;
			padding-left: 10px;
		}
		@media (max-width: 1280px) and (min-width: 1025px) {
			left: 4%;
			padding-left: 15px;
		}
		@media (max-width: 1024px) {
			left: 3%;
		}
	}
	
	.carouselHeader-lang {
		position: absolute;
		right: 20%;
		bottom: 8%;
		z-index: 11;

		@media (max-width: 1600px) and (min-width: 1281px) {
			right: 10%;
			bottom: 8%;
		}
		@media (max-width: 1280px) and (min-width: 1025px) {
			right: 5%;
			bottom: 7%;
		}
		@media (max-width: 1024px) {
			right: 3%;
			bottom: 8%;
		}
		@media (max-width: 568px) {
			right: 0;
			bottom: auto;
		}
	}
}


/* ================================ MEDIA ================================ */
@media (max-width: 1024px) {
	.contacts-quest .text-slider {
		margin-top: 2.5rem !important;
	}
	
	.title-slider h2 {
		height: 170px;
		display: table-cell;
		vertical-align: middle;
	}
}

@media (min-width: 769px) and (max-width: 991px) {
	.contacts-quest .text-slider {
		margin-top: 0.5rem !important;
	}
	.text-slider p.text-slider-txt {
		margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.text-slider p.text-slider-txt {
		margin-top: 10px;
	}

	.contacts-quest .text-slider {
		margin-top: 0.5rem !important;
	}

}

// @media (max-width: 568px) {
// 	.carouselHeader-lang .breadcrumb-item.active,
// 	.carouselHeader-lang .breadcrumb-item + .breadcrumb-item::before {
// 		color: #ddd;
// 	}
// }

