#map {height: 375px;}
.line-title {
	width: 60px;
	border-top: 2px solid #2f2f2f;
}

.map-block {
	position: relative;
	.container {
		position: absolute;
	    top: 10%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    z-index: 11;

	    button {
	    	float: right;
	    	background-color: rgba(248, 249, 250, 0.7);
	    	&:hover {
	    		background-color: rgba(248, 249, 250, 1);
	    	}
	    }
	}
}