{% load static %}
<div id="accordion_spks_mobil" class="right-main-xs">
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_000">
            <a href="#" data-toggle="collapse" data-target="#collapse_010" aria-expanded="true" aria-controls="collapse_010">Совет по профессиональным квалификациям в области сварки (СПКС)</a>
        </div>
        <div id="collapse_010" class="collapse show" aria-labelledby="heading_000" data-parent="#accordion_spks_mobil">
            <div class="card-body">
                <a href="{% url 'spks' %}" class="dropdown-item active">О Совете</a>
                <div class="dropdown-divider"></div>
                <!-- <a href="#" class="dropdown-item">Положение о Совете</a>
                    <div class="dropdown-divider"></div> -->
                <a href="{% url 'spks_composition' %}" class="dropdown-item">Состав Совета</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_work_plan' %}" class="dropdown-item">План работы</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_comiss' %}" class="dropdown-item">Комиссии</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_protocols' %}" class="dropdown-item">Протоколы</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_docs' %}" class="dropdown-item">Документы</a>
                <div class="dropdown-divider"></div>
                <!-- <a href="#" class="dropdown-item">Центральная аттестационная комиссия</a>
                    <div class="dropdown-divider"></div> -->
                <a href="{% url 'spks_composition_region' %}" class="dropdown-item">Состав представителей Совета в субъектах РФ</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_composition_experts' %}" class="dropdown-item">Эксперты Совета</a>
                <div class="dropdown-divider"></div>
                <!-- <a href="#" class="dropdown-item">Апелляционная комиссия</a>
                    <div class="dropdown-divider"></div> -->
                <a href="{% url 'contacts' %}" class="dropdown-item">Контакты СПКС</a>
            </div>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_001">
            <a href="#" data-toggle="collapse" data-target="#collapse_011" aria-expanded="true" aria-controls="collapse_011">Оценка квалификаций</a>
        </div>
        <div id="collapse_011" class="collapse" aria-labelledby="heading_001" data-parent="#accordion_spks_mobil">
            <div class="card-body">
                <a href="{% url 'spks_reestr_qual' %}" class="dropdown-item">Реестр квалификаций</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_reestr_svid' %}" class="dropdown-item">Реестр Свидетельств о квалификации</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'reestr:centers' 'qualification' %}" class="dropdown-item">Реестр Центров оценки квалификаций</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_docs' %}" class="dropdown-item">Образцы документов</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'spks_task_examples' %}" class="dropdown-item">Примеры заданий</a>
            </div>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_002">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_012" aria-expanded="false" aria-controls="collapse_012">Профессиональные стандарты и квалификации</a>
        </div>
        <div id="collapse_012" class="collapse" aria-labelledby="heading_002" data-parent="#accordion_spks_mobil">
            <div class="card-body">
                <a href="#" class="dropdown-item">Утвержденные профессиональные стандарты</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Разработка профессиональных стандартов</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Разработка проектов квалификации</a>
            </div>
        </div>
    </div>
    <div class="card rounded-0">
        <!-- TODO: При переходе на страницу к .bg-naks добавляем класс .bg-naks-active -->
        <div class="card-header bg-naks" id="heading_003">
            <a href="#" class="collapsed">Мониторинг рынка труда</a>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_004">
            <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_013" aria-expanded="false" aria-controls="collapse_013">Профессиональные стандарты в системе профессионального образования и обучения</a>
        </div>
        <!-- TODO: По клику на пункте меню к collapse добавляется .show, а к .dropdown-item добавляем .active -->
        <div id="collapse_013" class="collapse" aria-labelledby="heading_004" data-parent="#accordion_spks_mobil">
            <div class="card-body">
                <a href="#" class="dropdown-item">Федеральные государственные образовательные стандарты в области сварки</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Состав экспертов по проведению профессионально-общественной аккредитации образовательных программ</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Экспертные организации</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">Реестр аккредитованных образовательных программ</a>
            </div>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_005">
            <a href="{% url 'spks_docs' %}" class="collapsed">Нормативные правовые акты РФ по вопросам оценки квалификации</a>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_006">
            <a href="#" class="collapsed">СМИ о СПК в области сварки</a>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_007">
            <a href="{% url 'spks_help_info' %}" class="collapsed">Справочно-техническая информация</a>
        </div>
    </div>
    <div class="card rounded-0">
        <div class="card-header bg-naks" id="heading_009">
            <a href="{% url 'agreement' %}" class="collapsed">Партнеры и соглашения</a>
        </div>
    </div>
</div>