{% load static %}
<div id="wrap" class="w-100">
    <div id="accordion_spks" class="right-main">
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_00">
                <a href="#" data-toggle="collapse" data-target="#collapse_10" aria-expanded="true" aria-controls="collapse_10">Совет по профессиональным квалификациям в области сварки (СПКС)</a>
            </div>
            <div id="collapse_10" class="collapse {% if 'spks_about' in request.path %}show{% endif %}" aria-labelledby="heading_00" data-parent="#accordion_spks">
                <div class="card-body">
                    <a href="{% url 'spks' %}" class="dropdown-item {% if '/spks_about/' in request.path %}active{% endif %}">О Совете</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_composition' %}" class="dropdown-item {% if '/spks_about_composition/' in request.path %}active{% endif %}">Состав Совета</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_work_plan' %}" class="dropdown-item {% if '/spks_about_work_plan/' in request.path %}active{% endif %}">План работы</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_comiss' %}" class="dropdown-item {% if '/spks_about_comiss/' in request.path %}active{% endif %}">Комиссии</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_protocols' %}" class="dropdown-item {% if '/spks_about_protocols/' in request.path %}active{% endif %}">Протоколы</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_docs' %}" class="dropdown-item {% if '/spks_about_docs/' in request.path %}active{% endif %}">Документы</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_composition_region' %}" class="dropdown-item {% if '/spks_about_composition_region/' in request.path %}active{% endif %}">Состав представителей Совета в субъектах РФ</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_composition_experts' %}" class="dropdown-item {% if '/spks_about_composition_experts/' in request.path %}active{% endif %}">Эксперты Совета</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'contacts' %}" class="dropdown-item">Контакты СПКС</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_01">
                <a href="#" data-toggle="collapse" data-target="#collapse_11" aria-expanded="true" aria-controls="collapse_11">Оценка квалификаций</a>
            </div>
            <div id="collapse_11" class="collapse {% if 'spks_reestr' in request.path %}show{% endif %}" aria-labelledby="heading_01" data-parent="#accordion_spks">
                <div class="card-body">
                    <a href="{% url 'spks_reestr_qual' %}" class="dropdown-item {% if '/spks_reestr_qual/' in request.path %}active{% endif %}">Реестр квалификаций</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_reestr_svid' %}" class="dropdown-item {% if '/spks_reestr_svid/' in request.path %}active{% endif %}">Реестр Свидетельств о квалификации</a>
                    <div class="dropdown-divider"></div>
                    <!-- TODO: исправить ссылки -->
                    <a href="{% url 'reestr:centers' 'qualification' %}" class="dropdown-item {% if '/reestr/centers/qualification/' in request.path %}active{% endif %}">Реестр Центров оценки квалификаций</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_docs' %}" class="dropdown-item {% if '/spks_about_docs/' in request.path %}active{% endif %}">Образцы документов</a>
                    <!-- TODO end -->
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'spks_task_examples' %}" class="dropdown-item {% if '/spks_reestr_task_examples/' in request.path %}active{% endif %}">Примеры заданий</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_02">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_12" aria-expanded="false" aria-controls="collapse_12">Профессиональные стандарты и квалификации</a>
            </div>
            <div id="collapse_12" class="collapse {% if 'spks_standarts' in request.path %}show{% endif %}" aria-labelledby="heading_02" data-parent="#accordion_spks">
                <div class="card-body">
                    <a href="{% url 'spks_standarts_ok' %}" class="dropdown-item {% if '/spks_standarts/' in request.path %}active{% endif %}">Утвержденные профессиональные стандарты</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Разработка профессиональных стандартов</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Разработка проектов квалификаций</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <!-- TODO: При переходе на страницу к .bg-naks добавляем класс .bg-naks-active -->
            <div class="card-header bg-naks" id="heading_03">
                <a href="#" class="collapsed">Мониторинг рынка труда</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_04">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_13" aria-expanded="false" aria-controls="collapse_13">Профессиональные стандарты в системе профессионального образования и обучения</a>
            </div>
            <!-- TODO: По клику на пункте меню к collapse добавляется .show, а к .dropdown-item добавляем .active -->
            <div id="collapse_13" class="collapse" aria-labelledby="heading_04" data-parent="#accordion_spks">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Федеральные государственные образовательные стандарты в области сварки</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Состав экспертов по проведению профессионально-общественной аккредитации образовательных программ</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Экспертные организации</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Реестр аккредитованных образовательных программ</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_05">
                <a href="{% url 'spks_docs' %}" class="collapsed">Нормативные правовые акты РФ по вопросам оценки квалификации</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_06">
                <a href="#" class="collapsed">СМИ о СПК в области сварки</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks {% if 'spks_help_info' in request.path %}bg-naks-active{% endif %}" id="heading_07">
                <a href="{% url 'spks_help_info' %}" class="collapsed">Справочно-техническая информация</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_09">
                <a href="{% url 'agreement' %}" class="collapsed">Партнеры и соглашения</a>
            </div>
        </div>
    </div>
</div>