{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="all-staff">
    <div class="container">
        <h4 class="text-dark mt-5">Реестр аттестованного персонала</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Реестр аттестованного персонала</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="{% url 'sasv' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
            </div>
        </div>
        <div id="app_registry_personal">
            <hr>
            <div class="my-4">
                <h6 class="font-weight-bold mb-4">Поиск по параметрам</h6>
                <!-- Фильтр реестра персонала -->
                {% include 'mainapp/includes/sasv/filter-reestr-staff.html' %}
                <!-- MODAL INCLUDES -->
                {% include 'mainapp/includes/modal/modal-type-activity.html' %}
                {% include 'mainapp/includes/modal/modal-technical-devices.html' %}
                {% include 'mainapp/includes/modal/modal-certificate-detail.html' %}
                <!-- END MODAL INCLUDES -->
                <!-- End Фильтр реестра персонала -->
                {% comment %} <input type="hidden" name="search_request" value="Y"> {% endcomment %}
            </div>
            <hr>
            <div v-if="searchResultHTML">
                <div v-html="searchResultHTML"></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}