{% load static %}
<div id="wrap" class="w-100">
    <div id="accordion_02" class="right-main">
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_00">
                <a href="#" data-toggle="collapse" data-target="#collapse_10" aria-expanded="true" aria-controls="collapse_10">СРО Ассоциация НАКС</a>
            </div>
            <!-- TODO: Здесь со всех подпунктов переход на одну страницу под разные табы, надо учесть активность кнопок -->
            <div id="collapse_10" class="collapse {% if 'sro_activity' in request.path %}show{% endif %}" aria-labelledby="heading_00" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Деятельность</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Обеспечение имущественной ответственности</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Регистрационные документы</a>
                </div>
            </div>
        </div>
        <!-- {% if '/spks_about_composition/' in request.path %}active{% endif %} -->
        <div class="card rounded-0">
            <!-- TODO: При переходе на страницу к .bg-naks добавляем класс .bg-naks-active -->
            <div class="card-header bg-naks {% if 'sro_docs' in request.path %}bg-naks-active{% endif %}" id="heading_02">
                <a href="{% url 'sro_docs' %}" class="collapsed">Стандарты и правила НАКС</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks {% if 'sro_reestr' in request.path %}bg-naks-active{% endif %}" id="heading_03">
                <a href="{% url 'sro_reestr' %}" class="collapsed">Реестр членов СРО Ассоциация НАКС</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_04">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_14" aria-expanded="false" aria-controls="collapse_14">Органы управления</a>
            </div>
            <!-- TODO: По клику на пункте меню к collapse добавляется .show, а к .dropdown-item добавляем .active -->
            <div id="collapse_14" class="collapse {% if 'sro_sobranie' in request.path %}show{% endif %}" aria-labelledby="heading_04" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'sro_sobranie' %}" class="dropdown-item">Общее собрание</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_presidium' %}" class="dropdown-item">Президиум</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_president' %}" class="dropdown-item">Президент Партнёрства</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_01">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_11" aria-expanded="false" aria-controls="collapse_11">Комитеты и комиссии</a>
            </div>
            <div id="collapse_11" class="collapse {% if 'sro_control_comitet' in request.path %}show{% endif %}" aria-labelledby="heading_01" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'sro_control_comitet' %}" class="dropdown-item">Комитет по контролю</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_disciplinary_comitet' %}" class="dropdown-item">Дисциплинарный комитет</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_audit_commission' %}" class="dropdown-item">Ревизионная комиссия</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks {% if 'sro_legislation' in request.path %}bg-naks-active{% endif %}" id="heading_05">
                <a href="{% url 'sro_legislation' %}" class="collapsed">Законодательство</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks {% if 'sro_forms_docs' in request.path %}bg-naks-active{% endif %}" id="heading_06">
                <a href="{% url 'sro_forms_docs' %}" class="collapsed">Формы документов</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_08">
                <a href="{% url 'agreement' %}" class="collapsed">Партнеры и соглашения</a>
            </div>
        </div>
    </div>
</div>