{% load static %}

<div id="wrap" class="w-100">
    <div class="right-main">
        <!-- <div class="card rounded-0">
            <div class="card-header bg-naks pl-1">
                <a href="{% url 'sro_activity' %}" class="d-flex align-items-center">
                    <i class="fa fa-angle-left fa-2x mr-2"></i>
                    <span>Деятельность<br>СРО Ассоциация НАКС</span>
                </a>
            </div>
        </div> -->
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="{% url 'sro_activity' %}">Деятельность<br>СРО Ассоциация НАКС</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks bg-naks-active">
                <a href="{% url 'sro_docs' %}">Стандарты и правила НАКС</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="{% url 'sro_reestr' %}">Реестр членов<br>СРО Ассоциация НАКС</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="#">Органы управления</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="#">Комитеты и комиссии</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="#">Законодательство</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="#">Формы документов</a>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks">
                <a href="{% url 'agreement' %}">Партнеры и соглашения</a>
            </div>
        </div>
    </div>
</div>
<!-- <div id="wrap" class="w-100">
    <div id="accordion_02" class="right-main">
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_00">
                <a href="#" data-toggle="collapse" data-target="#collapse_00" aria-expanded="true" aria-controls="collapse_00">СРО Ассоциация НАКС</a>
            </div>
            <div id="collapse_00" class="collapse" aria-labelledby="heading_00" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Деятельность</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Обеспечение имущественной ответственности</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_activity' %}" class="dropdown-item">Регистрационные документы</a>
                </div>
            </div>
        </div>

        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_02">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_02" aria-expanded="false" aria-controls="collapse_02">Стандарты и правила</a>
            </div>
            <div id="collapse_02" class="collapse" aria-labelledby="heading_02" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'sro_docs' %}" class="dropdown-item">Стандарты СТО НАКС</a>
                    <div class="dropdown-divider"></div>
                    <a href="{% url 'sro_docs' %}" class="dropdown-item">Правила СРО Ассоциация "НАКС"</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_03">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_03" aria-expanded="false" aria-controls="collapse_03">Реестр членов СРО Ассоциация НАКС</a>
            </div>
            <div id="collapse_03" class="collapse" aria-labelledby="heading_03" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Информация</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_04">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_04" aria-expanded="false" aria-controls="collapse_04">Органы управления</a>
            </div>
            <div id="collapse_04" class="collapse" aria-labelledby="heading_04" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Общее собрание</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Президиум</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Президент Партнёрства</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_01">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_01" aria-expanded="false" aria-controls="collapse_01">Комитеты и комиссии</a>
            </div>
            <div id="collapse_01" class="collapse" aria-labelledby="heading_01" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Комитет по контролю</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Дисциплинарный комитет</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">Ревизионная комиссия</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_05">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_05" aria-expanded="false" aria-controls="collapse_05">Законодательство</a>
            </div>
            <div id="collapse_05" class="collapse" aria-labelledby="heading_05" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Информация</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_06">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_06" aria-expanded="false" aria-controls="collapse_06">Формы документов</a>
            </div>
            <div id="collapse_06" class="collapse" aria-labelledby="heading_06" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="#" class="dropdown-item">Информация</a>
                </div>
            </div>
        </div>
        <div class="card rounded-0">
            <div class="card-header bg-naks" id="heading_08">
                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse_08" aria-expanded="false" aria-controls="collapse_08">Партнеры и соглашения</a>
            </div>
            <div id="collapse_08" class="collapse" aria-labelledby="heading_08" data-parent="#accordion_02">
                <div class="card-body">
                    <a href="{% url 'agreement' %}" class="dropdown-item">Информация</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
