{% load static %}{% load sass_tags %}
<!doctype html>
<html lang="ru">
	<head>
		<title>{{ title }}</title>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		{% block css %}
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.css' %}">

		<!-- My styles -->
		<link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% sass_src 'scss/mystyle.scss' %}">
		<link rel="stylesheet" href="{% static 'css/media.css' %}">
		<link rel="stylesheet" href="{% static 'css/mystyle_ie.css' %}">
		{% endblock %}

		{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'sasv' %}
		<script src="https://api-maps.yandex.ru/2.1/?lang=ru" type="text/javascript"></script>
		{% endif %}
		<!-- <script src="https://yastatic.net/share2/share.js" async="async"></script> -->
	</head>
	<body>
		{% include 'mainapp/includes/header-menu.html' %}

		{% block content%}

		{% endblock %}

		{% include 'mainapp/includes/footer.html' %}

		{% include 'mainapp/includes/modal/modal-questions.html' %}
		{% include 'mainapp/includes/modal/modal-sending-link.html' %}
		{% include 'mainapp/includes/modal/modal-login-account.html' %}

		{% include 'mainapp/includes/modal/modal-feedback.html' %}
		{% include 'mainapp/includes/modal/modal-letter.html' %}
		{% include 'mainapp/includes/modal/modal-technical-devices.html' %}
		{% include 'mainapp/includes/modal/modal-type-activity.html' %}
		{% include 'mainapp/includes/modal/modal-certificate-detail.html' %}
		{% include 'mainapp/includes/modal/modal-welding-method.html' %}
		{% include 'mainapp/includes/modal/modal-chifer-sm.html' %}
		{% include 'mainapp/includes/modal/modal-chifer-so.html' %}
		{% include 'mainapp/includes/modal/modal-reestr-section.html' %}
		{% include 'mainapp/includes/modal/modal-range-detail.html' %}
		{% include 'mainapp/includes/modal/modal-membership-detail.html' %}
		{% include 'mainapp/includes/modal/modal-filter-reestr-ac.html' %}

		{% include 'mainapp/includes/cookie-warning.html' %}

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/PageScroll2id.min.js' %}"></script>
		<script src="{% static 'js/moment-with-locales.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-datetimepicker.js' %}"></script>

		<!-- VUE JS 2 and AXIOS CDN -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<!-- VUE JS 2 and AXIOS CDN -->



		<!-- My scripts -->
		{% if request.resolver_match.url_name == 'index' or request.resolver_match.url_name == 'sasv' %}
			<script src="{% static 'js/map-script.js' %}"></script>
		{% endif %}

		<script src="{% static 'js/myscript.js' %}"></script>
		<script src="{% static 'js/vue_scripts.js' %}"></script>

		<script src="jquery.cookie.js"></script>
		<script>
			$(function() {
			  // Проверяем запись в куках о посещении
			  // Если запись есть - ничего не происходит
			     if (!$.cookie('hideModal')) {
			  // если cookie не установлено появится окно
			  // с задержкой 5 секунд
			    var delay_popup = 1000;
			    setTimeout("document.querySelector('.cookie-warning').style.display='inline-block'", delay_popup);
			     }
			     $.cookie('hideModal', true, {
			   // Время хранения cookie в днях
			    expires: 30,
			    path: '/'
			   });
			});

			// Закрытие полосы cookie


			$('.ok').click(function(){
			    $('.cookie-warning').fadeOut();
			});
		</script>

	</body>
</html>