{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="all-staff">
    <div class="container">
        <h4 class="text-dark mt-5">Восстановление пароля</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Восстановление пароля</li>
                    </ol>
                </nav>
            </div>
        </div>
        <hr>
        <form class="my-4">
            <p class="font-weight-bold mb-4"><span class="text-secondary mr-2">Введите новый пароль для пользователя</span><span>popov.anatoly@gmail.com</span></p>
            <div class="row mb-3">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group row">
                        <label for="" class="col-lg-4 col-form-label col-form-label-sm">Новый пароль:</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-lg-4 col-form-label col-form-label-sm">Повторите пароль:</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control form-control-sm">
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-success font-weight-bold pass-is-valid"><i class="fa fa-check mr-2"></i>Пароль сохранен, теперь можете войти на сайт с новыми данными.</p>
            <button type="submit" class="btn btn-primary btn-sm" id="btnSavePassRecovery">Сохранить</button>
            <button type="button" class="btn btn-outline-secondary btn-sm pass-is-valid" data-toggle="modal" data-target="#modal-authorization">Войти на сайт<i class="fa fa-angle-right ml-1"></i></button>
        </form>
        <hr>
    </div>
</div>
{% endblock %}