{% extends 'mainapp/base_trim.html' %}
{% load static %}
{% block content %}
<div class="bg-light container border shadow-sm px-0 my-5">
    <div class="header-menu bg-light px-4" style="border-bottom: 2px solid rgba(0,0,0,.1)">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand mr-xl-2" href="{% url 'index' %}"><img src="{% static 'images/logo-main.png' %}" class="img-fluid" alt="Логотип НАКС"></a>
            <div class="other-brand">
                <img src="{% static 'images/otherLogo-1.png' %}" class="img-fluid" alt="Логотип Премия Правительства" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" title="Лауреат Премии Правительства РФ в области качества 2012 года">
                <img src="{% static 'images/otherLogo-3.png' %}" class="img-fluid" alt="Логотип Члена МИС" data-toggle="tooltip" data-placement="bottom" title="Член Международного Института Сварки">
                <img src="{% static 'images/otherLogo-2.png' %}" class="img-fluid" alt="Логотип Премия СНГ" data-toggle="tooltip" data-placement="bottom" title="Лауреат Премии СНГ 2013 года за достижения в области качества">
                <img src="{% static 'images/otherLogo-4.png' %}" class="img-fluid" alt="Логотип Премия СНГ" data-toggle="tooltip" data-placement="bottom" title="Система менеджмента качества сертифицирована по ISO 9001:2015">
            </div>
        </nav>
    </div>
    <div class="px-4">
        <h4 class="text-dark my-4">Восстановление пароля на <a href="#" target="_blank">naks.ru</a></h4>
        <p class="text-secondary mb-4">Для восстановления доступа перейдите, пожайлуста, по ссылке<br><a href="{% url 'password_recovery' %}" target="_blank">http://127.0.0.1:8000/password_recovery/?#</a></p>
        <p class="text-secondary"><em>С уважением,<br>Национальное Агентство Контроля Сварки</em></p>
    </div>
</div>
{% endblock %}