{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

    <div class="all-staff">
        <div class="container">
            <h4 class="text-dark mt-5">Реестр аттестованного сварочного оборудования</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-10">
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb mt-3 mb-2 p-0">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Реестр СО</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-2">
                    <a href="{% url 'sasv' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
                </div>
            </div>
            
            <hr>

            <form class="mt-4 mb-4">
                <h6 class="font-weight-bold mb-4">Поиск по параметрам</h6>
                <!-- Фильтр реестра СО -->
                {% include 'mainapp/includes/filter-reestr-so.html' %}
                <!-- End Фильтр реестра СО -->
            </form>

            <hr>

            <div id="reestr-staff" class="mt-4">
                <h6>Найдено записей: <span class="font-weight-bold">2000</span></h6>
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5">
                        <p class="text-secondary">Элементы 1 - 6 из 2000</p>
                    </div>
                    <div class="col-sm-7">
                        <nav aria-label="..." class="float-sm-right">
                            <ul class="pagination pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
                <table class="table table-responsive table-striped table-bordered table-hover text-center">
                    <thead>
                        <tr class="table-secondary">
                            <th>Организация-заявитель</th>
                            <th>Вид аттестации</th>
                            <th>Шифр СО</th>
                            <th>Марка СО</th>
                            <th>Заводские номера</th>
                            <th>Способы сварки</th>
                            <th>ГТУ</th>
                            <th>№ свидетельства</th>
                            <th>Срок действия свидетельства до</th>
                            <th>Рег. № АЦ, проводившего аттестацию</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ЗАО "Нижнесергинский метизно-металлургический завод"</td>
                            <td>Пв</td>
                            <td>А3</td>
                            <td>ВД-506 С</td>
                            <td>771</td>
                            <td>РД</td>
                            <td>ГО, МО, ПТО</td>
                            <td>АЦСО-39-00022</td>
                            <td>16.03.2010</td>
                            <td>АЦСО-39</td>
                        </tr>
                        <tr>
                            <td>ЗАО "Нижнесергинский метизно-металлургический завод"</td>
                            <td>Пв</td>
                            <td>Пс</td>
                            <td>ВД-506 С</td>
                            <td>798</td>
                            <td>РД</td>
                            <td>ГО, МО, ПТО</td>
                            <td>АЦСО-39-00022</td>
                            <td>16.03.2010</td>
                            <td>АЦСО-39</td>
                        </tr>
                        <tr>
                            <td>ЗАО "Трест Строймеханизация №2" </td>
                            <td>Пв</td>
                            <td>А5</td>
                            <td>ПДГ-312-5</td>
                            <td>01-240</td>
                            <td>МП</td>
                            <td>ПТО</td>
                            <td>АЦСО-39-00026</td>
                            <td>14.02.2011</td>
                            <td>АЦСО-39</td>
                        </tr>
                        <tr>
                            <td>ЗАО ПКФ "УралКотлоСервис"</td>
                            <td>Пв</td>
                            <td>А3</td>
                            <td>ВДУ-506 С</td>
                            <td>349</td>
                            <td>РД</td>
                            <td>ГО</td>
                            <td>АЦСО-39-00014</td>
                            <td>11.01.2011</td>
                            <td>АЦСО-39</td>
                        </tr>
                        <tr>
                            <td>ОАО "Екатеринбурггаз"</td>
                            <td>Пв</td>
                            <td>А14</td>
                            <td>АДД-4004 П ИУ1</td>
                            <td>генератор 1100</td>
                            <td>РД</td>
                            <td>ГО</td>
                            <td>АЦСО-39-00044</td>
                            <td>26.01.2013</td>
                            <td>АЦСО-39</td>
                        </tr>
                        <tr>
                            <td>ОАО "Корпорация ВСМПО-АВИСМА"</td>
                            <td>Пв</td>
                            <td>А8</td>
                            <td>PHOENIX DRIVE 4L</td>
                            <td>108069</td>
                            <td>МАДП</td>
                            <td>КО, ОХНВП</td>
                            <td>АЦСО-39-00030</td>
                            <td>16.09.2011</td>
                            <td>АЦСО-39</td>
                        </tr>
                    </tbody>
                </table>
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5">
                        <p class="text-secondary">Элементы 1 - 6 из 2000</p>
                    </div>
                    <div class="col-sm-7">
                        <nav aria-label="..." class="float-sm-right">
                            <ul class="pagination pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
    




