{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="all-docs">
    <div class="container">
        <h4 class="text-dark mt-5">Документы САСв</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Документы САСв</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="{% url 'sasv' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
            </div>
        </div>
        <hr>

        <form class="mt-4 mb-3">
            <h6 class="font-weight-bold">Быстрый поиск документа</h6>
            <div class="form-row">
                <div class="form-group col-xs-12 col-sm-4">
                    <label for="" class="pb-0">Название</label>
                    <input type="text" class="form-control form-control-sm" aria-label="Найти">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label for="" class="pb-0">Раздел</label>
                    <select id="" class="form-control form-control-sm">
                        <option selected>Все</option>
                        <option>Соглашения</option>
                        <option>Нормативные документы</option>
                        <option>Руководящие документы</option>
                        <option>Письма Ростехнадзора</option>
                        <option>Методические документы</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <label for="" class="pb-0">Направление</label>
                    <select id="" class="form-control form-control-sm">
                        <option selected>Все</option>
                        <option>Аттестация специалистов сварочного производства</option>
                        <option>Аттестация сварочных материалов</option>
                        <option>Аттестация сварочного оборудования</option>
                        <option>Аттестация сварочных технологий</option>
                        <option>Специальная подготовка</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-search"></i> Найти</button>
                    <button type="button" class="btn btn-link btn-sm">Сбросить</button>
                </div>
            </div>
        </form>
        <hr>
        <!-- TODO: на большой экран выводим по 10 (5+5) документов каждого раздела, на средний по 6 (3+3), на маленький 3 -->
        <div id="docsSasv" class="mt-4">
            <!-- Соглашения -->
            <h5 class="text-primary my-4">Соглашения</h5>

            {% include 'mainapp/includes/sasv/docs_sasv_soglash.html' %}
            
            <button type="button" class="btn btn-primary btn-sm mt-4" role="button">Показать все<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
            <!-- End Соглашения -->

            <hr class="mt-4">
            
            <!-- Нормативные -->
            <h5 class="text-primary my-4">Нормативные документы</h5>

            {% include 'mainapp/includes/sasv/docs_sasv_normativ.html' %}
            
            <button type="button" class="btn btn-primary btn-sm mt-4" role="button">Показать все<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
            <!-- End Нормативные -->

            <hr class="mt-4">
            
            <!-- Руководящие -->
            <h5 class="text-primary my-4">Руководящие документы</h5>

            {% include 'mainapp/includes/sasv/docs_sasv_rukovod.html' %}
            
            <button type="button" class="btn btn-primary btn-sm mt-4" role="button">Показать все<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
            <!-- End Руководящие -->

            <hr class="mt-4">
            
            <!-- Письма -->
            <h5 class="text-primary my-4">Письма Ростехнадзора</h5>

            {% include 'mainapp/includes/sasv/docs_sasv_rostech.html' %}
            
            <button type="button" class="btn btn-primary btn-sm mt-4" role="button">Показать все<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
            <!-- End Письма -->

            <hr class="mt-4">
            
            <!-- Методические -->
            <h5 class="text-primary my-4">Методические документы</h5>

            {% include 'mainapp/includes/sasv/docs_sasv_metodich.html' %}
            
            <button type="button" class="btn btn-primary btn-sm mt-4" role="button">Показать все<i class="fa fa-angle-right ml-2" aria-hidden="true"></i></button>
            <!-- End Методические -->
        </div>
    </div>
</div>

{% endblock %}