{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="all-staff">
    <div class="container">
        <h4 class="text-dark mt-5">Реестр аттестованных сварочных материалов</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Реестр СМ</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="{% url 'sasv' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
            </div>
        </div>

        <hr>

        <form class="mt-4 mb-4">
            <h6 class="font-weight-bold mb-4">Поиск по параметрам</h6>
            <!-- Фильтр СМ -->
            {% include 'mainapp/includes/sasv/filter-reestr-sm.html' %}
            <!-- End Фильтр СМ -->
        </form>

        <hr>

        <div id="reestr-staff" class="mt-4">
            <h6>Найдено записей: <span class="font-weight-bold">6</span></h6>
            <div class="row d-flex align-items-center">
                <div class="col-sm-5">
                    <p class="text-secondary">Элементы 1 - 6 из 6</p>
                </div>
                <div class="col-sm-7">
                    <nav aria-label="..." class="float-sm-right">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <table class="table table-responsive table-striped table-bordered table-hover text-center">
                <thead>
                    <tr class="table-secondary">
                        <th>Организация-заявитель</th>
                        <th>Вид аттестации</th>
                        <th>Шифр СМ</th>
                        <th>Марка СМ</th>
                        <th>Классификация (состав)</th>
                        <th>Партия №</th>
                        <th>Диаметр, мм</th>
                        <th>ТУ, ГОСТ</th>
                        <th>Способы сварки</th>
                        <th>ГТУ</th>
                        <th>№ свидетельства</th>
                        <th>Срок действия свидетельства до</th>
                        <th>Рег. № АЦ, проводившего аттестацию</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Ф</td>
                        <td>OP 121 TT</td>
                        <td></td>
                        <td>01906116</td>
                        <td></td>
                        <td></td>
                        <td>АФ</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00006</td>
                        <td>15.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Пс</td>
                        <td>OE-TIBOR 22</td>
                        <td></td>
                        <td>08560510</td>
                        <td>4,0</td>
                        <td></td>
                        <td>АФ</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00005</td>
                        <td>15.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Пс</td>
                        <td>OE-SD3 1Ni 1/2Mo</td>
                        <td>AWS А5.23: F9A8-EG-F3</td>
                        <td>08550483</td>
                        <td>2,4</td>
                        <td></td>
                        <td>АФ</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00004</td>
                        <td>12.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Пп</td>
                        <td>Pipeweld 101Т-1</td>
                        <td>SFA/AWS А5.36: E101T1-M21A4-G; EN ISO 18276-A: T 62 4 Mn1Ni P M 2 H5</td>
                        <td>PVR280503</td>
                        <td>1,2</td>
                        <td></td>
                        <td>МПГ</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00003</td>
                        <td>12.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Эп</td>
                        <td>FILARC 76S</td>
                        <td>SFA/AWS A5.5: E7018-G; EN2560-A: E 46 6 Mn1Ni B 32 H5</td>
                        <td>SBR23070</td>
                        <td>2,5</td>
                        <td></td>
                        <td>РД</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00002</td>
                        <td>12.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                    <tr>
                        <td>Представительство ООО "Олсиз Нидерланды (Бразилия) Б.В."</td>
                        <td>Пв</td>
                        <td>Пс</td>
                        <td>Pipeweld 70S-6</td>
                        <td>AWS A/SFA 5.18: ER70S6, EN ISO 14341-A: G4Si1</td>
                        <td>PVR29545317</td>
                        <td>1,2</td>
                        <td></td>
                        <td>АПГ</td>
                        <td>НГДО</td>
                        <td>АЦСМ-63-00001</td>
                        <td>12.01.2021</td>
                        <td>АЦСМ-63</td>
                    </tr>
                </tbody>
            </table>
            <div class="row d-flex align-items-center">
                <div class="col-sm-5">
                    <p class="text-secondary">Элементы 1 - 6 из 6</p>
                </div>
                <div class="col-sm-7">
                    <nav aria-label="..." class="float-sm-right">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
