{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="all-docs">
    <div class="container">
        <h4 class="text-dark mt-5">Система аттестации сварочного производства (САСв)</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Справочно-техническая информация</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="{% url 'sasv' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-md-8 col-xl-9">
                <!-- Mobil right main -->
                <div class="d-block d-md-none mt-3 mb-4">
                    {% include 'mainapp/includes/sasv/mobil-right-menu-sasv.html' %}
                </div> 
                <!-- End mobil right main -->

                <div class="main-content mt-4" id="heightContent">
                    <h5 class="text-primary my-4">Справочно-техническая информация</h5>
                    <div class="table-responsive">
                    <table class="table table-hover table-striped table-docs mb-0">
                        <tr>
                            <th>Бюро Промышленного Маркетинга предлагает Библиотеку нормативно-справочных материалов по сварочному производству, разработанную с участием НАКС</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Образец заявки на разработку программ специальной подготовки</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Шаблоны отчетов о техническом аудите АЦСП, ЦСП, АЦСМ, АЦСО, АЦСТ</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Заявка на получение Аттестата соответствия НАКС</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Заявка на расширение области деятельности</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Заявка на создание аттестационного пункта</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Заявка на включение члена(-ов) комиссии в состав комиссии АЦ</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                        <tr>
                            <th>Группы технических устройств опасных производственных объектов</th>
                            <td><a href="#" class="btn btn-outline-dark btn-sm" name="btnOpenDoc" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a></td>
                        </tr>
                    </table>
                </div>
                    <!-- <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Бюро Промышленного Маркетинга предлагает Библиотеку нормативно-справочных материалов по сварочному производству, разработанную с участием НАКС</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>

                                        <div class="btn-group btn-group-sm d-inline-block" role="group">
                                            <button type="button" class="btn btn-outline-secondary border-0" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Обновлено 08 июня 2014 г."><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Образец заявки на разработку программ специальной подготовки</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Шаблоны отчетов о техническом аудите АЦСП, ЦСП, АЦСМ, АЦСО, АЦСТ</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Заявка на получение Аттестата соответствия НАКС</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr class="d-block d-sm-none">
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Заявка на расширение области деятельности</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Заявка на создание аттестационного пункта</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Заявка на включение члена(-ов) комиссии в состав комиссии АЦ</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                            <hr>

                            <div id="doc_00">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-secondary mb-3">Группы технических устройств опасных производственных объектов</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <a href="#" class="btn btn-outline-dark btn-sm" role="button" target="_blank"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i>Открыть документ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="d-none d-md-block col-md-4 col-xl-3">
                <!-- Content Right menu -->
                {% include 'mainapp/includes/sasv/right-menu-sasv.html' %}
                <!-- End Content Right menu -->
            </div>
        </div>
    </div>
</div>

{% endblock %}