{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">Система аттестации сварочного производства (САСв)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">САСв</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/sasv/mobil-right-menu-sasv.html' %}
            </div>
            <!-- End mobil right main -->

            <p class="text-secondary">
                Деятельность системы аттестации сварочного производства регламентирована нормативными документами
                ПБ 03-273-9 «Правила аттестации сварщиков и специалистов сварочного производства»,
                РД 03-495-02  «Технологический регламент проведения аттестации сварщиков и специалистов сварочного
                производства», РД 03-613-03 «Порядок применения сварочных материалов при изготовлении, монтаже, ремонте
                и реконструкции технических устройств для опасных производственных объектов»,
                РД 03-614-03 «Порядок применения сварочного оборудования при изготовлении, монтаже, ремонте и
                реконструкции технических устройств для опасных производственных объектов», РД 03-615-03 «Порядок применения
                сварочных технологий при изготовлении, монтаже, ремонте и реконструкции технических устройств для опасных
                производственных объектов», и <a href="{% url 'sasv_docs' %}">другими руководящими и методическими документами</a>
            </p>
            <hr>
            <h5 class="text-primary mt-2 mb-4">Аттестационные центры на карте</h5>
            <!-- Big Radiobuttons -->
            <div id="app_map_points">
            <div class="show-units" id="btn-card-units">
                <div class="d-block">
                    <div class="row mb-3">
                        <div class="col mb-4">
                        {% comment %} <button @click="buttonPress('allCenters')" type="button" :class="[show_map=='allCenters' ? 'btn btn-outline-danger btn-block active' : 'btn btn-outline-danger btn-block']">Аттестационные центры</button> {% endcomment %}
                        <a href="#" @click.prevent="buttonPress('personal')" :class="[show_map=='personal' ? 'btn btn-outline-danger btn-block btn-sm active' : 'btn btn-outline-danger btn-block btn-sm']" role="button">Аттестация персонала</a>
                        </div>
                        <div class="col mb-4">
                        <a href="#" @click.prevent="buttonPress('attsm')" :class="[show_map=='attsm' ? 'btn btn-outline-danger btn-block btn-sm active' : 'btn btn-outline-danger btn-block btn-sm']" role="button">Аттестация сварочных материалов</a>
                        </div>
                        <div class="col mb-4">
                        <a href="#" @click.prevent="buttonPress('attso')" :class="[show_map=='attso' ? 'btn btn-outline-danger btn-block btn-sm active' : 'btn btn-outline-danger btn-block btn-sm']" role="button">Аттестация сварочного оборудования</a>
                        </div>
                        <div class="col mb-4">
                        <a href="#" @click.prevent="buttonPress('attst')" :class="[show_map=='attst' ? 'btn btn-outline-danger btn-block btn-sm active' : 'btn btn-outline-danger btn-block btn-sm']" role="button">Аттестация сварочных технологий</a>
                        </div>
                        <div class="col align-self-center mb-4">
                        <a href="#" @click.prevent="buttonPress('specpod')" :class="[show_map=='specpod' ? 'btn btn-outline-danger btn-block btn-sm active' : 'btn btn-outline-danger btn-block btn-sm']" role="button">Центры специальной подготовки</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Big Radiobuttons -->

            <!-- Yandex Maps -->
                <div ref="direction" data-direction="personal"></div>
                <div id="map" class="w-100">
            </div>

            </div>
            <!-- End map -->

            <hr class="mt-4">
            <div class="main-content mt-4">
                <h5 class="text-primary my-4">Наши партнёры</h5>
                <div id="sasvPartnersContent">
                    <!-- Partners -->
                    {% include 'mainapp/includes/partners.html' %}
                    <!-- End Partners -->
                </div>
            </div>
            <hr class="mb-4">
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/sasv/right-menu-sasv.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}