{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Аттестация специалистов сварочного производства</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb mt-3 mb-2 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sasv' %}">САСв</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sasv_ac' %}">Список аттестационных центров</a></li>
                    <li class="breadcrumb-item active" aria-current="page">БР-1ГАЦ</li>
                </ol>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{% url 'reestr:centers' 'personal' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/sasv/mobil-right-menu-sasv.html' %}
            </div>
            <!-- End mobil right main -->
            <!-- Radiobuttons -->
            <div class="show-units">
                <ul class="row nav nav-fill mt-4 mb-3" id="pills-tab" role="tablist">
                    <li class="col-auto col-lg-6 nav-item mb-4">
                        <a class="btn btn-outline-danger btn-block active" id="pills-ac-tab" data-toggle="pill" href="#pills-ac" role="tab" aria-controls="pills-ac" aria-selected="true">БР-1ГАЦ</a>
                    </li>
                    <li class="col-auto col-lg-6 nav-item mb-4">
                        <a class="btn btn-outline-danger btn-block" id="pills-ap-tab" data-toggle="pill" href="#pills-ap" role="tab" aria-controls="pills-ap" aria-selected="false">Перечень АП в составе БР-1ГАЦ</a>
                    </li>
                </ul>
            </div>
            <!-- End Radiobuttons -->
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-ac" role="tabpanel" aria-labelledby="pills-ac-tab">
                    <h5 class="text-primary my-4">ООО "Головной аттестационно - сертификационный центр Республики Башкортостан"</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-ac mb-0">
                            <tr class="table-secondary">
                                <th>Шифр аттестационного центра:</th>
                                <th>
                                    <span class="mr-2">БР-1ГАЦ</span>
                                    <span class="mr-2"><img class="img-fluid" src="{% static 'images/iconTransneft.png' %}" title="АЦ осуществляет аттестацию на объектах ПАО «АК «Транснефть»"></span>
                                    <span class="mr-2"><img class="img-fluid" src="{% static 'images/iconGazprom.png' %}" title="АЦ осуществляет аттестацию на объектах ПАО «Газпром»"></span>
                                </th>
                            </tr>
                            <tr>
                                <th>Полное наименование организации:</th>
                                <td>Общество с ограниченной ответственностью "Головной аттестационно - сертификационный центр Республики Башкортостан"</td>
                            </tr>
                            <tr>
                                <th>Место нахождения:</th>
                                <td>Уфа</td>
                            </tr>
                            <tr>
                                <th>Юридический адрес организации:</th>
                                <td>450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</td>
                            </tr>
                            <tr>
                                <th>Почтовый адрес организации:</th>
                                <td>450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</td>
                            </tr>
                            <tr>
                                <th>Фактический адрес организации:</th>
                                <td>450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</td>
                            </tr>
                            <tr>
                                <th>Руководитель организации:</th>
                                <td>Атрощенко Валерий Владимирович</td>
                            </tr>
                            <tr>
                                <th>Руководитель АЦ:</th>
                                <td>Сафархузина Полина Валерьевна</td>
                            </tr>
                            <tr>
                                <th>Телефон:</th>
                                <td>(347) 216-42-33, 246-87-26</td>
                            </tr>
                            <tr>
                                <th>Факс:</th>
                                <td>(347) 256-39-03</td>
                            </tr>
                            <tr>
                                <th>E-mail:</th>
                                <td>gac_rb@ufamail.ru</td>
                            </tr>
                            <tr>
                                <th>Сайт:</th>
                                <td><a href="http://ufanaks.ru/">http://ufanaks.ru/</a></td>
                            </tr>
                            <tr>
                                <th>Срок действия Аттестата соответствия:</th>
                                <td>с 07.10.2016 по 07.10.2019</td>
                            </tr>
                            <tr>
                                <th>Группы технических устройств:</th>
                                <td>ПТО, КО, ГО, НГДО, ГДО, ОХНВП, ОТОГ, СК, КСМ</td>
                            </tr>
                            <tr>
                                <th>Способы сварки (наплавки):</th>
                                <td> ААД, ААДН, ААДП, АПГ, АФ, АФПН, Г, ЗН, КСО, МАДП, МП, МПГ, МПС, МФ, НИ, П, ПАК, РАД, РАДН, РД, РДН, Т, ЭШ</td>
                            </tr>
                            <tr>
                                <th>Уровни профессиональной подготовки:</th>
                                <td> I, II, III, IV</td>
                            </tr>
                            <tr>
                                <td colspan="2" align="center"><a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-authorization">Подать заявку</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-ap" role="tabpanel" aria-labelledby="pills-ap-tab">
                    <h5 class="text-primary my-4">Аттестационные пункты в составе БР-1ГАЦ</h5>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-ac mb-0">
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-1АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>ОАО «Акционерная компания Востокнефтезаводмонтаж»</td>
                            </tr>
                            <tr>
                                <th>Юридический адрес организации:</th>
                                <td>450064, Республика Башкортостан, г. Уфа, ул. Нежинская, д. 11/1</td>
                            </tr>
                            <tr>
                                <th>Фактический адрес организации:</th>
                                <td>450112, Республика Башкортостан, г. Уфа, ул. Спартака, д. 13</td>
                            </tr>
                            <tr>
                                <th>Группы технических устройств:</th>
                                <td>ПТО, КО, ГО, НГДО, ОХНВП, СК</td>
                            </tr>
                            <tr>
                                <th>Способы сварки (наплавки):</th>
                                <td>АФ, АФПН, Г, МАДП, МП, МПГ, МПС, РАД, РАДН, РД, РДН</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-2АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>Исключён из реестра 23 апреля 2010 г.</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-3АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>Исключён из реестра 30 января 2015 г.</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-7АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>ООО «Завод строительных материалов и конструкций»</td>
                            </tr>
                            <tr>
                                <th>Юридический адрес организации:</th>
                                <td>453256, Республика Башкортостан, г. Салават, ул. Молодогвардейцев, д. 27</td>
                            </tr>
                            <tr>
                                <th>Фактический адрес организации:</th>
                                <td>453256, Республика Башкортостан, г. Салават, ул. Молодогвардейцев, д. 27</td>
                            </tr>
                            <tr>
                                <th>Группы технических устройств:</th>
                                <td>ПТО, КО, ГО, НГДО, ОХНВП, СК</td>
                            </tr>
                            <tr>
                                <th>Способы сварки (наплавки):</th>
                                <td>Г, МАДП, МП, МПГ, МПС, РАД, РАДН, РД, РДН</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-8АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>ОАО «Газпром газораспределение Уфа» филиал - «Учебно-Экспертный Центр»</td>
                            </tr>
                            <tr>
                                <th>Юридический адрес организации:</th>
                                <td>450059, Республика Башкортостан, г. Уфа, ул. Новосибирская, д. 2/4</td>
                            </tr>
                            <tr>
                                <th>Фактический адрес организации:</th>
                                <td>450103, Республика Башкортостан, г. Уфа, ул. Пугачева, д. 112/1</td>
                            </tr>
                            <tr>
                                <th>Группы технических устройств:</th>
                                <td>ГО</td>
                            </tr>
                            <tr>
                                <th>Способы сварки (наплавки):</th>
                                <td>Г, ЗН, НИ, РД, РДН</td>
                            </tr>
                            <tr class="table-secondary">
                                <th>Шифр аттестационного пункта:</th>
                                <th>БР-1ГАЦ-9АП</th>
                            </tr>
                            <tr>
                                <th>Наименование организации:</th>
                                <td>Исключён из реестра 07 июня 2016 г.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="map" class="w-100 mt-4"></div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/sasv/right-menu-sasv.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}