{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Комиссии</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div> 
            <!-- End mobil right main -->

            <div class="main-content mt-4">

                <!-- Big Radiobuttons -->
                <div class="show-units">
                    <ul class="row nav nav-fill mt-4" id="pills-tab" role="tablist">
                        <li class="col-auto col-lg-6 nav-item mb-4">
                            <a class="btn btn-outline-danger btn-block active" id="pills-comiss-tab" data-toggle="pill" href="#pills-comiss" role="tab" aria-controls="pills-comiss" aria-selected="true">Комиссии</a>
                        </li>
                        <li class="col-auto col-lg-6 nav-item mb-4">
                            <a class="btn btn-outline-danger btn-block" id="pills-comiss-central-tab" data-toggle="pill" href="#pills-comiss-central" role="tab" aria-controls="pills-comiss-central" aria-selected="false">Центральная аттестационная комиссия</a>
                        </li>
                        <li class="col-auto col-lg-6 nav-item mb-4">
                            <a class="btn btn-outline-danger btn-block" id="pills-comiss-appeal-tab" data-toggle="pill" href="#pills-comiss-appeal" role="tab" aria-controls="pills-comiss-appeal" aria-selected="false">Апелляционная комиссия</a>
                        </li>
                    </ul>
                </div><!-- End Big Radiobuttons -->
                
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-comiss" role="tabpanel" aria-labelledby="pills-comiss-tab">
                        <h5 class="text-primary my-4">Комиссии Совета по профессиональным квалификациям в области сварки</h5>
                        <div class="table-responsive">
                            <div class="table-responsive">
                            <table class="table table-bordered table-contacts mb-0">
                                <tbody>
                                    <tr>
                                        <th>Комиссия по мониторингу рынка труда</th>
                                        <td>
                                            <p class="mb-1">1. Минаев Сергей Михайлович, Руководитель комиссии, заместитель начальника отдела технического регулирования и оценки квалификации СРО НП «НАКС», г. Москва</p>
                                            <p class="mb-1">2. Гортышов Юрий Федорович, директор ООО «Центр Приволжского Региона «Техносвар», член правления Ассоциации инженерного образования РФ, Президент КГТУ-КАИ им. А.Н. Туполева, д.т.н., профессор, Заслуженный деятель науки РФ и РТ, г. Казань</p>
                                            <p class="mb-1">3. Игуменов Александр Анатольевич, ведущий инженер СРО Ассоциация НАКС, г. Москва</p>
                                            <p class="mb-1">4. Ковтунов Александр Иванович, директор ООО ССДЦ «Дельта», г. Тольятти</p>
                                            <p class="mb-1">5. Левченко Алексей Михайлович, директор ООО «РСЗ МАЦ», г. Санкт-Петербург</p>
                                            <p class="mb-1">6. Ракк Виктор Александрович, директор ООО «НАКС-ПФО», г. Оренбург</p>
                                            <p class="mb-1">7. Сигаев Алексей Анатольевич, Генеральный директор ЗАО «ЗУАЦ», г. Пермь</p>
                                            <p class="mb-1">8. Смирнов Александр Николаевич, Директор ООО «Кузбасский центр сварки и контроля», г. Кемерово</p> 
                                            <p class="mb-1">9. Щебуняев Дмитрий Васильевич, инженер ООО «НАКС Архангельск», г. Архангельск</p> 
                                            <p class="mb-0">10. Филиппова Ирина Григорьевна, заместитель директора ООО «ГАЦ-ССР», г. Краноярск</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Комиссия по профессиональным стандартам</th>
                                        <td>
                                            <p class="mb-1">1. Минаев Сергей Михайлович, Руководитель комиссии, заместитель начальника отдела технического регулирования и оценки квалификации СРО НП «НАКС», г. Москва</p>
                                            <p class="mb-1">2. Гортышов Юрий Федорович, директор ООО «Центр Приволжского Региона «Техносвар», член правления Ассоциации инженерного образования РФ, Президент КГТУ-КАИ им. А.Н. Туполева, д.т.н., профессор, Заслуженный деятель науки РФ и РТ, г. Казань</p>
                                            <p class="mb-1">3. Игуменов Александр Анатольевич, ведущий инженер СРО Ассоциация НАКС, г. Москва</p>
                                            <p class="mb-1">4. Ковтунов Александр Иванович, директор ООО ССДЦ «Дельта», г. Тольятти</p>
                                            <p class="mb-1">5. Левченко Алексей Михайлович, директор ООО «РСЗ МАЦ», г. Санкт-Петербург</p>
                                            <p class="mb-1">6. Ракк Виктор Александрович, директор ООО «НАКС-ПФО», г. Оренбург</p>
                                            <p class="mb-1">7. Сигаев Алексей Анатольевич, Генеральный директор ЗАО «ЗУАЦ», г. Пермь</p>
                                            <p class="mb-1">8. Смирнов Александр Николаевич, Директор ООО «Кузбасский центр сварки и контроля», г. Кемерово</p> 
                                            <p class="mb-1">9. Щебуняев Дмитрий Васильевич, инженер ООО «НАКС Архангельск», г. Архангельск</p> 
                                            <p class="mb-0">10. Филиппова Ирина Григорьевна, заместитель директора ООО «ГАЦ-ССР», г. Краноярск</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Комиссия по развитию системы профессионального образования и обучения в национальной системе квалификаций</th>
                                        <td>
                                            <p class="mb-1">1. Минаев Сергей Михайлович, Руководитель комиссии, заместитель начальника отдела технического регулирования и оценки квалификации СРО НП «НАКС», г. Москва</p>
                                            <p class="mb-1">2. Гортышов Юрий Федорович, директор ООО «Центр Приволжского Региона «Техносвар», член правления Ассоциации инженерного образования РФ, Президент КГТУ-КАИ им. А.Н. Туполева, д.т.н., профессор, Заслуженный деятель науки РФ и РТ, г. Казань</p>
                                            <p class="mb-1">3. Игуменов Александр Анатольевич, ведущий инженер СРО Ассоциация НАКС, г. Москва</p>
                                            <p class="mb-1">4. Ковтунов Александр Иванович, директор ООО ССДЦ «Дельта», г. Тольятти</p>
                                            <p class="mb-1">5. Левченко Алексей Михайлович, директор ООО «РСЗ МАЦ», г. Санкт-Петербург</p>
                                            <p class="mb-1">6. Ракк Виктор Александрович, директор ООО «НАКС-ПФО», г. Оренбург</p>
                                            <p class="mb-1">7. Сигаев Алексей Анатольевич, Генеральный директор ЗАО «ЗУАЦ», г. Пермь</p>
                                            <p class="mb-1">8. Смирнов Александр Николаевич, Директор ООО «Кузбасский центр сварки и контроля», г. Кемерово</p> 
                                            <p class="mb-1">9. Щебуняев Дмитрий Васильевич, инженер ООО «НАКС Архангельск», г. Архангельск</p> 
                                            <p class="mb-0">10. Филиппова Ирина Григорьевна, заместитель директора ООО «ГАЦ-ССР», г. Краноярск</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Комиссия по нормативно-методическому и информационному обеспечению</th>
                                        <td>
                                            <p class="mb-1">1. Минаев Сергей Михайлович, Руководитель комиссии, заместитель начальника отдела технического регулирования и оценки квалификации СРО НП «НАКС», г. Москва</p>
                                            <p class="mb-1">2. Гортышов Юрий Федорович, директор ООО «Центр Приволжского Региона «Техносвар», член правления Ассоциации инженерного образования РФ, Президент КГТУ-КАИ им. А.Н. Туполева, д.т.н., профессор, Заслуженный деятель науки РФ и РТ, г. Казань</p>
                                            <p class="mb-1">3. Игуменов Александр Анатольевич, ведущий инженер СРО Ассоциация НАКС, г. Москва</p>
                                            <p class="mb-1">4. Ковтунов Александр Иванович, директор ООО ССДЦ «Дельта», г. Тольятти</p>
                                            <p class="mb-1">5. Левченко Алексей Михайлович, директор ООО «РСЗ МАЦ», г. Санкт-Петербург</p>
                                            <p class="mb-1">6. Ракк Виктор Александрович, директор ООО «НАКС-ПФО», г. Оренбург</p>
                                            <p class="mb-1">7. Сигаев Алексей Анатольевич, Генеральный директор ЗАО «ЗУАЦ», г. Пермь</p>
                                            <p class="mb-1">8. Смирнов Александр Николаевич, Директор ООО «Кузбасский центр сварки и контроля», г. Кемерово</p> 
                                            <p class="mb-1">9. Щебуняев Дмитрий Васильевич, инженер ООО «НАКС Архангельск», г. Архангельск</p> 
                                            <p class="mb-0">10. Филиппова Ирина Григорьевна, заместитель директора ООО «ГАЦ-ССР», г. Краноярск</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-comiss-central" role="tabpanel" aria-labelledby="pills-comiss-central-tab">
                        <h5 class="text-primary my-4">Центральная аттестационная комиссия</h5>
                        <p class="text-secondary">Состав центральной аттестационной комиссии СПКС утвержден решением Совета по профессиональным квалификациям в области сварки <a href="#" target="_blank">Протокол №11 от 19.09.2018г.</a></p>
                        <div class="table-responsive">
                            <!-- Центральная аттестационная комиссия -->
                            <div class="table-responsive">
                                <table class="table table-hover table-striped table-nts mb-0" id="table-composition">
                                    <tbody>
                                        <tr>
                                            <td>1.</td>
                                            <th>Антохин Владимир Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <th>Артемьев Вячеслав Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <th>Атрощенко Валерий Владимирович</th>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <th>Беспалов Владимир Иванович</th>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <th>Беспрозванных Борис Петрович</th>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <th>Блехерова Наталия Григорьевна</th>
                                        </tr>
                                        <tr>
                                            <td>7.</td>
                                            <th>Бродягин Владимир Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>8.</td>
                                            <th>Будревич Дмитрий Геннадьевич</th>
                                        </tr>
                                        <tr>
                                            <td>9.</td>
                                            <th>Бычков Владимир Михайлович</th>
                                        </tr>
                                        <tr>
                                            <td>10.</td>
                                            <th>Казаченок Сергей Сергеевич</th>
                                        </tr>
                                        <tr>
                                            <td>11.</td>
                                            <th>Котельников Владимир Семёнович</th>
                                        </tr>
                                        <tr>
                                            <td>12.</td>
                                            <th>Кочетов Михаил Вениаминович</th>
                                        </tr>
                                        <tr>
                                            <td>13.</td>
                                            <th>Антохин Владимир Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>14.</td>
                                            <th>Артемьев Вячеслав Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>15.</td>
                                            <th>Атрощенко Валерий Владимирович</th>
                                        </tr>
                                        <tr>
                                            <td>16.</td>
                                            <th>Беспалов Владимир Иванович</th>
                                        </tr>
                                        <tr>
                                            <td>17.</td>
                                            <th>Беспрозванных Борис Петрович</th>
                                        </tr>
                                        <tr>
                                            <td>18.</td>
                                            <th>Блехерова Наталия Григорьевна</th>
                                        </tr>
                                        <tr>
                                            <td>19.</td>
                                            <th>Бродягин Владимир Николаевич</th>
                                        </tr>
                                        <tr>
                                            <td>20.</td>
                                            <th>Будревич Дмитрий Геннадьевич</th>
                                        </tr>
                                        <tr>
                                            <td>21.</td>
                                            <th>Бычков Владимир Михайлович</th>
                                        </tr>
                                        <tr>
                                            <td>22.</td>
                                            <th>Казаченок Сергей Сергеевич</th>
                                        </tr>
                                        <tr>
                                            <td>23.</td>
                                            <th>Котельников Владимир Семёнович</th>
                                        </tr>
                                        <tr>
                                            <td>24.</td>
                                            <th>Кочетов Михаил Вениаминович</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- End Центральная аттестационная комиссия -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="pills-comiss-appeal" role="tabpanel" aria-labelledby="pills-comiss-appeal-tab">
                        <h5 class="text-primary my-4">Апелляционная комиссия</h5>
                        <p class="text-secondary">В соответствии со статьей 4 Федерального закона от 3 июля 2016 г. № 238-ФЗ «О независимой оценке квалификации», соискатель, работодатель, иные указанные в части 2 настоящей статьи физические и (или) юридические лица, которые не согласны с решениями, принятыми центром оценки квалификаций по итогам прохождения профессионального экзамена, в течение тридцати календарных дней с даты информирования их о результатах прохождения профессионального экзамена в порядке, установленном положением об апелляционной комиссии по рассмотрению жалоб, связанных с результатами проведения профессионального экзамена и выдачей свидетельства о квалификации, вправе подать письменную жалобу в апелляционную комиссию совета по профессиональным квалификациям.</p>
                        <p class="text-secondary">Апелляционная комиссия рассматривает жалобы, поступившие в письменном виде от соискателей, работодателей, иных физических и юридических лиц, за счет средств которых проводился профессиональный экзамен, либо их законных представителей, на действия (бездействия) центра оценки квалификаций по следующим основаниям:</p>
                        <ul class="text-secondary pl-3" style="list-style-type: none;">
                            <li><strong>а)</strong> отказ соискателю в приеме документов на проведение профессионального экзамена;</li>
                            <li><strong>б)</strong> несогласие с решениями, принятыми по итогам прохождения профессионального экзамена;</li>
                            <li><strong>в)</strong> несоблюдение установленного порядка проведения профессионального экзамена;</li>
                            <li><strong>г)</strong> нарушение сроков выдачи свидетельства о квалификации или отказ в выдаче его дубликата, несоответствие бланка свидетельства о квалификации и приложения к нему установленной форме;</li>
                            <li><strong>д)</strong> отсутствие информации о выданном свидетельстве о квалификации в реестре сведений о проведении независимой оценки квалификации.</li>
                        </ul>
                        <h5>Состав Апелляционной комиссии</h5>
                        <div class="table-responsive mb-4">
                            <!-- Апелляционная комиссия -->
                            <table class="table table-hover table-striped table-nts mb-0" id="table-composition">
                                <tbody>
                                    <tr>
                                        <td>1.</td>
                                        <th width="30%">Орлов Александр Семенович</th>
                                        <td>Руководитель комиссии, Генеральный директор ООО «ГАЦ ЦР», д.т.н., профессор, заведующий кафедрой металлических конструкций и сварки в строительстве Воронежского Государственного архитектурно-строительного Университета, г. Воронеж</td>
                                    </tr>
                                    <tr>
                                        <td>2.</td>
                                        <th>Викулов Вадим Александрович</th>
                                        <td>Директор АНО «ВРАЦ», г. Вологда</td>
                                    </tr>
                                    <tr>
                                        <td>3.</td>
                                        <th>Клюев Сергей Владимирович</th>
                                        <td>Вице-президент общероссийской общественной организации «Российское общество по неразрушающему контролю и технической диагностике» (РОНКТД), генеральный директор АО МНПО «Спектр», к.т.н., г. Москва</td>
                                    </tr>
                                    <tr>
                                        <td>4.</td>
                                        <th>Косаковская Елена Ивановна</th>
                                        <td>Заместитель руководителя Департамента социально-трудовых отношений и социального партнёрства Федерации Независимых Профсоюзов России, г. Москва</td>
                                    </tr>
                                    <tr>
                                        <td>5.</td>
                                        <th>Печенкина Валентина Адамовна</th>
                                        <td>АНО «ГАЦ СВР», г. Тольятти</td>
                                    </tr>
                                    <tr>
                                        <td>6.</td>
                                        <th>Чупрак Светлана Михайловна</th>
                                        <td>Начальник отдела технического регулирования и оценки квалификации СРО НП «НАКС», г. Москва</td>
                                    </tr>
                                    <tr>
                                        <td>7.</td>
                                        <th>Штоколов Сергей Александрович</th>
                                        <td>Генеральный директор ОАО «НИИ Монтаж», г. Краснодар</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- End Апелляционная комиссия -->
                        </div>
                        <h5>Контакты апелляционной комиссии</h5>
                        <div class="table-responsive">
                            <table class="table table-bordered table-contacts mb-0">
                                <tbody>
                                    <tr>
                                        <th>Председатель апелляционной комиссии</th>
                                        <td>Орлов Александр Семенович</td>
                                    </tr>
                                    <tr>
                                        <th>Секретарь апелляционной комиссии</th>
                                        <td>Чупрак Светлана Михайловна</td>
                                    </tr>
                                    <tr>
                                        <th>Телефон / Факс / Email</th>
                                        <td>
                                            <div class="mb-2"><i class="d-none d-sm-inline-block fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847283">(499) 784-72-83</a></div>
                                            <div class="mb-2"><i class="d-none d-sm-inline-block fa fa-phone-square mr-2" aria-hidden="true"></i><a href="tel:+74997847700">(499) 784-77-00</a></div>
                                            <div class="mb-2"><i class="d-none d-sm-inline-block fa fa-fax mr-2" aria-hidden="true"></i><a href="#">(499) 784-72-83</a></div>
                                            <div class="mb-2"><i class="d-none d-sm-inline-block fa fa-fax mr-2" aria-hidden="true"></i><a href="#">(499) 784-77-11</a></div>
                                            <div><i class="d-none d-sm-inline-block fa fa-envelope mr-2" aria-hidden="true"></i><a href="mailto:spks@naks.ru">spks@naks.ru</a></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Фактический адрес</th>
                                        <td>109341, г. Москва, ул. Братиславская, д. 6, подъезд 4, этаж 4, офис "НАКС"</td>
                                    </tr>
                                    <tr>
                                        <th>Почтовый адрес</th>
                                        <td>109469, г. Москва, ул. Марьинский парк, д.23, корп.3</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}