{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="all-staff">
    <div class="container">
        <h4 class="text-dark mt-5">Реестр свидетельств о квалификации</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <nav aria-label="breadcrumb" role="navigation">
                    <ol class="breadcrumb mt-3 mb-2 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'spks' %}">СПКС</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Реестр свидетельств о квалификации</li>
                    </ol>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="{% url 'spks' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
            </div>
        </div>
        <hr>
        <form class="my-4">
            <h6 class="font-weight-bold mb-4">Поиск по параметрам</h6>
            <!-- Фильтр реестр свидетельств -->
            {% include 'mainapp/includes/spks/filter-reestr-svid.html' %}
            <!-- End Фильтр реестр свидетельств -->
        </form>
        <hr>
        <div id="reestr-staff" class="table-reestr mt-4">
            <h6>Найдено записей: <span class="font-weight-bold">2428</span></h6>
            <div class="row d-flex align-items-center">
                <div class="col-sm-5">
                    <p class="text-secondary">Элементы 1 - 10 из 2428</p>
                </div>
                <div class="col-sm-7">
                    <nav aria-label="..." class="float-sm-right">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="table-fit-content">
                <table class="table table-responsive table-striped table-bordered table-hover text-center">
                    <thead>
                        <tr class="table-secondary">
                            <th>Фамилия, Имя, Отчество</th>
                            <th>Дата рождения</th>
                            <th>Регистрационный номер в едином реестре</th>
                            <th>ЦОК, выдавший свидетельство</th>
                            <th>Профессиональный стандарт</th>
                            <th>Наименование квалификации</th>
                            <th>Дата регистрации в реестре</th>
                            <th>Окончание срока действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Еромасов Иван Александрович</td>
                            <td>02.06.1979</td>
                            <td><a href="#" target="_blank">40.10900.01.00000011.22</a></td>
                            <td>76.003</td>
                            <td>Сварщик-оператор полностью механизированной, автоматической и роботизированной сварки</td>
                            <td>Оператор автоматической сварки плавлением металлических материалов (3 уровень квалификации)</td>
                            <td>03.06.2019</td>
                            <td>03.06.2022</td>
                        </tr>
                        <tr>
                            <td>Алексеев Юрий Олегович</td>
                            <td>18.02.1967</td>
                            <td><a href="#" target="_blank">40.00200.02.00000080.22</a></td>
                            <td>76.003</td>
                            <td>Сварщик</td>
                            <td>Сварщик дуговой сварки плавящимся покрытым электродом (3 уровень квалификации)</td>
                            <td>24.05.2019</td>
                            <td>24.05.2022</td>
                        </tr>
                        <tr>
                            <td>Агафонов Роман Александрович</td>
                            <td>26.03.1974</td>
                            <td><a href="#" target="_blank">40.11400.02.00000001.22</a></td>
                            <td>78.012</td>
                            <td>Резчик термической резки металлов</td>
                            <td>Резчик ручной плазменной резки (2 уровень квалификации)</td>
                            <td>25.04.2019</td>
                            <td>25.04.2022</td>
                        </tr>
                        <tr>
                            <td>Серов Павел Иванович</td>
                            <td>06.01.1989</td>
                            <td><a href="#" target="_blank">40.00200.17.00000022.22</a></td>
                            <td>58.003</td>
                            <td>Сварщик</td>
                            <td>Сварщик газовой сварки (3 уровень квалификации)</td>
                            <td>08.04.2019</td>
                            <td>08.04.2022</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-sm-5">
                    <p class="text-secondary">Элементы 1 - 10 из 9465</p>
                </div>
                <div class="col-sm-7">
                    <nav aria-label="..." class="float-sm-right">
                        <ul class="pagination pagination-sm">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}