{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reestr:centers' 'qualification' %}">Центры оценки квалификаций</a></li>
            <li class="breadcrumb-item active" aria-current="page">ЦОК-018</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div>
            <!-- End mobil right main -->
            <!-- Radiobuttons -->
            <div class="show-units">
                <ul class="row nav nav-fill mt-4 mb-3" id="pills-tab" role="tablist">
                    <li class="col-auto col-lg-6 nav-item mb-4">
                        <a class="btn btn-outline-danger btn-block active" id="pills-cok-tab" data-toggle="pill" href="#pills-cok" role="tab" aria-controls="pills-cok" aria-selected="true">ЦОК-018 (02.007)</a>
                    </li>
                    <li class="col-auto col-lg-6 nav-item mb-4">
                        <a class="btn btn-outline-danger btn-block" id="pills-mtb-tab" data-toggle="pill" href="#pills-mtb" role="tab" aria-controls="pills-mtb" aria-selected="false">МТБ ЦОК-018</a>
                    </li>
                    <li class="col-auto col-lg-6 nav-item mb-4">
                        <a class="btn btn-outline-danger btn-block" id="pills-ec-tab" data-toggle="pill" href="#pills-ec" role="tab" aria-controls="pills-ec" aria-selected="false">ЭЦ в составе ЦОК-018</a>
                    </li>
                </ul>
            </div>
            <!-- End Radiobuttons -->
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-cok" role="tabpanel" aria-labelledby="pills-cok-tab">
                    <h5 class="text-primary my-4">ООО "ГАЦ РБ"</h5>
                    <div class="data-list">
                        <div class="data-list-item data-list-item-title">
                            <div class="row align-items-center">
                                <div class="col-lg">
                                    <span class="text-secondary mr-2">Шифр центра оценки квалификации:</span>
                                    <span>ЦОК-018 (02.007)</span>
                                </div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Место нахождения:</div>
                                </div>
                                <div class="col-lg">Уфа</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Срок действия Аттестата соответствия:</div>
                                </div>
                                <div class="col-lg">c 23.06.2017 по 23.06.2020</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Юридический адрес организации:</div>
                                </div>
                                <div class="col-lg">450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Почтовый адрес организации:</div>
                                </div>
                                <div class="col-lg">450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Фактический адрес организации:</div>
                                </div>
                                <div class="col-lg">450092, Республика Башкортостан, город Уфа, улица Батырская, дом 4/2</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Руководитель организации:</div>
                                </div>
                                <div class="col-lg">Атрощенко Валерий Владимирович</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Руководитель ЦОК:</div>
                                </div>
                                <div class="col-lg">Сафархузина Полина Валерьевна</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Телефон:</div>
                                </div>
                                <div class="col-lg">(347) 216-42-33, 246-87-26</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Факс:</div>
                                </div>
                                <div class="col-lg">(347) 256-39-03</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">E-mail:</div>
                                </div>
                                <div class="col-lg">gac_rb@ufamail.ru</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Сайт:</div>
                                </div>
                                <div class="col-lg"><a href="http://ufanaks.ru/">http://ufanaks.ru/</a></div>
                            </div>
                        </div>
                        <div class="data-list-item data-list-item-title">
                            <div class="row align-items-center">
                                <div class="col-lg">Область деятельности</div>
                            </div>
                        </div>
                        <!-- Область деятельности -->
                        {% include 'mainapp/includes/spks/activity-cok.html' %}
                        <!-- END Область деятельности -->
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg text-lg-center">
                                    <a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#modal-authorization">Подать заявку</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-mtb" role="tabpanel" aria-labelledby="pills-mtb-tab">
                    <h5 class="text-primary my-4">Материально-технические базы в составе ЦОК-018</h5>
                    <div class="data-list">
                        <div class="data-list-item data-list-item-title">
                            <div class="row align-items-center">
                                <div class="col-lg">Материально-техническая база ЦОК-018 (02.007.02.01)</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Фактический адрес организации:</div>
                                </div>
                                <div class="col-lg">450112, Республика Башкортостан, г. Уфа, ул. Спартака, д. 13</div>
                            </div>
                        </div>
                        <!-- Область деятельности -->
                        {% include 'mainapp/includes/spks/activity-cok.html' %}
                        <!-- END Область деятельности -->
                        <div class="data-list-item data-list-item-title">
                            <div class="row align-items-center">
                                <div class="col-lg">Материально-техническая база ЦОК-018 (02.007.02.02)</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Фактический адрес организации:</div>
                                </div>
                                <div class="col-lg">450092, РБ, г. Уфа, ул. Батырская, д. 4/2</div>
                            </div>
                        </div>
                        <!-- Область деятельности -->
                        {% include 'mainapp/includes/spks/activity-cok.html' %}
                        <!-- END Область деятельности -->
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-ec" role="tabpanel" aria-labelledby="pills-ec-tab">
                    <h5 class="text-primary my-4">Экзаменационные центры в составе ЦОК-018</h5>
                    <div class="data-list">
                        <div class="data-list-item data-list-item-title">
                            <div class="row align-items-center">
                                <div class="col-lg">М460048, г. Оренбург, пр. Автоматики, д. 12 (56.001.56.01)</div>
                            </div>
                        </div>
                        <div class="data-list-item">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="text-bold">Фактический адрес организации:</div>
                                </div>
                                <div class="col-lg">460048, г. Оренбург, пр. Автоматики, д. 5/1</div>
                            </div>
                        </div>
                        <!-- Область деятельности -->
                        {% include 'mainapp/includes/spks/activity-cok.html' %}
                        <!-- END Область деятельности -->
                    </div>
                </div>
            </div>
            <div id="map" class="w-100 mt-4"></div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}