{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">СПКС</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div>
            <!-- End mobil right main -->
            <div class="main-content">
                <h5 class="text-primary mt-2 mb-4">О Совете</h5>
                <div class="bg-light p-3 mb-3">
                    <div class="row align-items-center">
                        <div class="col-lg-6 text-center">
                            <a href="http://nspkrf.ru/" target="_blank"><img src="/static_root/images/nspk.png" class="img-fluid" alt="logo nspk"></a>
                        </div>
                        <div class="col-lg-6 text-center">
                            <a href="http://profstandart.rosmintrud.ru/" target="_blank"><img src="/static_root/images/mintrud_horizont.png" class="img-fluid" alt="logo mintrud"></a>
                        </div>
                    </div>
                </div>
                <p class="text-secondary">
                    Саморегулируемая организация Некоммерческое партнерство «Национальное Агентство Контроля Сварки» (СРО НП «НАКС») решением Национального совета при Президенте РФ по профессиональным квалификациям (НСПК) от 29 июля 2014 года, наделена полномочиями Совета по профессиональным квалификациям в области сварки (СПКС).
                </p>
                <div class="row mb-3">
                    <div class="col-xl-6">
                        <div class="card card-doc rounded-0">
                            <div class="card-body">
                                <p class="card-text">Положение о Совете по профессиональным квалификациям в области сварки</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-outline-dark btn-sm" role="button" data-toggle="modal" data-target="#modalLetter_01"><i class="fa fa-file-pdf-o mr-2"></i>Открыть документ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-secondary">
                    <strong>Сферой деятельности Совета являются</strong> вопросы квалификации персонала по профессиям и специальностям в области сварки и родственных процессов, неразрушающего контроля и разрушающих испытаний. Отличительной особенностью является то, что указанные профессии и специальности являются межотраслевыми, и наряду с основополагающими квалификационными требованиями, применимыми во всех отраслях, необходимо учитывать специфические отраслевые требования к работникам, занимающимся сваркой.
                </p>
                <p class="text-secondary"><strong>Совет осуществляет следующие функции:</strong></p>
                <ul class="list-group list-group-flush text-secondary mb-3">
                    <li class="list-group-item border-top-0 pt-0"><strong>1.</strong> проведение не реже одного раза в 2 года мониторинга рынка труда, обеспечение его потребностей в квалификациях и профессиональном образовании;</li>
                    <li class="list-group-item"><strong>2.</strong> разработка и актуализация профессиональных стандартов и квалификационных требований;</li>
                    <li class="list-group-item"><strong>3.</strong> проведение экспертизы федеральных государственных образовательных стандартов профессионального образования, примерных основных профессиональных образовательных программ и их проектов, оценка их соответствия профессиональным стандартам, подготовка предложений по совершенствованию указанных стандартов профессионального образования и образовательных программ;</li>
                    <li class="list-group-item"><strong>4.</strong> организация профессионально-общественной аккредитации основных профессиональных образовательных программ, основных программ профессионального обучения и (или) дополнительных профессиональных программ;</li>
                    <li class="list-group-item">
                        <strong>5.</strong> организация независимой оценки квалификации работников или лиц, претендующих на осуществление определенного вида трудовой деятельности (далее соответственно - соискатели, независимая оценка квалификации) по определенному виду профессиональной деятельности, включая:
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-sm border-top-0">- разработку проектов наименований квалификаций и требования к квалификации, на соответствие которым планируется проводить независимую оценку квалификации, с указанием сроков действия свидетельств о квалификации и документов, необходимых для прохождения соискателем профессионального экзамена по соответствующей квалификации;</li>
                            <li class="list-group-item text-sm">- проведение отбора организаций для выполнения ими функций центров оценки квалификаций (далее - Центр), наделение их полномочиями по проведению независимой оценки квалификации и проверка сведений, представляемых данными организациями в ходе их отбора и наделения полномочиями;</li>
                            <li class="list-group-item text-sm">- организацию разработки и утверждение оценочных средств по соответствующим квалификациям, которые применяются Центрами при проведении профессионального экзамена по соответствующей квалификации;</li>
                            <li class="list-group-item text-sm">- размещение на своем официальном сайте в информационно-телекоммуникационной сети "Интернет" порядка оценки квалификации экспертов Центра, которые планируют участвовать в проведении профессионального экзамена и организация оценки их квалификации;</li>
                            <li class="list-group-item text-sm">- определение для каждого Центра наименования квалификаций, по которым будет проводиться независимая оценка квалификации;</li>
                            <li class="list-group-item text-sm">- осуществление мониторинга и контроля деятельности Центров;</li>
                            <li class="list-group-item text-sm">- принятие решений о прекращении полномочий Центров;</li>
                            <li class="list-group-item text-sm">- проверку, обработку и признание результатов независимой оценки квалификации, принятие решений о выдаче свидетельств о квалификации Центром;</li>
                            <li class="list-group-item text-sm">проведение по решению Национального совета независимой оценки квалификации;</li>
                            <li class="list-group-item text-sm">- создание и организация деятельности апелляционной комиссии по рассмотрению жалоб, связанных с результатами проведения профессионального экзамена и выдачей свидетельства о квалификации;</li>
                            <li class="list-group-item text-sm">- обеспечение размещения информации в реестре сведений о проведении независимой оценки квалификации;</li>
                        </ul>
                    </li>
                    <li class="list-group-item border-bottom-0"><strong>6.</strong> формирование общедоступных информационных ресурсов, содержащих информацию о деятельности Совета.</li>
                </ul>
                <div class="bg-light p-3 mb-3">
                    <div class="row align-items-center">
                        <div class="col-lg-4 text-center">
                            <img src="/static_root/images/aleshin.png" class="img-thumbnail img-fluid" alt="Алешин Н.П.">
                        </div>
                        <div class="col-lg-7">
                            <p class="mb-0 mt-3 mt-lg-0">Председателем Совета является член НСПК, Президент НАКС, заведующий кафедрой «Технологии сварки и диагностики» МГТУ им. Н.Э. Баумана, академик РАН Николай Павлович Алёшин.</p>
                        </div>
                    </div>
                </div>
                <!-- <p class="text-secondary">Председателем Совета является член НСПК, Президент НАКС, заведующий кафедрой «Технологии сварки и диагностики» МГТУ им. Н.Э. Баумана, академик РАН Николай Павлович Алёшин.</p> -->
                <p class="text-secondary">В <strong>состав Совета</strong> вошли представители ведущих российских компаний таких, как ГАЗПРОМ, ТРАНСНЕФТЬ, РОСАТОМ, Объединенная ракетно-космическая корпорация, Объединенная судостроительная корпорация, НОСТРОЙ, ТРАНССТРОЙ, РЖД, а также представители организаций высшего и среднего профессионального образования, научных организаций, Федерации независимых профсоюзов России и органов оценки соответствия.</p>
                <p class="text-secondary">Вопросы обеспечения промышленности высококвалифицированными кадрами в области сварки всегда входили в сферу деятельности НАКС. С весны 2012 года НАКС занялся разработкой профессиональных стандартов. В конце 2013 года одним из первых был утвержден профессиональный стандарт «Сварщик», разработанный НАКС в инициативном порядке. На данный момент разработаны и утверждены следующие стандарты: «Сварщик-оператор полностью механизированной, автоматической и роботизированной сварки», «Резчик термической резки металлов», «Контролер сварочных работ», «Специалист сварочного производства», «Специалист по неразрушающему контролю», «Специалист по механическим испытаниям сварных соединений и наплавленного металла». Разработка профессиональных стандартов в области сварки продолжается.</p>
                <p class="text-secondary"><strong>Комиссия по Применению профессиональных стандартов в системе профессионального образования и обучения</strong> проводит работу по экспертизе прошедших актуализацию на соответствие требованиям профессиональных стандартов Федеральных государственных образовательных стандартов (ФГОС) и Примерных основных образовательных программ (ПООП) в системе среднего профессионального и высшего образования. Комиссия также проводит профессионально-общественную аккредитацию основных образовательных программ образовательных организаций среднего профессионального и высшего образования.</p>
                <p class="text-secondary">Для повышения эффективности выполнения данных задач Комиссия активно взаимодействует с Федеральными учебно-методическими объединениями в системе среднего профессионального и высшего образования по укрупненным группам специальностей и направлений подготовки № 15 «Машиностроение», с департаментами Министерства образования и науки РФ государственной политики в сфере подготовки рабочих кадров и дополнительного профессионального образования и государственной политики в сфере высшего образования. Члены комиссии являются экспертами рабочей группы Национального совета при Президенте Российской Федерации по профессиональным квалификациям по применению профессиональных стандартов в системе профессионального образования и обучения.</p>
                <p class="text-secondary">Комиссия принимает участие в разработке проектов ФГОС и ПООП в области сварочного производства и дефектоскопии.</p>
                <p class="text-secondary">Члены Совета участвуют в подготовке и экспертизе проектов законодательных и иных нормативных правовых актов Российской Федерации по вопросам развития системы профессиональных квалификаций в Российской Федерации.</p>
                <p class="text-secondary">Специалистами НАКС при поддержке Министерства труда и социальной защиты РФ организованы и проведены Всероссийские конкурсы профессионального мастерства «Лучший по профессии» в номинации «Лучший сварщик» в 2012г. в Уфе и в 2017г. в Москве. Обеспечено участие специалистов в чемпионате рабочих профессий EuroSkills 2014 в Лилле, Франция. Также национальная команда «Russia NAKS Team» принимала участие в международных соревнованиях по сварке 2016 (4th) Beijing «ArcCup» International Welding Competition и «2017 Shanghai «ArcCup» Competition». Итогом выступления команды «Russia NAKS Team» на международных соревнованиях в г. Шанхай стало первое место.<br>При непосредственном участии специалистов НАКС в компетенциях «Сварка» и «Сварочные технологии» организовываются и проводятся Национальные и региональные Чемпионаты WorlsSkills.</p>
                <p class="text-secondary">В статусе Совета по профессиональным квалификациям НАКС взаимодействует с Немецким обществом сварщиков (DVS) по обмену опытом в части установления квалификационных требований, подготовки сварщиков и подтверждения соответствия установленным требованиям.</p>
                <p class="text-secondary">Деятельность СПКС является публичной и открытой. Все решения Совета, утвержденные им документы и информация о деятельности, размещены на его сайте spks.naks.ru.</p>
                <hr class="mb-4">
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}