{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Протоколы Совета</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div> 
            <!-- End mobil right main -->

            <div class="main-content">
                <h5 class="text-primary mt-2 mb-4">Протоколы Совета по профессиональным квалификациям в области сварки</h5>
                <!-- Протоколы -->
                {% include 'mainapp/includes/sasv/sasv_nts_protocols.html' %}
                <!-- END Протоколы -->
            </div>
            
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}