{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">Совет по профессиональным квалификациям в области сварки (СПКС)</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Состав Совета</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/spks/mobil-right-menu-spks.html' %}
            </div> 
            <!-- End mobil right main -->

            <div class="main-content">
                <h5 class="text-primary mt-2 mb-4">Состав региональных представителей СПКС в субъектах РФ</h5>
                <!-- Состав -->
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-nts mb-0" id="table-composition">
                        <tbody>
                            <tr>
                                <th>Радченко Михаил Васильевич</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Малый бизнес в сварочном производстве» Алтайского государственного технического университета им. И.И. Ползунова, директор ООО «ГАЦ АР НАКС»</td>
                                <td>Алтайский край<br>Республика Алтай</td>
                            </tr>
                            <tr>
                                <th>Атрощенко Валерий Владимирович</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Оборудование и технологии сварочного производства» Уфимского государственного авиационного технического университета, генеральный директор ООО «ГАЦ РБ»</td>
                                <td>Республика Башкортостан</td>
                            </tr>
                            <tr>
                                <th>Гортышов Юрий Федорович</th>
                                <td>д.т.н., Президент КГТУ-КАИ им. А.Н. Туполева, профессор, Заслуженный деятель науки РФ и РТ, директор ООО «Центр Приволжского Региона «Техносвар»</td>
                                <td>Республика Татарстан<br>Республика Марий Эл</td>
                            </tr>
                            <tr>
                                <th>Коротин Александр Иванович</th>
                                <td>к.т.н., доцент, директор ООО «Научно-производственный центр Сварки, монтажных технологий и контроля»</td>
                                <td>Республика Мордовия</td>
                            </tr>
                            <tr>
                                <th>Кажукало Анатолий Владимирович</th>
                                <td>Генеральный директор ЗАО «АЦ-НАКС-Коми»</td>
                                <td>Республика Коми</td>
                            </tr>
                            <tr>
                                <th>Радченко Михаил Васильевич</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Малый бизнес в сварочном производстве» Алтайского государственного технического университета им. И.И. Ползунова, директор ООО «ГАЦ АР НАКС»</td>
                                <td>Алтайский край<br>Республика Алтай</td>
                            </tr>
                            <tr>
                                <th>Атрощенко Валерий Владимирович</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Оборудование и технологии сварочного производства» Уфимского государственного авиационного технического университета, генеральный директор ООО «ГАЦ РБ»</td>
                                <td>Республика Башкортостан</td>
                            </tr>
                            <tr>
                                <th>Гортышов Юрий Федорович</th>
                                <td>д.т.н., Президент КГТУ-КАИ им. А.Н. Туполева, профессор, Заслуженный деятель науки РФ и РТ, директор ООО «Центр Приволжского Региона «Техносвар»</td>
                                <td>Республика Татарстан<br>Республика Марий Эл</td>
                            </tr>
                            <tr>
                                <th>Коротин Александр Иванович</th>
                                <td>к.т.н., доцент, директор ООО «Научно-производственный центр Сварки, монтажных технологий и контроля»</td>
                                <td>Республика Мордовия</td>
                            </tr>
                            <tr>
                                <th>Кажукало Анатолий Владимирович</th>
                                <td>Генеральный директор ЗАО «АЦ-НАКС-Коми»</td>
                                <td>Республика Коми</td>
                            </tr>
                            <tr>
                                <th>Радченко Михаил Васильевич</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Малый бизнес в сварочном производстве» Алтайского государственного технического университета им. И.И. Ползунова, директор ООО «ГАЦ АР НАКС»</td>
                                <td>Алтайский край<br>Республика Алтай</td>
                            </tr>
                            <tr>
                                <th>Атрощенко Валерий Владимирович</th>
                                <td>д.т.н., профессор, заведующий кафедрой «Оборудование и технологии сварочного производства» Уфимского государственного авиационного технического университета, генеральный директор ООО «ГАЦ РБ»</td>
                                <td>Республика Башкортостан</td>
                            </tr>
                            <tr>
                                <th>Гортышов Юрий Федорович</th>
                                <td>д.т.н., Президент КГТУ-КАИ им. А.Н. Туполева, профессор, Заслуженный деятель науки РФ и РТ, директор ООО «Центр Приволжского Региона «Техносвар»</td>
                                <td>Республика Татарстан<br>Республика Марий Эл</td>
                            </tr>
                            <tr>
                                <th>Коротин Александр Иванович</th>
                                <td>к.т.н., доцент, директор ООО «Научно-производственный центр Сварки, монтажных технологий и контроля»</td>
                                <td>Республика Мордовия</td>
                            </tr>
                            <tr>
                                <th>Кажукало Анатолий Владимирович</th>
                                <td>Генеральный директор ЗАО «АЦ-НАКС-Коми»</td>
                                <td>Республика Коми</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- End Состав -->
            </div>
            
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/spks/right-menu-spks.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}