{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}

<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->

<div class="container">
    <h4 class="text-dark mt-5">Саморегулируемая организация Ассоциация НАКС</h4>
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb mt-3 mb-2 p-0">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'sro' %}">СРО</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Президент Партнёрства</li>
                </ol>
            </nav>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="{% url 'sro' %}" class="btn btn-outline-primary btn-sm float-sm-right mt-2" role="button"><i class="fa fa-angle-left"></i> Назад</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">

            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/sro/mobil-right-menu-sro.html' %}
            </div> 
            <!-- End mobil right main -->

            <div class="main-content mt-4">

                <h5 class="text-primary my-4">Президент Партнёрства</h5>

                <div class="row align-items-start mb-4">
                    <div class="col-lg-5">
                        <div class="mb-3 mb-lg-0">
                            <h5>Алёшин Николай Павлович<br><small class="text-muted">10.08.1941 г. р.</small></h5>
                            <img src="{% static 'images/aleshin.png' %}" class="img-thumbnail" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <ul class="list-circle-sm">
                            <li>Академик Российской Академии Наук;</li>
                            <li>Доктор технических наук;</li>
                            <li>Профессор;</li>
                            <li>Заслуженный деятель науки Российской Федерации;</li>
                            <li>Президент Национального Агентства Контроля Сварки;</li>
                            <li>Заведующий кафедрой «Технологии сварки и диагностики» Московского государственного технического университета имени Н.Э. Баумана;</li>
                            <li>Директор Федерального государственного учреждения Научно-учебный центр «Сварка и контроль»;</li>
                            <li>Руководитель рабочей группы по проблемам сварки и родственным технологиям Правительственной комиссии по высоким технологиям и инновациям;</li>
                            <li>Член бюро межгосударственного Совета СНГ по сварке и родственным технологиям;</li>
                            <li>Председатель секции НТС ОАО «Газпром»;</li>
                            <li>Член Международной инженерной академии;</li>
                            <li>Член Национального совета при Президенте Российской Федерации по профессиональным квалификациям.</li>
                        </ul>
                    </div>
                </div>

                <h5 class="text-primary mb-3">Награды</h5>
                <ul class="list-group list-group-flush text-secondary mb-5">
                    <li class="list-group-item border-top-0"><strong>Государственная премия</strong> в области науки и техники за создание научных основ и внедрение технологий, комплекса оборудования неразрушающего контроля и диагностики для оценки технического состояния объектов.</li>
                    <li class="list-group-item"><strong>Премия Совета Министров СССР</strong> за научную разработку и внедрение в проектирование, строительство принципов, методов работ и приборов ультразвуковой дефектоскопии сварных соединений.</li>
                    <li class="list-group-item"><strong>Премия Правительства Российской Федерации</strong> за создание и промышленную реализацию технологий и средств неразрушающего контроля и диагностики строительных конструкций.</li>
                    <li class="list-group-item"><strong>Премия Правительства Российской Федерации</strong> за разработку методологии и внедрение в практику экспертной оценки ресурса объектов, входящих в состав ракетно-космических комплексов.</li>
                    <li class="list-group-item"><strong>Премия Правительства Российской Федерации</strong> за разработку и внедрение технологий неразрушающего контроля и диагностики объектов газовой и атомной отраслей промышленности.</li>
                    <li class="list-group-item"><strong>Международная премия «Рентген-Соколов»</strong> в области неразрушающего контроля.</li>
                    <li class="list-group-item"><strong>Орден Дружбы народов</strong>.</li>
                    <li class="list-group-item"><strong>Орден «За заслуги перед Отечеством»</strong>.</li>
                </ul>

                <p class="text-secondary"><strong>Н.П. Алёшин является автором 194 научных работ, из которых 15 монографии, 9 брошюр. Под его руководством защищено 35 кандидатских и 7 докторских диссертации.</strong></p>
                <p class="text-secondary"><strong>Под руководством Н.П. Алёшина и его непосредственном участии решены ряд фундаментальных проблем:</strong></p>
                <p class="text-secondary">- Развита теория дифракции упругих волн в твердотельном приближении для коротковолновых отражателей. Создание этой теории позволило разработать новые технологии диагностирования объектов различного назначения (газонефтепроводы, резервуары, космическая техника и др).</p>
                <p class="text-secondary">- Создана теория, технология и оборудование неразрушающего контроля сварных соединений строительных конструкций. Отличительной особенностью созданной технологии является возможность проведения ультразвукового контроля при высоте неровностей больше длины волны.</p>
                <p class="text-secondary">- Сформулирована физическая модель и дано математическое описание акустосварочной модели крупнозернистых материалов. Это позволило вместе с ЦНИИ “Прометей” создать принципиально новую технологию диагностирования аустенитных сварных швов (судостроение, атомные электростанции).</p>
                <p class="text-secondary">- Предложен и реализован метод решения задачи рассеяния акустического поля на групповых отражателях (метод вынесенных источников). Благодаря этому были разработаны алгоритмы идентификации одиночных и группы дефектов в сварных швах.</p>
                
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/sro/right-menu-sro.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}