{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Технический комитет Росстандарта ТК&nbsp;364</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Планы работ ТК&nbsp;364</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/tk364/mobil-right-menu-tk364.html' %}
            </div>
            <!-- End mobil right main -->
            <div class="main-content mt-4">
                <h5 class="text-primary my-4">План работ ТК 364</h5>
                <p class="text-secondary">«Порядок представления и учета предложений о разработке национальных стандартов Российской Федерации, предварительных национальных стандартов Российской Федерации» УТВЕРЖДЕН приказом Федерального агентства по техническому регулированию и метрологии от 15 апреля 2016 года N 447</p>
                <div class="accordion rounded-0" id="accordionControlComitet">
                    <div class="card accordion-card rounded-0">
                        <div class="card-header" id="headingOne">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <a href="#" role="button" data-toggle="collapse" data-target="#collapse20" aria-expanded="true" aria-controls="collapse20">План работ на 2020-2021 год<i class="fa fa-angle-down ml-2"></i></a>
                            </div>
                        </div>
                        <div id="collapse20" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionControlComitet">
                            <div class="card-body">
                                <p class="h6 mb-1">ТК 364 "Сварка и родственные процессы"</p>
                                <p class="h6 text-secondary">Программа национальной стандартизации Российской Федерации на 2020 - 2021 годы</p>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm table-docs mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>№ пп</th>
                                                <th width="20%">Шифр Темы</th>
                                                <th>Наименование проекта</th>
                                                <th>Вид работ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1.</td>
                                                <td>1.2.364-1.018.20</td>
                                                <td>Материалы сварочные. Электроды покрытые для ручной дуговой сварки коррозионно-стойких и жаростойких сталей. Классификация</td>
                                                <td>Пересмотр ГОСТ Р ИСО 3581-2009 Материалы сварочные. Электроды покрытые для ручной дуговой сварки коррозионно-стойких и жаростойких сталей. Классификация</td>
                                            </tr>
                                            <tr>
                                                <td>2.</td>
                                                <td>1.2.364-1.016.20</td>
                                                <td>Материалы сварочные. Флюсы для дуговой сварки. Классификация</td>
                                                <td>Пересмотр ГОСТ Р ИСО 14174-2010 Материалы сварочные. Флюсы для дуговой сварки. Классификация</td>
                                            </tr>
                                            <tr>
                                                <td>3.</td>
                                                <td>1.2.364-1.017.20</td>
                                                <td>Сварка. Сварные соединения из стали, никеля, титана и их сплавов, полученные сваркой плавлением (исключая лучевые способы сварки). Уровни качества</td>
                                                <td>Пересмотр ГОСТ Р ИСО 5817-2009 Сварка. Сварные соединения из стали, никеля, титана и их сплавов, полученные сваркой плавлением (исключая лучевые способы сварки). Уровни качества</td>
                                            </tr>
                                            <tr>
                                                <td>4.</td>
                                                <td>1.2.364-1.019.20</td>
                                                <td>Материалы сварочные. Технические условия поставки присадочных материалов и флюсов. Вид продукции, размеры, допуски и маркировка</td>
                                                <td>Разработка ГОСТ Р Взамен ГОСТ Р 53689-2009</td>
                                            </tr>
                                            <tr>
                                                <td>5.</td>
                                                <td>1.2.364-1.020.20</td>
                                                <td>Сварка и родственные процессы. Классификация дефектов геометрии и сплошности в металлических материалах. Часть 2. Сварка давлением</td>
                                                <td>Пересмотр ГОСТ Р ИСО 6520-2-2009 Сварка и родственные процессы. Классификация дефектов геометрии и сплошности в металлических материалах. Часть 2. Сварка давлением</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-card rounded-0">
                        <div class="card-header" id="headingTwo">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <a href="#" class="collapsed" role="button" data-toggle="collapse" data-target="#collapse21" aria-expanded="false" aria-controls="collapse21">План работ на 2018-2019 год<i class="fa fa-angle-down ml-2"></i></a>
                            </div>
                        </div>
                        <div id="collapse21" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionControlComitet">
                            <div class="card-body">
                                <p class="h6 mb-1">ТК 364 "Сварка и родственные процессы"</p>
                                <p class="h6 text-secondary">Программа национальной стандартизации Российской Федерации на 2018 - 2019 годы</p>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm table-docs mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>№ пп</th>
                                                <th width="20%">Шифр Темы</th>
                                                <th>Наименование проекта</th>
                                                <th>ОКС</th>
                                                <th>Вид работ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-card rounded-0">
                        <div class="card-header" id="headingThree">
                            <div class="d-flex flex-wrap align-items-center justify-content-between">
                                <a href="#" class="collapsed" role="button" data-toggle="collapse" data-target="#collapse22" aria-expanded="false" aria-controls="collapse22">План работ на 2017-2018 год<i class="fa fa-angle-down ml-2"></i></a>
                            </div>
                        </div>
                        <div id="collapse22" class="collapse" aria-labelledby="headingThree" data-parent="#accordionControlComitet">
                            <div class="card-body">
                                <p class="mb-1">ТК 364 "Сварка и родственные процессы"</p>
                                <p class="text-secondary">Программа национальной стандартизации Российской Федерации на 2017 - 2018 годы</p>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-sm table-docs mb-0">
                                        <thead class="thead-light">
                                            <tr>
                                                <th>№ пп</th>
                                                <!-- <th width="20%">Шифр</th> -->
                                                <th>Наименование</th>
                                                <th>ОКС</th>
                                                <th>Вид работ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/tk364/right-menu-tk364.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}