{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Технический комитет Росстандарта ТК&nbsp;364</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Фонд стандартов ТК&nbsp;364</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/tk364/mobil-right-menu-tk364.html' %}
            </div>
            <!-- End mobil right main -->
            <h5 class="text-primary my-4">Перечень стандартов, составляющих фонд стандартов ТК&nbsp;364</h5>
            <form class="mt-4 mb-3">
                <h6 class="font-weight-bold">Быстрый поиск</h6>
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <label for="" class="pb-0 col-form-label-sm">№ ГОСТ или наименование</label>
                        <input type="text" class="form-control form-control-sm">
                    </div>
                </div>
                <div class="row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-outline-primary btn-sm"><i class="fa fa-search"></i> Найти</button>
                        <button type="button" class="btn btn-link btn-sm">Сбросить</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="table-reestr mt-4">
                <h6>Найдено записей: <span class="font-weight-bold">50</span></h6>
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5">
                        <p class="text-secondary">Элементы 1 - 10 из 50</p>
                    </div>
                    <div class="col-sm-7">
                        <nav aria-label="..." class="float-sm-right">
                            <ul class="pagination pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover text-center">
                        <thead>
                            <tr class="table-secondary">
                                <th>№ пп</th>
                                <th>Номер ГОСТ или ГОСТ Р</th>
                                <th>Год утв.</th>
                                <th>Наименование стандарта</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td class='text-left'>ГОСТ 6996-66</td>
                                <td>1966</td>
                                <td class='text-left'>Сварные соединения. Методы определения механических свойств</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td class='text-left'>ГОСТ 13585-68</td>
                                <td>1968</td>
                                <td class='text-left'>Сталь. Метод валиковой пробы для определения допускаемых режимов дуговой сварки и наплавки</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td class='text-left'>ГОСТ 2246-70</td>
                                <td>1970</td>
                                <td class='text-left'>Проволока стальная сварочная. Технические условия</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td class='text-left'>ГОСТ 16882.1-71</td>
                                <td>1971</td>
                                <td class='text-left'>Серебряно-медно-фосфорные припои. Метод определения массовой доли серебра</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td class="text-left">ГОСТ 16882.2-71</td>
                                <td>1971</td>
                                <td class="text-left">Серебряно-медно-фосфорные припои. Методы определения массовой доли фосфора, свинца, железа и висмута</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5">
                        <p class="text-secondary">Элементы 1 - 10 из 50</p>
                    </div>
                    <div class="col-sm-7">
                        <nav aria-label="..." class="float-sm-right">
                            <ul class="pagination pagination-sm">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1"><i class="fa fa-angle-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/tk364/right-menu-tk364.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}