{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Технический комитет Росстандарта ТК&nbsp;364</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новости ТК&nbsp;364</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/tk364/mobil-right-menu-tk364.html' %}
            </div>
            <!-- End mobil right main -->
            <h5 class="text-primary my-4">Стандарты, разработанные ТК&nbsp;364</h5>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-nts mb-0" id="table-composition">
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <th class="text-nowrap">ГОСТ Р 52222-2004</th>
                            <td>Флюсы сварочные плавленые для автоматической сварки. Технические условия</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <th class="text-nowrap">ГОСТ 30829-2002</th>
                            <td>Генераторы ацетиленовые передвижные. Общие технические условия</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <th class="text-nowrap">ГОСТ Р МЭК 60974-1-2004</th>
                            <td>Источники питания для дуговой сварки. Требования безопасности</td>
                        </tr>
                        <tr>
                            <td>4.</td>
                            <th class="text-nowrap">ГОСТ 2601-84</th>
                            <td>Сварка металлов. Термины и определения основных понятий</td>
                        </tr>
                        <tr>
                            <td>5.</td>
                            <th class="text-nowrap">ГОСТ 9467-75</th>
                            <td>Электроды покрытые металлические для ручной дуговой сварки конструкционных и теплоустойчивых сталей. Типы</td>
                        </tr>
                        <tr>
                            <td>6.</td>
                            <th class="text-nowrap">ГОСТ 9466-75</th>
                            <td>Электроды покрытые металлические для ручной дуговой сварки сталей и наплавки. Классификация и общие технические условия</td>
                        </tr>
                        <tr>
                            <td>7.</td>
                            <th class="text-nowrap">ГОСТ Р 50402-92</th>
                            <td>Устройства предохранительные для горючих газов и кислорода или сжатого воздуха, используемые при газовой сварке, резке и аналогичных процессах. Основные понятия, общие технические требования и методы испытаний</td>
                        </tr>
                        <tr>
                            <td>8.</td>
                            <th class="text-nowrap">ГОСТ Р 50379-92</th>
                            <td>Герметичность оборудования и аппаратуры для газовой сварки, резки и аналогичных процессов. Допустимые скорости внешней утечки газа и метод их измерения</td>
                        </tr>
                        <tr>
                            <td>9.</td>
                            <th class="text-nowrap">ГОСТ Р ИСО 3834-3-2007</th>
                            <td>Требования к качеству выполнения сварки плавлением металлических материалов. Часть 3. Стандартные требования к качеству</td>
                        </tr>
                        <tr>
                            <td>10.</td>
                            <th class="text-nowrap">ГОСТ Р ИСО 3834-1-2007</th>
                            <td>Требования к качеству выполнения сварки плавлением металлических материалов. Часть 1. Критерии выбора соответствующего уровня требований</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/tk364/right-menu-tk364.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}