{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<!-- Header-page -->
{% include 'mainapp/includes/header-page.html' %}
<!-- End Header-page -->
<div class="container">
    <h4 class="text-dark mt-5">Технический комитет Росстандарта ТК&nbsp;364</h4>
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb my-4 p-0">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Новости ТК&nbsp;364</li>
        </ol>
    </nav>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-md-8 col-xl-9">
            <!-- Mobil right main -->
            <div class="d-block d-md-none mt-3 mb-4">
                {% include 'mainapp/includes/tk364/mobil-right-menu-tk364.html' %}
            </div>
            <!-- End mobil right main -->
            <div class="bg-light p-3 mb-3">
                <div class="row align-items-center">
                    <div class="col text-center">
                        <a href="https://www.gost.ru/portal/gost//home/standarts" target="_blank"><img src="/static_root/images/rst_logo.png" class="img-fluid" alt="logo rst"></a>
                    </div>
                    <div class="col text-center">
                        <a href="https://www.iso.org/home.html" target="_blank"><img src="/static_root/images/iso_logo.png" class="img-fluid" alt="logo iso"></a>
                    </div>
                    <div class="col text-center">
                        <a href="https://www.iec.ch/" target="_blank"><img src="/static_root/images/iec_logo.png" class="img-fluid" alt="logo iec"></a>
                    </div>
                </div>
            </div>
            <h5 class="text-primary my-4">Новости ТК&nbsp;364</h5>
            <ul class="list-unstyled">
                <li class="media">
                    <!-- <img src="..." class="mr-3" alt="..."> -->
                    <div class="media-body">
                        <p class="text-sm text-muted mb-1">26.12.2019</p>
                        <h6 class="mt-0">Заседание технического комитета по стандартизации ТК 364 «Сварка и родственные процессы»</h6>
                        <p class="text-sm text-secondary">21 января 2020 года состоится открытое заседание технического комитета по стандартизации ТК 364 «Сварка и родственные процессы».
                            Место проведения: МГТУ им. Н.Э. Баумана (УЛК, конференц-зал, 3 этаж), г. Москва, Рубцовская наб., 2/18.
                            Начало заседания в 11.00.</p>
                        <p class="text-sm text-secondary mb-0">Повестка дня:<a href="#" class="ml-1" target="_blank">открыть</a></p>
                        <p class="text-sm text-secondary mb-0">Материалы к заседанию:<a href="#" class="ml-1" target="_blank">открыть</a></p>
                    </div>
                </li>
                <hr>
                <li class="media my-4">
                    <div class="media-body">
                        <p class="text-sm text-muted mb-1">02.12.2019</p>
                        <h6 class="mt-0">Внесены изменения в приказ Росстандарта от 02.10.2017г. № 2064 «Об организации деятельности технического комитета по стандартизации «Сварка и родственные процессы»</h6>
                        <p class="text-sm text-secondary">Приказом Федерального агентства по техническому регулированию и метрологии (Росстандарт) от 19.11.2019г. № 2753 внесены изменения в приказ Росстандарта от 02.10.2017г. № 2064 «Об организации деятельности технического комитета по стандартизации «Сварка и родственные процессы». Изменения коснулись структуры и состава технического комитета ТК 364.
                        </p>
                        <p class="text-sm text-secondary mb-0">Приказ №2753 от 19.11.2019:<a href="#" class="ml-2" target="_blank">открыть</a></p>
                        <p class="text-sm text-secondary mb-0">Приложение №1 (состав технического комитета по стандартизации "Сварка и родственные процессы"):<a href="#" class="ml-2" target="_blank">открыть</a></p>
                        <p class="text-sm text-secondary mb-0">Приложение №2 (структура технического комитета по стандартизации "Сварка и родственные процессы"):<a href="#" class="ml-2" target="_blank">открыть</a></p>
                    </div>
                </li>
                <hr>
                <li class="media">
                    <div class="media-body">
                        <div class="text-sm text-muted mb-1">29.08.2019</div>
                        <h5 class="mt-0">Первая редакции проекта стандарта Специалист сварочного производства</h5>
                        <p class="text-sm text-secondary mb-0">Для публичного обсуждения размещена первая редакции проекта стандарта</p>
                        <p class="text-sm text-secondary mb-0">Просим предоставить <a href="#" target="_blank">отзывы</a> в срок до 29.10.2019.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="d-none d-md-block col-md-4 col-xl-3">
            <!-- Content Right menu -->
            {% include 'mainapp/includes/tk364/right-menu-tk364.html' %}
            <!-- End Content Right menu -->
        </div>
    </div>
</div>
{% endblock %}