<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 600px; border: 1px solid #dee2e6!important;">
        <tr>
            <td style="padding: 5px 15px; border-bottom: 2px solid #dee2e6!important;">
                <img src="http://www.naks.ru/bitrix/templates/new/images/logo.png" alt="Logotip NAKS" style="width: 150px; margin-right: 15px; vertical-align: middle;">
                <img src="http://www.naks.ru/images/main/znak.png" alt="Логотип Премия Правительства" title="Лауреат Премии Правительства РФ в области качества 2012 года" style="width: 40px; margin-right: 5px; vertical-align: middle;">
                <img src="http://www.naks.ru/images/main/znak1.png" alt="Логотип Члена МИС" title="Член Международного Института Сварки" style="width: 40px; margin-right: 5px; vertical-align: middle;">
                <img src="http://www.naks.ru/images/main/IIW-logo42x42.png" alt="Логотип Премия СНГ" title="Лауреат Премии СНГ 2013 года за достижения в области качества" style="width: 40px; margin-right: 5px; vertical-align: middle;">
                <img src="http://www.naks.ru/upload/tuv.png" alt="Логотип TUV" title="Система менеджмента качества сертифицирована по ISO 9001:2015" style="width: 35px; vertical-align: middle;">
            </td>
        </tr>
        <tr>
            <td valign="top" style="color:#505050;font-family:Helvetica;font-size:14px;line-height:150%;padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px;text-align:left">
                <h1 style="color:#202020!important;display:block;font-family:Helvetica;font-size:24px;font-style:normal;font-weight:bold;line-height:120%;letter-spacing:normal;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">Восстановление пароля пользователя {{ username }} на сайте <a href="http://naks.ru" target="_blank">naks.ru</a></h1>
                <p>Для восстановления пароля перейдите, пожалуйста, по ссылке <a href="{{ password_change_link }}" style="color:#0059b2;font-weight:normal;text-decoration:underline" target="_blank">{{ password_change_link }}</a></p>
                <em>С уважением,<br>Национальное Агентство Контроля Сварки</em>
            </td>
        </tr>
    </table>
</body>

</html>