{% load static %}
<div class="container">
    <div class="static-text static-text-sm">
        <div id="infoEdit">
            <h5>АЦСМ-49</h5>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Наименование организации:</div>
                    </div>
                    <div class="col-md-9">
                        <a href="{% url 'reestradmin:organization_edit' %}">ООО "Головной аттестационный центр Межрегиональный Национального Агентства Контроля и Сварки"</a>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">ИНН:</div>
                    </div>
                    <div class="col-md-9">
                        7701848850
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Страхование деятельности до:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-danger dot-danger" data-container="body" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Страхование деятельности заканчивается" data-original-title="" title="">20.11.2019</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                    </div>
                    <div class="col-md-9">
                        <div>c 01.11.2018 по 01.11.2021</div>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary"><a href="#" target="_blank">Условия действия аттестата</a>:</div>
                    </div>
                    <div class="col-md-9">
                        <div>от 19.07.2019</div>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary"><a href="#" target="_blank">Свидетельство о допуске</a>:</div>
                    </div>
                    <div class="col-md-9">
                        <div>от 01.11.2018</div>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Город:</div>
                    </div>
                    <div class="col-md-9">
                        Москва
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Юридический адрес:</div>
                    </div>
                    <div class="col-md-9">
                        105005, город Москва, улица 2-я Бауманская, дом 5, строение 14
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Фактический адрес:</div>
                    </div>
                    <div class="col-md-9">
                        109428, город Москва, улица Стахановская, дом 20
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Почтовый адрес:</div>
                    </div>
                    <div class="col-md-9">
                        105005, город Москва, а/я 36
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Телефон / Факс:</div>
                    </div>
                    <div class="col-md-9">
                        <span>телефон: (499) 674-70-78</span>;<span class="ml-2">факс: (499) 674-70-78</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">E-mail:</div>
                    </div>
                    <div class="col-md-9">
                        <a href="mailto:info@gacmrnaks.ru">info@gacmrnaks.ru</a>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Руководитель центра:</div>
                    </div>
                    <div class="col-md-9">
                        Тихонов Сергей Валериевич
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Руководитель организации:</div>
                    </div>
                    <div class="col-md-9">
                        Малолетков Алексей Владимирович
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Доступ в систему:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-success text-bold"><i class="fa fa-check mr-1"></i>открыт</span>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Логин / E-mail для восстановления:</div>
                    </div>
                    <div class="col-md-9">
                        <span class="text-bold">acsm49</span><a href="mailto:info@gacmrnaks.ru" class="ml-2">info@gacmrnaks.ru</a>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="text-secondary">Подразделения организации:</div>
                    </div>
                    <div class="col-md-9">
                        <div>
                            <a href="#" class="btn btn-outline-secondary btn-sm">Лаборатории <span class="badge badge-light border">1</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-main">
                <button type="submit" class="btn btn-primary btn-sm">Выгрузить на сайт<i class="fa fa-angle-right ml-1"></i></button>
                <button id="btnEditInfo" class="btn btn-outline-primary btn-sm" type="button">Изменить</button>
            </div>
        </div>
    </div>
    <div id="orgInfoEdit" style="display: none;">
        <!-- <div class="static-text static-text-sm">
    <div class="row-main">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="text-secondary">Наименование организации:</div>
            </div>
            <div class="col-md-9">
                ООО "Головной аттестационный центр Межрегиональный Национального Агентства Контроля и Сварки"
            </div>
        </div>
    </div>
    <div class="row-main">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="text-secondary">ИНН:</div>
            </div>
            <div class="col-md-9">
                7701848850
            </div>
        </div>
    </div>
    <div class="row-main">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="text-secondary">Юридический адрес:</div>
            </div>
            <div class="col-md-9">
                105005, город Москва, улица 2-я Бауманская, дом 5, строение 14
            </div>
        </div>
    </div>
    <div class="row-main">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="text-secondary">Руководитель организации:</div>
            </div>
            <div class="col-md-9">
                Малолетков Алексей Владимирович
            </div>
        </div>
    </div>
</div> -->
        <form class="editing-form shadow-sm">
            <div class="form-group row mt-2">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Шифр аттестационного центра</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control form-control-sm" value="АЦСМ-49" disabled>
                </div>
            </div>
            <div class="form-group row mb-sm-0">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Срок действия аттестата соответствия</label>
                <div class="col-sm-4 col-lg-2 mb-3 mb-md-0">
                    <input type="date" class="form-control form-control-sm">
                </div>
                <div class="col-sm-4 col-lg-2">
                    <input type="date" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row align-items-center mb-0 mb-sm-2">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm"></label>
                <div class="col-sm-8">
                    <div class="form-check form-check-sm">
                        <input class="form-check-input" type="checkbox" id="centerExpulsion">
                        <label class="form-check-label text-danger" for="centerExpulsion">исключен</label>
                    </div>
                </div>
            </div>
            <div class="form-group row align-items-center">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm"></label>
                <div class="col-sm-8">
                    <div class="form-check form-check-sm">
                        <input class="form-check-input" type="checkbox" id="activitySuspended">
                        <label class="form-check-label text-danger" for="activitySuspended">деятельность приостановлена</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="form-group row ">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Город</label>
                <div class="col-sm-4 col-lg-4">
                    <!-- <input type="text" disabled class="form-control-plaintext form-control-sm" value="Москва">
                    <a href="#" class="ml-2"><i class="fa fa-edit"></i></a> -->
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <!-- <div class="form-group row align-items-center">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Город</label>
                <div class="col-sm-4 col-lg-4">
                    <input type="text" class="form-control form-control-sm" disabled>
                </div>
                <div class="col-1">
                    <a href="#" class="btn btn-sm btn-outline-primary"><i class="fa fa-edit"></i></a>
                </div>
            </div> -->
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Фактический адрес</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Почтовый адрес</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Почтовый адрес (для рассылки)</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Телефон / Факс</label>
                <div class="col-sm-4 mb-3 mb-md-0">
                    <input type="text" class="form-control form-control-sm" placeholder="телефон">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" placeholder="факс">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">E-mail</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Руководитель центра</label>
                <div class="col-sm-4 mb-3 mb-md-0">
                    <input type="text" class="form-control form-control-sm" placeholder="ФИО">
                </div>
            </div>
            <hr>
            <div class="form-group row">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Логин / E-mail для восстановления</label>
                <div class="col-sm-4 mb-3 mb-md-0">
                    <input type="text" class="form-control form-control-sm" placeholder="логин">
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-sm" placeholder="e-mail">
                </div>
            </div>
            <button type="summit" class="btn btn-primary btn-sm">Сохранить</button>
            <button id="cancelInfoEdit" class="btn btn-outline-primary btn-sm" type="button">Отмена</button>
        </form>
    </div>
</div>