{% load static %}
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-001</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-002</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-003</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-004</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-005</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-006</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-007</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-008</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-009</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-010</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-011</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-012</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-013</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-014</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-015</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-016</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-017</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-018</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-019</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-020</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-021</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-022</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-023</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-024</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-025</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-026</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-027</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-028</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-029</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-030</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-031</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-032</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-033</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-034</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-035</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-036</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-037</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-038</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-039</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-040</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-031</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-032</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-033</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-034</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-035</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-036</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">ЦОК-037</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
        </ul>
    </div>
</div>