{% load static %}
<div class="row">
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-1</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-2</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-3</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-4</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-5</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-6</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-7</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-8</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-9</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-10</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-11</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-12</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-13</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-14</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-15</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-16</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-17</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-18</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-19</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-20</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-21</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-22</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-23</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-24</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-25</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-26</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-27</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-28</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-29</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-30</a><span class="float-right">Москва</span></li>
        </ul>
    </div>
    <div class="col-sm-6 col-xl-3">
        <ul class="list-group list-group-flush bg-light shadow-sm">
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-31</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-32</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-33</a><span class="float-right">Ростов-на-Дону</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-34</a><span class="float-right">Уфа</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-35</a><span class="float-right">Москва</span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-36</a><span class="float-right">Санкт-Петербург<span class="text-danger">*</span></span></li>
            <li class="list-group-item list-group-item-action"><a href="#">АЦСМ-37</a><span class="float-right">Воронеж<span class="text-danger">*</span></span></li>
        </ul>
    </div>
</div>