{% load static %}
<a href="#" class="btn btn-primary btn-sm mb-3" role="button"><i class="fa fa-plus mr-1" aria-hidden="true"></i>Добавить удостоверение</a>
<div class="table-responsive">
    <table class="table table-bordered table-main">
        <thead>
            <tr class="active">
                <th colspan="2">№ удостоверения</th>
                <th>Начало активности</th>
                <th>Окончание активности</th>
                <th>Тип удостоверения</th>
                <th>Область деятельности</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="30">
                    <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                    </div>
                </td>
                <td>СЗР-1ГАЦ-IV-00129</td>
                <td>13.10.2019</td>
                <td>13.10.2021</td>
                <td>ГТУ ПиА РиК</td>
                <td class="text-left">[7] ГО, КО, МО, НГДО, ОХНВП, ПТО, СК</td>
            </tr>
            <tr>
                <td width="30">
                    <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                    </div>
                </td>
                <td>0918-02-СП</td>
                <td>13.10.2015</td>
                <td>13.10.2018</td>
                <td>ЧК</td>
                <td class="text-left">[24] ААД, ААДН, ААДП, АПГ, АПС, АФ, АФЛН, АФПН, Г, ЗН, МАДП, МДС, МП, МПГ, МПС, МСОД, МФ, НГ, НИ, РАД, РАДН, РД, РДН, Э</td>
            </tr>
            <tr>
                <td width="30">
                    <a href="#" class="text-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Действия"><i class="fa fa-bars"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/reestradmin/organization_edit/"><i class="fa fa-eye mr-1"></i>Просмотр</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-pencil-square-o mr-1"></i>Изменить</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-times mr-1 text-danger"></i>Удалить</a>
                    </div>
                </td>
                <td>0218-10-ОК</td>
                <td>13.10.2019</td>
                <td>13.10.2021</td>
                <td>эксперт / технический эксперт</td>
                <td class="text-left"><a href="#" class="btn btn-outline-secondary btn-xs">Открыть</a></td>
            </tr>
        </tbody>
    </table>
</div>