<div class="filter-block mb-4">
    <div class="line-filter py-2">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md mb-2 mb-md-0">
                    <a href="{% url 'reestradmin:expert_profile' %}" class="btn btn-sm btn-primary"><i class="fa fa-plus mr-2"></i>Добавить эксперта</a>
                </div>
                <div class="col-md col-lg-5 col-xl-4 float-sm-right">
                    <form>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Поиск..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon2" title="Найти"><i class="fa fa-search"></i></button>
                                <button type="button" class="btn btn-primary" data-toggle="collapse" href="#collapse-filter" role="button" aria-expanded="false" aria-controls="collapse-filter">Фильтр <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse filter py-3" id="collapse-filter">
        <!-- Расширенный фильтр -->
        <div class="container-fluid">
            <form role="form">
                <div class="row align-items-center">
                    <div class="col-sm-8 col-xl-4">
                        <div class="form-group">
                            <label class="label-sm" for="">Наименование организации</label>
                            <input type="text" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">ИНН</label>
                            <input type="text" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Город</label>
                            <input type="text" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Членство в СРО</label>
                            <select class="form-control form-control-sm" id="">
                                <option>все</option>
                                <option>Член СРО</option>
                                <option>Исключен</option>
                                <option>ЦСП</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label label-sm" for="inlineCheckbox1">с фото</label>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                        <div class="form-group">
                            <label class="label-sm" for="">Деятельность</label>
                            <select class="form-control form-control-sm" id="">
                                <option>все</option>
                                <option>АЦ</option>
                                <option>ЦСП</option>
                                <option>АЦСМ</option>
                                <option>АЦСО</option>
                                <option>АЦСТ</option>
                                <option>ОСП</option>
                                <option>ЦОК</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-2 col-xl-1">
                        <div class="form-group">
                            <label class="label-sm" for="">№</label>
                            <input type="text" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Статус</label>
                            <select class="form-control form-control-sm" id="">
                                <option>все</option>
                                <option>Действующие</option>
                                <option>Исключенные</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Срок действия, от</label>
                            <input type="date" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">до</label>
                            <input type="date" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-6 col-sm-4 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Наличие заявок</label>
                            <select class="form-control form-control-sm" id="">
                                <option>все</option>
                                <option>С заявками</option>
                                <option>Без заявок</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6 col-xl-4">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label label-sm" for="inlineCheckbox1">в работе</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search mr-2"></i>Найти</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">Сбросить</button>
                <button type="button" class="btn btn-link btn-sm" data-toggle="collapse" href="#collapse-filter" role="button" aria-expanded="false" aria-controls="collapse-filter">Закрыть</button>
            </form>
        </div>
    </div>
</div>