<div class="filter-block mb-4">
    <div class="line-filter py-2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md mb-2 mb-md-0">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownAddWebinar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus mr-2"></i>Добавить вебинар<i class="fa fa-angle-down ml-2"></i></button>
                        <div class="dropdown-menu" aria-labelledby="dropdownAddWebinar">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-add-webinar">Информационный вебинар</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modal-choice-group-csp">Для групп спецподготовки</a>
                        </div>
                    </div>
                    <!-- <a href="#" class="btn btn-sm btn-primary mb-2 mb-lg-0" data-toggle="modal" data-target="#modal-add-webinar"><i class="fa fa-plus mr-2"></i>Добавить вебинар</a>
                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal-add-group-csp"><i class="fa fa-plus mr-2"></i>Выбрать группу спецподготовки</a> -->
                </div>
                <div class="col-md col-lg-5 col-xl-4 float-sm-right">
                    <form>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Поиск..." aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit" id="button-addon2" title="Найти"><i class="fa fa-search"></i></button>
                                <button type="button" class="btn btn-primary" data-toggle="collapse" href="#collapse-filter" role="button" aria-expanded="false" aria-controls="collapse-filter">Фильтр <i class="fa fa-angle-down" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse filter py-3" id="collapse-filter">
        <!-- Расширенный фильтр -->
        <div class="container-fluid">
            <form role="form">
                <div class="row align-items-center">
                    <div class="col-sm-6 col-xl-4">
                        <div class="form-group">
                            <label class="label-sm" for="">Название</label>
                            <input type="text" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">Дата вебинара, от</label>
                            <input type="date" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-xl-2">
                        <div class="form-group">
                            <label class="label-sm" for="">до</label>
                            <input type="date" class="form-control form-control-sm" id="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-search mr-2"></i>Найти</button>
                <button type="submit" class="btn btn-outline-primary btn-sm">Сбросить</button>
                <button type="button" class="btn btn-link btn-sm" data-toggle="collapse" href="#collapse-filter" role="button" aria-expanded="false" aria-controls="collapse-filter">Закрыть</button>
            </form>
        </div>
    </div>
</div>