{% load static %}
<div class="container">
    <h5>Аттестационные пункты, материально-техническая база, лаборатории по аттестации персонала</h5>
    <div class="mb-3">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="active">
                        <th>Действия</th>
                        <th>Шифр АП</th>
                        <th>Наименование организации</th>
                        <th>Юридический адрес</th>
                        <th>Фактический адрес</th>
                        <th>Способы сварки</th>
                        <th>Группы технических устройств</th>
                        <th>Активность</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                        <td><strong>МТБ</strong></td>
                        <td>АНО "ВРАЦ"</td>
                        <td>160014, г. Вологда, ул. Саммера, д. 43</td>
                        <td>160014, г. Вологда, ул. Саммера, д. 43</td>
                        <td>АФ, Г, ЗН, МАДП, МП, МПГ, МПС, НИ, РАД, РАДН, РД, РДН</td>
                        <td>ГО, КО, МО, НГДО, ОХНВП, ПТО, СК</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                        <td><strong>СЗР-1АЦ-11АП</strong></td>
                        <td>АО "Коксохиммонтаж-2"</td>
                        <td>162600, Вологодская обл., г. Череповец, Северное шоссе, д. 65</td>
                        <td>162600, Вологодская обл., г. Череповец, Северное шоссе, д. 65</td>
                        <td>АФ, Г, МАДП, МП, МПГ, МПС, РАД, РАДН, РД, РДН</td>
                        <td>ГО, КО, МО, ОХНВП, ПТО, СК</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2">СЗР-1АЦ-15АП</td>
                        <td colspan="5">Исключён из реестра 30 марта 2012 г.</td>
                        <td class="text-danger">исключен</td>
                    </tr>
                    <tr>
                        <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                        <td><strong>СЗР-1АЦ-16АП</strong></td>
                        <td>АНО "ВРАЦ"<br><small class="text-secondary">(производственная база)</small></td>
                        <td>160014, г. Вологда, ул. Саммера, д. 43</td>
                        <td>162614, Вологодская обл., г. Череповец, ул. Комсомольская, д. 28 </td>
                        <td>АФ, Г, МАДП, МП, МПГ, МПС, РАД, РАДН, РД, РДН</td>
                        <td>ГО, КО, МО, НГДО, ОХНВП, ПТО, СК</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                        <td><strong>Лаборатория</strong></td>
                        <td>АНО "ВРАЦ"</td>
                        <td>160014, г. Вологда, ул. Саммера, д. 43</td>
                        <td></td>
                        <td></td>
                        <td>ГО, КО, МО, НГДО, ОХНВП, ПТО, СК</td>
                        <td>до 08.12.2020</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs"><i class="fa fa-plus mr-1"></i>Добавить</button>
    </div>
    <h5>Экзаменационные центры, материально-технические базы по оценке квалификаций</h5>
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr class="active">
                    <th>Действия</th>
                    <th>Шифр ЭЦ, МТБ</th>
                    <th>Фактический адрес</th>
                    <th>Область деятельности</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                    <td><strong>ЦОК-002-МТБ [35.001.35.01]</strong></td>
                    <td>160014, г. Вологда, ул. Саммера, д. 43</td>
                    <td><a href="#" class="btn btn-outline-secondary btn-xs">Открыть</a></td>
                </tr>
                <tr>
                    <td class="text-center"><button class="btn btn-outline-primary btn-xs" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button></td>
                    <td><strong>ЦОК-002-1МТБ [35.001.35.02]</strong></td>
                    <td>162614, Вологодская обл., г. Череповец, ул. Комсомольская, д. 28</td>
                    <td><a href="#" class="btn btn-outline-secondary btn-xs">Открыть</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs"><i class="fa fa-plus mr-1"></i>Добавить</button>
</div>