{% load static %}
<div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div class="mb-2"><strong>Внимание!!!</strong> В ближайшее время область деятельности будет ограничена.</div>
        <ol class="mb-0">
            <li>СЗР-1АЦ - Группы технических устройств</li>
            <li>ЦОК-002 - Профессиональные стандарты, квалификации</li>
        </ol>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <h5>Аттестация персонала сварочного производства</h5>
    <div class="static-text static-text-sm mb-3">
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Шифр центра:</div>
                </div>
                <div class="col-md-9">
                    <strong>СЗР-1АЦ</strong>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                </div>
                <div class="col-md-9">
                    c 13.04.2018 по 13.04.2021
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Условия действия аттестата</a>:</div>
                </div>
                <div class="col-md-9">
                    от 26.12.2018
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Свидетельство о допуске</a>:</div>
                </div>
                <div class="col-md-9">
                    от 13.04.2018
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Руководитель АЦ:</div>
                </div>
                <div class="col-md-9">
                    Церникель Марина Валерьевна
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Группы технических устройств:</div>
                </div>
                <div class="col-md-9">
                    ГО, КО, МО, НГДО, ОХНВП, ПТО, СК [7]
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Способы сварки (наплавки):</div>
                </div>
                <div class="col-md-9">
                    <div><span class="text-danger dot-danger" data-container="body" data-toggle="popover" data-placement="top" data-trigger='hover' data-content="до 10.10.2019">АФ, Г, ЗН</span>, МАДП, МП, МПГ, МПС, НИ, РАД, РАДН, РД, РДН [12]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Уровни профессиональной подготовки:</div>
                </div>
                <div class="col-md-9">
                    I, II, III [3]
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Подразделения организации:</div>
                </div>
                <div class="col-md-9">
                    <a href="#" class="btn btn-outline-secondary btn-sm">Аттестационные пункты <span class="badge badge-light border">2</span></a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Материально-технические базы <span class="badge badge-light border">1</span></a>
                    <a href="#" class="btn btn-outline-secondary btn-sm">Лаборатории <span class="badge badge-light border">1</span></a>
                </div>
            </div>
        </div>
        <div class="row-main">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button>
        </div>
    </div>
    <h5>Центр специальной подготовки</h5>
    <div class="static-text static-text-sm mb-3">
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Шифр центра:</div>
                </div>
                <div class="col-md-9">
                    <strong>СЗР-12ЦСП</strong>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                </div>
                <div class="col-md-9">
                    c 13.04.2018 по 13.04.2021
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Руководитель ЦСП:</div>
                </div>
                <div class="col-md-9">
                    Вепрев Алексей Николаевич
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Группы технических устройств:</div>
                </div>
                <div class="col-md-9">
                    ГО, КО, МО, НГДО, ОХНВП, ПТО, СК [7]
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Способы сварки (наплавки):</div>
                </div>
                <div class="col-md-9">
                    АФ, Г, ЗН, МАДП, МП, МПГ, МПС, НИ, РАД, РАДН, РД, РДН [12]
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Уровни профессиональной подготовки:</div>
                </div>
                <div class="col-md-9">
                    I, II, III [3]
                </div>
            </div>
        </div>
        <div class="row-main">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button>
        </div>
    </div>
    <h5>Аттестация сварочного оборудования</h5>
    <div class="static-text static-text-sm mb-3">
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Шифр центра:</div>
                </div>
                <div class="col-md-9">
                    <div><strong>АЦСО-60</strong></div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>c 13.04.2018 по 13.04.2021</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Условия действия аттестата</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>от 21.12.2018</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Свидетельство о допуске</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>от 13.04.2018</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Руководитель АЦ:</div>
                </div>
                <div class="col-md-9">
                    <div>Гагарин Юрий Владимирович</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Виды СО:</div>
                </div>
                <div class="col-md-9">
                    <div>A, B, D [3]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Группы технических устройств:</div>
                </div>
                <div class="col-md-9">
                    <div>ГО, КО, МО, НГДО, ОХНВП, ПТО, СК [7]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button>
        </div>
    </div>
    <h5>Аттестация сварочных технологий</h5>
    <div class="static-text static-text-sm mb-3">
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Шифр центра:</div>
                </div>
                <div class="col-md-9">
                    <div><strong>АЦСТ-20</strong></div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>c 26.04.2019 по 26.04.2022</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Условия действия аттестата</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>от 26.04.2019</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Свидетельство о допуске</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>от 26.04.2019</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Руководитель АЦ:</div>
                </div>
                <div class="col-md-9">
                    <div>Гагарин Юрий Владимирович</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Виды аттестации технологий:</div>
                </div>
                <div class="col-md-9">
                    <div>Производственная [1]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Группы технических устройств:</div>
                </div>
                <div class="col-md-9">
                    <div>ГО, КО, МО, НГДО, ОХНВП, ПТО, СК [7]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Способы сварки (наплавки):</div>
                </div>
                <div class="col-md-9">
                    <div>ААД, ААДП, АФ, Г, ЗН, МАДП, МП, МПГ, МПИ, МПС, НИ, РАД, РАДН, РД, РДН [15]</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button>
        </div>
    </div>
    <h5>Оценка квалификаций</h5>
    <div class="static-text static-text-sm mb-3">
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Шифр центра:</div>
                </div>
                <div class="col-md-9">
                    <div><strong>ЦОК-002 (35.001)</strong></div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Срок действия <a href="#" target="_blank">Аттестата соответствия</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>c 16.02.2018 по 16.02.2021</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary"><a href="#" target="_blank">Условия действия аттестата</a>:</div>
                </div>
                <div class="col-md-9">
                    <div>от 19.12.2018</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Руководитель ЦОК:</div>
                </div>
                <div class="col-md-9">
                    <div>Церникель Марина Валерьевна</div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Профессиональные стандарты, квалификации:</div>
                </div>
                <div class="col-md-9">
                    <div class="static-text-sublevel">
                        <a href="#collapse-ps01" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-ps01">40.002 Сварщик</a>
                        <div class="collapse" id="collapse-ps01">
                            <div class="card card-body">
                                <p>40.00200.01 Сварщик дуговой сварки плавящимся покрытым электродом (2 уровень квалификации)</p>
                                <p>40.00200.02 Сварщик дуговой сварки плавящимся покрытым электродом (3 уровень квалификации)</p>
                                <p>40.00200.01 Сварщик дуговой сварки плавящимся покрытым электродом (4 уровень квалификации)</p>
                            </div>
                        </div>
                    </div>
                    <div class="static-text-sublevel">
                        <a href="#collapse-ps02" class="active" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-ps02">40.109 Сварщик-оператор полностью механизированной, автоматической и роботизированной сварки</a>
                        <div class="collapse show" id="collapse-ps02">
                            <div class="card card-body">
                                <p>40.10900.01 Оператор автоматической сварки плавлением металлических материалов (3 уровень квалификации)</p>
                                <p>40.10900.03 Оператор автоматической сварки полимерных материалов (3 уровень квалификации)</p>
                                <p class="text-danger dot-danger" data-container="body" data-toggle="popover" data-placement="top" data-trigger='hover' data-content="до 10.10.2019">40.10900.06 Сварщик-оператор автоматической сварки плавлением металлических материалов (4 уровень квалификации)</p>
                                <p class="text-danger dot-danger" data-container="body" data-toggle="popover" data-placement="top" data-trigger='hover' data-content="до 10.10.2019">40.10900.08 Сварщик-оператор автоматической сварки полимерных материалов (4 уровень квалификации)</p>
                            </div>
                        </div>
                    </div>
                    <div class="static-text-sublevel">
                        <a href="#collapse-ps03" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapse-ps03">40.107 Контролер сварочных работ</a>
                        <div class="collapse" id="collapse-ps03">
                            <div class="card card-body">
                                <p>40.10900.01 Оператор автоматической сварки плавлением металлических материалов (3 уровень квалификации)</p>
                                <p>40.10900.03 Оператор автоматической сварки полимерных материалов (3 уровень квалификации)</p>
                                <p>40.10900.06 Сварщик-оператор автоматической сварки плавлением металлических материалов (4 уровень квалификации)</p>
                                <p>40.10900.08 Сварщик-оператор автоматической сварки полимерных материалов (4 уровень квалификации)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <div class="text-secondary">Подразделения организации:</div>
                </div>
                <div class="col-md-9">
                    <div>
                        <a href="#" class="btn btn-outline-secondary btn-sm">Материально-технические базы <span class="badge badge-light border">2</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-main">
            <button class="btn btn-outline-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs">Изменить</button>
        </div>
    </div>
    <div class="dropup">
        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownaAtivities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Добавить направление<i class="fa fa-angle-up ml-1"></i></button>
        <div class="dropdown-menu" aria-labelledby="dropdownaAtivities">
            <a class="dropdown-item" href="#">АЦ - аттестация персонала сварочного производства</a>
            <a class="dropdown-item" href="#">ЦСП - центр специальной подготовки</a>
            <a class="dropdown-item" href="#">АЦСМ - аттестация сварочных материалов</a>
            <a class="dropdown-item" href="#">АЦСО - аттестация сварочного оборудования</a>
            <a class="dropdown-item" href="#">АЦСТ - аттестация сварочных технологий</a>
            <a class="dropdown-item" href="#">ЦОК - оценка квалификаций</a>
            <a class="dropdown-item" href="#">ОСП - добровольная сертификация</a>
        </div>
    </div>
    <!-- <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#modalAccessDocs"><i class="fa fa-plus mr-1"></i>Добавить направление</button> -->
</div>