{% load static %}
<div class="row align-items-center mb-3">
    <div class="col">1-10 из 195</div>
    <div class="col">
        <nav class="float-right" aria-label="...">
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item disabled">
                    <span class="page-link" title="Пред.">&laquo;</span>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" title="След.">&raquo;</a>
                </li>
            </ul>
        </nav>
    </div>
</div>