{% load static %}
<div class="top-menu">
    <nav class="navbar navbar-expand-lg bg-light">
        <button class="navbar-toggler border" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item {% if 'organization_list' in request.path or 'organization_edit' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'reestradmin:organization_list' %}">Организации</a>
                </li>
                <li class="nav-item {% if 'centers_list' in request.path or 'center_acsm_edit' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'reestradmin:centers_list' %}">Центры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Аттестационные&nbsp;пункты</a>
                </li>
                <!-- <li class="nav-item {% if 'csp_groups' in request.path or 'csp_add_group' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'reestradmin:csp_groups' %}">Группы&nbsp;ЦСП</a>
                </li> -->
                <li class="nav-item {% if 'experts_list' in request.path or 'expert_profile' in request.path or 'certificates_list' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'reestradmin:experts_list' %}">Эксперты&nbsp;НАКС</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Заявки</a>
                </li>
                <li class="nav-item {% if 'list_instructions' in request.path or 'instruction_detail' in request.path %}active{% endif %}">
                    <a class="nav-link" href="{% url 'reestradmin:list_instructions' %}">Указания</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Протоколы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Свидетельства</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Персонал</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Отчеты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Сервисы<i class="fa fa-angle-down d-inline ml-1"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'reestradmin:webinars' %}">Вебинары</a>
                        <a class="dropdown-item" href="#">Заказ&nbsp;удостоверений</a>
                        <a class="dropdown-item" href="#">Аналитика</a>
                        <a class="dropdown-item" href="#">Бланки</a>
                        <a class="dropdown-item" href="#">Сборники&nbsp;вопросов</a>
                        <a class="dropdown-item" href="#">Графики</a>
                        <a class="dropdown-item" href="#">Обеспечение&nbsp;ФЗ-152</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Справочник&nbsp;НАКС</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Адресная&nbsp;книга</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Пользователи</a>
                </li>
            </ul>
        </div>
    </nav>
</div>