{% load static %}

<tr>
    <td>
        {% if center.active %}
            {% if center.special == 'tn' %}
        <img src="{% static 'images/iconTransneft.png' %}"
        title="АЦ осуществляет аттестацию на объектах ПАО «АК «Транснефть»"><br>
            {% endif %}
            {% if center.special == 'gp' %}
            <img src="{% static 'images/iconGazprom.png' %}"
            title="АЦ осуществляет аттестацию на объектах ПАО «Газпром»">
            {% endif %}
        {% endif %}
    </td>
    <td><a href="{% url 'sasv_br1gac' %}" class="">{{ center.short_code }}</a></td>
    <td>{{ center.sro_member.city.title }}</td>
    <td>
        {% if center.active %}
        {% if center.temporary_suspend_date is None %}
        <a href="#" class="btn btn-outline-primary btn-sm" data-toggle="modal"
        data-target="#modal-authorization">Подать заявку</a>
        {% endif %}
        {% endif %}
    </td>
</tr>
