{% load static %}

{% comment %} <tr {% if center.active and center.temporary_suspend_date is None %}
        {% if 'personal' in request.path %}id="personal_{{ center.pk }}" ref="personal_{{ center.pk }}"{% endif %}
        {% if 'specpod' in request.path %}id="specpod_{{ center.pk }}" ref="specpod_{{ center.pk }}"{% endif %}
        {% if 'attsm' in request.path %}id="attsm_{{ center.pk }}" ref="attsm_{{ center.pk }}"{% endif %}
        {% if 'attso' in request.path %}id="attso_{{ center.pk }}" ref="attso_{{ center.pk }}"{% endif %}
        {% if 'attst' in request.path %}id="attst_{{ center.pk }}" ref="attst_{{ center.pk }}"{% endif %}
        {% if 'qualification' in request.path %}id="qualification_{{ center.pk }}" ref="attst_{{ center.pk }}"{% endif %}
        {% if 'certification' in request.path %}id="certification_{{ center.pk }}" ref="attst_{{ center.pk }}"{% endif %}
    {% endif %}> {% endcomment %}
<tr id="{{ direction.title }}_{{ center.pk }}" ref="{{ direction.title }}_{{ center.pk }}">
    <td>
        {% if center.active %}
            {% if center.special == 'tn' %}
        <img src="{% static 'images/iconTransneft.png' %}"
        title="АЦ осуществляет аттестацию на объектах ПАО «АК «Транснефть»"><br>
            {% endif %}
            {% if center.special == 'gp' %}
            <img src="{% static 'images/iconGazprom.png' %}"
            title="АЦ осуществляет аттестацию на объектах ПАО «Газпром»">
            {% endif %}
        {% endif %}
    </td>
    <td><a href="{% url 'sasv_br1gac' %}" class="">{{ center.short_code }}</a></td>
    <td>{{ center.sro_member.city.title }}</td>
    <td>
        {% if center.active %}
        {% if center.temporary_suspend_date is None %}
        <a href="#" class="btn btn-outline-primary btn-xs" data-toggle="modal"
        data-target="#modal-authorization">Подать заявку</a>
        {% endif %}
        {% endif %}
    </td>
</tr>
