{% load static %}
<table class="table table-sm table-hover">
	<tbody>
		<tr class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="a">
					<label class="custom-control-label" for="a">A</label>
				</div>
			</td>
			<td>Оборудование для дуговой сварки (наплавки)</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="a1">
					<label class="custom-control-label" for="a1">A1</label>
				</div>
			</td>
			<td>Трансформатор для ручной дуговой сварки</td>
		</tr>
		<tr class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="b">
					<label class="custom-control-label" for="b">B</label>
				</div>
			</td>
			<td>Оборудование для газовой сварки</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="b1">
					<label class="custom-control-label" for="b1">B1</label>
				</div>
			</td>
			<td>Оборудование для газовой сварки с использованием ацетилено-кислородного пламени</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="b2">
					<label class="custom-control-label" for="b2">B2</label>
				</div>
			</td>
			<td>Оборудование для газовой сварки с использованием газов-заменителей</td>
		</tr>
	</tbody>
</table>