{% load static %}
<table class="table table-sm table-hover" id="table-technicalDevices">
	<tbody>
		<tr v-for="(gtu, index) in accred_fields.gtu" class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" :id="'gtu_'+index">
					<label class="custom-control-label" :for="'gtu_'+index">[[ gtu.short_name ]]</label>
				</div>
			</td>
			<td>[[ gtu.full_name ]]</td>
		</tr>
		{% comment %} <tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="gdo1">
					<label class="custom-control-label" for="gdo1">ГДО (1)</label>
				</div>
			</td>
			<td>Технические устройства для горнодобывающих и горно-обогатительных производств и подземных объектов</td>
		</tr>
		<tr class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="go">
					<label class="custom-control-label" for="go">ГО</label>
				</div>
			</td>
			<td>Газовое оборудование</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="go1">
					<label class="custom-control-label" for="go1">ГО (1)</label>
				</div>
			</td>
			<td>Трубопроводы систем внутреннего газоснабжения</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="go2m">
					<label class="custom-control-label" for="go2m">ГО (2м)</label>
				</div>
			</td>
			<td>Наружные газопроводы низкого, среднего и высокого давления стальные</td>
		</tr> {% endcomment %}
	</tbody>
</table>