{% load static %}
<div class="alert alert-info" role="alert">
  	<small><i class="fa fa-info-circle mr-2"></i>актуально только для специалистов сварочного производства (II, III, IV уровень профессиональной подготовки)</small>
</div>
<table class="table table-striped table-sm table-hover">
	<tbody>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="ruk">
					<label class="custom-control-label" for="ruk">Руководство и технический контроль за проведением сварочных работ</label>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="pia">
					<label class="custom-control-label" for="pia">Участие в работе органов по подготовке и аттестации (ПиА)</label>
				</div>
			</td>
		</tr>
	</tbody>
</table>