{% load static %}
<table class="table table-sm table-hover" id="table-qualifications">
	<tbody>
		<tr class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="400.02">
					<label class="custom-control-label" for="400.02">40.002</label>
				</div>
			</td>
			<td>Сварщик</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="40.00200.01">
					<label class="custom-control-label" for="40.00200.01">40.00200.01</label>
				</div>
			</td>
			<td>Сварщик дуговой сварки плавящимся покрытым электродом (2 уровень квалификации)</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="40.00200.02">
					<label class="custom-control-label" for="40.00200.02">40.00200.02</label>
				</div>
			</td>
			<td>Сварщик дуговой сварки плавящимся покрытым электродом (3 уровень квалификации)</td>
		</tr>
		<tr class="table-active font-weight-bold">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="40.107">
					<label class="custom-control-label" for="40.107">40.107</label>
				</div>
			</td>
			<td>Контролер сварочных работ</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="40.10700.01">
					<label class="custom-control-label" for="40.10700.01">40.10700.01</label>
				</div>
			</td>
			<td>Контролер подготовительных и сборочных работ в сварочном производстве (4 уровень квалификации)</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="40.10700.02">
					<label class="custom-control-label" for="40.10700.02">40.10700.02</label>
				</div>
			</td>
			<td>Контролер сварочных работ (4 уровень квалификации)</td>
		</tr>
	</tbody>
</table>