{% load static %}
<table class="table table-striped table-sm table-hover">
	<tbody>
		<tr v-for="(sm, index) in accred_fields.sm_types">
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input v-model="sm.selected" @change="selectMaterial(sm)" type="checkbox" class="custom-control-input" :id="'sm_'+index">
					<label class="custom-control-label" :for="'sm_'+index">[[ sm.short_name ]]</label>
				</div>
			</td>
			<td>[[ sm.full_name ]]</td>
		</tr>
		{% comment %} <tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="gz">
					<label class="custom-control-label" for="gz">Гз</label>
				</div>
			</td>
			<td>Газы защитные</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="pm">
					<label class="custom-control-label" for="pm">Пм</label>
				</div>
			</td>
			<td>Порошковые материалы</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="pp">
					<label class="custom-control-label" for="pp">Пп</label>
				</div>
			</td>
			<td>Проволока порошковая и ленты порошковые</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="pr">
					<label class="custom-control-label" for="pr">Пр</label>
				</div>
			</td>
			<td>Припои</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="pc">
					<label class="custom-control-label" for="pc">Пс</label>
				</div>
			</td>
			<td>Проволока сварочная сплошного сечения</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="tm">
					<label class="custom-control-label" for="tm">Тм</label>
				</div>
			</td>
			<td>Термитные материалы</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="f">
					<label class="custom-control-label" for="f">Ф</label>
				</div>
			</td>
			<td>Флюсы сварочные</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="en">
					<label class="custom-control-label" for="en">Эн</label>
				</div>
			</td>
			<td>Электроды неплавящиеся для дуговой сварки</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="ep">
					<label class="custom-control-label" for="ep">Эп</label>
				</div>
			</td>
			<td>Электроды плавящиеся для дуговой сварки</td>
		</tr> {% endcomment %}
	</tbody>
</table>