{% load static %}
<table class="table table-striped table-sm table-hover">
	<tbody>
		{% for weld in weld_types %}
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="weldtype_{{ weld.pk }}">
					<label class="custom-control-label" for="weldtype_{{ weld.pk }}">{{ weld.short_name }}</label>
				</div>
			</td>
			<td>{{ weld.full_name }}</td>
		</tr>
		{% endfor %}
		{% comment %}<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="aad">ААДН</label>
				</div>
			</td>
			<td>Автоматическая аргонодуговая наплавка неплавящимся электродом</td>
		</tr>
		 <tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="aadp">ААДП</label>
				</div>
			</td>
			<td>Автоматическая аргонодуговая сварка плавящимся электродом</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="apg">АПГ</label>
				</div>
			</td>
			<td>Автоматическая сварка плавящимся электродом в среде активных газов и смесях</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="aps">АПС</label>
				</div>
			</td>
			<td>Автоматическая сварка самозащитной порошковой проволокой</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="af">АФ</label>
				</div>
			</td>
			<td>Автоматическая сварка под флюсом</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="afln">АФЛН</label>
				</div>
			</td>
			<td>Автоматическая наплавка ленточным электродом под флюсом</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="afpn">АФПН</label>
				</div>
			</td>
			<td>Автоматическая наплавка проволочным электродом под флюсом</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="vchs">ВЧС</label>
				</div>
			</td>
			<td>Высокочастотная сварка</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="g">Г</label>
				</div>
			</td>
			<td>Газовая сварка</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="zn">ЗН</label>
				</div>
			</td>
			<td>Сварка с закладными нагревателями</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="kso">КСО</label>
				</div>
			</td>
			<td>Контактная стыковая сварка оплавлением</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="kss">КСС</label>
				</div>
			</td>
			<td>Контактная стыковая сварка сопротивлением</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="kts">КТС</label>
				</div>
			</td>
			<td>Контактно-точечная сварка</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="kshs">КШС</label>
				</div>
			</td>
			<td>Контактная шовная сварка</td>
		</tr>
		<tr>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" >
					<label class="custom-control-label" for="l">Л</label>
				</div>
			</td>
			<td>Лазерная сварка</td>
		</tr> {% endcomment %}
	</tbody>
</table>