{% load static %}
<div class="alert alert-info" role="alert">
  	<small><i class="fa fa-info-circle mr-2"></i>I уровень - сварщики; II, III, IV уровень - специалисты сварочного производства</small>
</div>
<table class="table table-striped table-sm table-hover">
	<tbody>
		<tr>
			<td v-for="lv in accred_fields.level">
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input @change="change_input(lv)" type="checkbox" class="custom-control-input" :id="'lv_'+lv.level">
					<label class="custom-control-label" :for="'lv_'+ lv.level">[[ lv.level ]]</label>
				</div>
			</td>
			{% comment %} <td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="II">
					<label class="custom-control-label" for="II">II</label>
				</div>
			</td>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="III">
					<label class="custom-control-label" for="III">III</label>
				</div>
			</td>
			<td>
				<div class="custom-control custom-checkbox col-form-label-sm">
					<input type="checkbox" class="custom-control-input" id="IV">
					<label class="custom-control-label" for="IV">IV</label>
				</div>
			</td> {% endcomment %}
		</tr>
	</tbody>
</table>